// Put styles that you might reuse in other projects here

// Framework output settings
$include-normalize: true
$include-grid: true
$include-tile: true
$include-typography: true
$include-visibility: true
$include-colors: true

$output-framework: true // this will output the Normalizer, Grid, etc
@import "settings"

@import "framework/blog"
@import "framework/jetpack"
@import "framework/elements"
@import "framework/cf7"
