// The styling for the blocks below rarely changed
  
[class*="-background-color"]
  background-color: var(--bgColor)

.has-text-color,
.has-inline-color
  color: var(--textColor, var(--text))

///// GENERAL & ALIGNMENT

main
  letter-spacing: calc(0.01 * var(--fontSize))
  overflow-wrap: break-word

  // @todo: problematic on some pages
  > *:first-child:not(.alignfull)
    padding-top: var(--blockSpacing)

    body.single-post &
      padding-top: 0
  
  > *:last-child:not(.alignfull)
    margin-bottom: var(--groupSpacing)

  h1, h2, h3, h4, h5, h6
    clear: both
    color: var(--textColor)
  
  ul, ol
    padding-left: 1.25rem

  ul.has-background,
  ol.has-background
    padding: 1rem 1.5rem
    padding-left: 2.5rem
  
  img
    border-radius: var(--gRadius)
  
  a
    text-decoration: underline
  a:hover
    color: var(--linkColorHover, var(--color1))
  

main,
.wp-block-group__inner-container
  > *
    margin: 0 auto
    max-width: var(--blogWidth)

// Add rim to the side
body:not(.single-post) main,
.wp-block-group.alignfull .wp-block-group__inner-container,
.wp-block-cover__inner-container
  @media ($below-l)
    padding-right: var(--gridRim)
    padding-left: var(--gridRim)

  
main,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column
  > * + *
    margin-top: var(--blockSpacing)



///// ALIGNMENT

.alignleft,
.has-text-align-left
  text-align: left
.alignright,
.has-text-align-right
  text-align: right
.aligncenter,
.has-text-align-center
  text-align: center

.alignwide
  max-width: var(--siteWidth)
  width: 100%
  
  @media ($below-l)
    max-width: 100%


.alignfull
  max-width: none
  margin-top: var(--groupSpacing)

  &:first-child
    margin-top: 0

  + *
    margin-top: var(--groupSpacing)

  + .alignfull
    margin-top: 0

  &:last-child
    margin-bottom: 0


.is-vertically-aligned-top
  align-items: flex-start
  align-self: flex-start

.is-vertically-aligned-center
  align-items: center
  align-self: center

.is-vertically-aligned-bottom
  align-items: flex-end
  align-self: flex-end

// @since WP 5.7.0
.is-content-justification-left
  --flexAlign: flex-start
.is-content-justification-center
  --flexAlign: center
.is-content-justification-right
  --flexAlign: flex-end

[class*="is-content-justification-"]
  justify-content: var(--flexAlign)

  &.is-vertical
    justify-content: normal
    align-items: var(--flexAlign)

.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute !important
  width: 1px
  word-wrap: normal !important



///// PARAGRAPH

p.has-background
  padding: 1rem
  border-radius: var(--gRadius)

.has-drop-cap:first-letter
  float: left
  margin-right: 0.25rem
  font-family: var(--hFontFamily)
  font-weight: 700
  font-size: 3.25rem
  line-height: 3.25rem

.has-small-font-size
  font-size: var(--sFontSize)

.has-medium-font-size
  font-size: var(--mFontSize)

.has-large-font-size
  font-size: var(--lFontSize)
  line-height: var(--hLineHeight)

.has-huge-font-size
  font-size: var(--xlFontSize)
  line-height: var(--hLineHeight)



///// HEADING

h1, h2, h3, h4, h5, h6
  &.has-background
    padding: 1rem 2rem

    @media ($below-s)
      padding: 0.5rem 1rem

  sub,
  sup
    text-transform: uppercase
    line-height: 1.75
    letter-spacing: 0.05em
    font-size: 50%
    font-weight: var(--fontWeight)

  strong
    font-weight: var(--fontWeight)


///// QUOTE

.wp-block-quote
  position: relative
  padding: 0.5rem 2rem
  border-left: 3px solid var(--text)

  > * + *
    margin-top: 1rem

  cite
    display: block
    font-size: var(--sFontSize)
    color: var(--textDim)

  &.has-text-align-right
    border-left: none
    border-right: 3px solid var(--text)

  &.has-text-align-center
    padding-top: 1.5rem
    padding-bottom: 0
    border-left: none

    &::before
      content: ""
      position: absolute
      top: 0
      width: 100px
      height: 3px
      background-color: var(--text)
      transform: translateX(-50%)


  
.wp-block-quote.is-style-large
  padding-top: 1rem
  padding-bottom: 1rem
  margin-top: 2.5rem
  margin-bottom: 2.5rem
  border-left: none
  border-right: none
  border-top: 3px solid var(--textDim)
  border-bottom: 3px solid var(--textDim)

  font-size: var(--h5Size)

  &::before,
  &::after
    display: none

  cite
    text-align: right
    font-size: var(--sFontSize)

  &.has-text-align-center cite
    text-align: center

  &.has-text-align-right cite
    text-align: left
  


///// TABLE

.wp-block-table
  display: flex
  flex-direction: column
  overflow: hidden

  figcaption
    @extend %figcaption

  table
    --theadBg: var(--bgColor, #eef2f7)
    --theadColor: var(--textColor, var(--text))
    --tbodyBg: var(--textInvert)
    --tbodyColor: var(--text)

    width: 100%
    border: 1px solid rgba(black, .1)

  &.is-style-h-full-color table
    --tbodyBg: var(--theadBg)
    --tbodyColor: var(--theadColor)

  &.is-style-stripes
    th, td
      border: 1px solid rgba(black, .5)
    tbody tr:nth-child(odd)
      background: none
    tbody tr:nth-child(even)
      background-color: var(--theadBg)
      color: var(--theadColor)

  thead,
  tfoot
    background-color: var(--theadBg)
    color: var(--theadColor)
    font-weight: 700
    text-align: left
  thead
    border-bottom: 2px solid var(--text)
  tfoot
    border-top: 2px solid var(--text)

  tbody
    background-color: var(--tbodyBg)
    color: var(--tbodyColor)

  tr
    border: none

  th, td
    padding: 0.5rem 1rem
    border: 1px solid rgba(black, .5)

  //
  @media ($below-s)
    overflow-x: auto

    td
      padding: 0.25rem 0.5rem


///// VERSE
  
.wp-block-verse
  white-space: pre-wrap
  font-family: var(--fontFamily)
  font-size: var(--fontSize)


///// CODE & PREFORMATTED

.wp-block-code,
.wp-block-preformatted
  white-space: normal

.wp-block-code
  background-color: rgba(black, .05)
  padding: 1rem
  border: 1px solid rgba(black, .1)
  border-radius: var(--gRadius)

  code
    padding: 0 0.5rem
