///// BUTTONS

.wp-block-buttons
  --buttonGap: 1rem
  display: flex
  align-items: center
  flex-wrap: wrap

  &.aligncenter
    justify-content: center

  &.alignright
    justify-content: flex-end

  &.alignleft
    justify-content: flex-start

  &.is-vertical
    flex-direction: column

.wp-block-button
  a
    text-decoration: none

  + .wp-block-button
    margin-left: var(--buttonGap)

    .is-vertical &
      margin-left: 0
      margin-top: var(--buttonGap)



///// COLUMNS

.wp-block-columns
  display: flex

  &.has-background
    padding: var(--blockSpacing)
    background-color: var(--bgColor)

  @media ($below-s)
    flex-wrap: wrap

.wp-block-column
  flex-basis: 0
  flex-grow: 1
  min-width: 0

  &[style*="flex-basis"]
    flex-grow: 0

  @media ($above-s)
    + .wp-block-column
      margin-left: 1.5rem

  @media ($below-s)
    flex-basis: 100% !important
    width: 100%

    + .wp-block-column
      margin-top: 1.5rem


////// GROUP
  
.wp-block-group
  &:not(.has-background)
    margin: var(--groupSpacing) 0

  &.has-background
    padding: var(--groupSpacing) 0



///// SPACER

.wp-block-spacer
  margin-top: 0
  margin-bottom: 0


///// SEPARATOR

.wp-block-separator
  display: block
  border-top: 2px solid var(--bgColor, var(--textDim))
  margin: 2.5rem auto
  padding: 0
  width: 120px
  line-height: 1
  clear: both

  &.is-style-wide
    width: var(--siteWidth)

  &.is-style-dots
    border: 0
    height: auto
    width: auto
    background-color: transparent
    text-align: center

    &::before
      content: "\00b7 \00b7 \00b7"
      padding-left: 2rem
      font-family: var(--codeFontFamily)
      font-size: var(--largeFontSize)
      letter-spacing: 1.5rem
      color: var(--bgColor, var(--text))
