///// BUTTONS

.wp-block-buttons
  display: flex
  align-items: center
  flex-wrap: wrap

  &.aligncenter
    justify-content: center

  &.alignright
    justify-content: flex-end

  &.alignleft
    justify-content: flex-start

  &.is-vertical
    flex-direction: column

// General Button
.wp-block-button
  + .wp-block-button
    margin-left: 0.75rem

    .is-vertical &
      margin-left: 0
      margin-top: 0.75rem

.button,
[type="submit"],
[type="reset"],
.wp-block-file__button,
.wp-block-button__link
  --bgColor: var(--color1)

  display: inline-block
  cursor: pointer
  overflow: hidden
  
  padding: 0.75em 1em
  background-color: var(--bgColor, var(--color1))
  border: 1px solid rgba(black, .2)
  border-bottom-width: 2px
  border-radius: var(--gRadius)

  text-decoration: none
  text-transform: uppercase
  font-size: var(--sFontSize)
  font-weight: 700
  letter-spacing: 0.05em
  color: var(--textColor, var(--textInvert))
  vertical-align: top
  line-height: 1
  
  transition: var(--gTransition)
  will-change: transform, opacity

  // Image or SVG inside a button
  img,
  svg
    margin-right: 0.5em
    max-height: 1.25em
    
  img:only-child,
  svg:only-child
    margin-left: 0
    margin-right: 0

  svg
    height: 1em

  path,
  circle,
  rect
    fill: currentColor

  &:hover
    opacity: .9
    color: var(--textColor, var(--textInvert))
    transform: translateY(-2px)
    box-shadow: var(--shadow1)

  &:active
    transition: none
    transform: none
    box-shadow: var(--shadow0)

  &[disabled],
  &.disabled
    cursor: not-allowed
    opacity: .5
    filter: grayscale(1)


.wp-block-button__link
  display: flex
  align-items: center

  .is-style-outline &
    border-color: inherit
    background-color: transparent
    color: var(--textColor)

  .is-style-h-transparent &
    margin-left: -0.5rem
    padding-right: 0.5rem
    padding-left: 0.5rem
    background-color: transparent
    text-transform: uppercase
    color: var(--textColor, var(--text))

    &:hover
      background-color: var(--bgColor, transparent)


///// COLUMNS

.wp-block-columns
  display: flex

  &.has-background
    padding: var(--blockSpacing)
    background-color: var(--bgColor)

  @media ($below-s)
    flex-wrap: wrap

.wp-block-column
  flex-basis: 0
  flex-grow: 1
  min-width: 0

  &[style*="flex-basis"]
    flex-grow: 0

  &.has-background
    padding: var(--blockSpacing)
    border-radius: var(--gRadius)


  @media ($above-s)
    + .wp-block-column
      margin-left: 1.5rem

  @media ($below-s)
    flex-basis: 100% !important
    width: 100%

    + .wp-block-column
      margin-top: 1.5rem


////// GROUP
  
.wp-block-group
  position: relative
  
  &:not(.has-background)
    margin-top: var(--groupSpacing)
    margin-bottom: var(--groupSpacing)

  &.has-background
    padding: var(--groupSpacing) 0
    border-radius: var(--gRadius)



///// SPACER

.wp-block-spacer
  margin-top: 0
  margin-bottom: 0


///// SEPARATOR

.wp-block-separator
  display: block
  border-top: 2px solid var(--bgColor, var(--textDim))
  margin: 2.5rem auto
  padding: 0
  width: 120px
  line-height: 1
  clear: both

  &.is-style-wide
    width: var(--siteWidth)

  &.is-style-dots
    border: 0
    height: auto
    width: auto
    background-color: transparent
    text-align: center

    &::before
      content: "\00b7 \00b7 \00b7"
      padding-left: 2rem
      font-family: var(--codeFontFamily)
      font-size: var(--largeFontSize)
      letter-spacing: 1.5rem
      color: var(--bgColor, var(--text))
