body
  +h( d-flex fd-column ovx-hidden h100vh )
  
.main-nav
  +h( relative bg-white bb1-solid bc-gray z100 pv0_75 )

  .has-fixed-nav &
    +h( fixed w100p )

.nav-wrapper
  +h( d-flex ai-center )


// make body clickable to close the NAV when it's active
body.nav-is-active,
body.dialog-is-active
  +h( cursor-pointer )
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)


// MAIN LOGO
.nav-logo
  img
    +h( w-auto )
    height: 2.5em

  @media ($below-nav)
    +h( order1 mv0 mh-auto )


// NAV ITEMS WRAPPER
.nav-items
  +h( d-flex flex1 jc-start fw-wrap transition )

  @media ($below-nav)
    +h( fd-column v-hidden fixed o0 z100 top0 left0 bottom0 )
    +h( pt3 pb2 ph0 bg-white transition shadow2 )
    width: 180px
    transform: translateX(-100%)

  .nav-is-active &
    +h( v-visible o100 )
    transform: none


// NAV ITEM
.nav-item
  +h( relative )

  > a
    +h( d-block pv0_75 ph1 c-text transition-none )

    &:hover
      +h( o70 )

  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_parent
    > a
      +h( c-main )


// NAV ITEM CHILDREN
.nav-children
  +h( absolute v-hidden o0 top100 left0 bg-gray-light nowrap )
  +h( p025 shadow1 brad transition )
  width: 200px

  .nav-item:hover &
    +h( v-visible o100 )

  a
    +h( d-block pv0_25 ph0_5 c-inherit brad )

  a:hover
    +h( bg-gray )

  //
  @media ($below-nav)
    +h( top0 left100 )
    transform: translateX(-10px)

    a
      +h( pv05 ph0_75 )


// NAV MOBILE TOGGLE
.nav-toggle
  i
    +h( lh1 )

  i, b
    +h( d-inline-block va-middle )

  .dashicons-before::before
    +h( fs-m )
    width: 18px
    height: 18px

  @media ($above-nav)
    +h( d-none )


// NAV EXTRA
.nav-extra
  +h( d-flex order2 ai-center relative )

  .button
    +h( lh1 ml0_25 )

  span
    line-height: 20px

  //
  @media ($below-s)
    span
      +h( d-none )



// DIALOG
.dialog
  +h( absolute v-hidden o0 top100 right0 bg-body )
  +h( p025 brad shadow1 transition )
  width: 300px
  transform: translateY(-1.5em)

  @media ($below-nav)
    top: calc(100% + 10px)

  &.dialog--active
    +h( v-visible o100 )
    transform: none
    

///// MAIN FOOTER /////

.main-footer
  +h( mt-auto bg-black_75 c-white )

// widgets
.footer-widgets
  +h( pv2_5 c-white_50 fs-s )

  h-grid
    grid-row-gap: $grid-gap

  .widget
    +h( list-none )
    +column(4)

  .widgettitle
    +h( mb0_25 c-white_75 fs-h5 )

  ul
    +h( pl1_25 )

///// FOOTER BAR

.footer-bar
  +h( pv0_5 bg-main_10 c-white_50 fs-s )

.copyright,
.partners
  +h( d-flex fw-wrap ai-center )

  header
    +h( fw700 )
    line-height: 1.4

.copyright
  a
    +h( mr0_5 )

  @media ($above-s)
    header
      +h( mr1_5 )

// partners
.partners
  +h( jc-end )

  img
    +h( p0_25 )
    width: 32px

  a
    +h( d-block relative mh0_25 bg-main_25 brad-circle transition )
    
  a:hover
    +h( bg-main_50 c-white )

.partner-caption
  +h( v-hidden o0 absolute right0 pv0_5 ph1 bg-main )
  +h( c-white ta-center brad transition )
  bottom: calc(100% + 8px)
  transform: translateY(20px)

  &::after
    content: ""
    +h( absolute top100p )
    right: 10px
    +triangle( s, $main, 12px, 5px)

  a:hover &
    +h( v-visible o100 )
    transform: none

  h5
    +h( fs-s ff-body c-white nowrap )

  p
    +h( nowrap )
    font-size: 12px