///// ROOT VARIABLES


\:root
  // Change the colors variable in abstracts/_vars.scss
  // 
  // To use color variable, use the function color()
  //
  //    background-color: color(--main, .1)
  //    color: color(--main)
  //
  @each $name, $hex in $palette-colors
    --#{ $name } : #{ $hex }
    --#{ $name }RGB : #{ red($hex) }, #{ green($hex) }, #{ blue($hex) }

  @each $alias, $origin in $alias-colors
    --#{ $alias } : var(#{ $origin })
    --#{ $alias }RGB : var(#{ $origin }RGB)


  // Other colors
  --siteBg      : #f8f9fb
  --siteBgColor : #f8f9fb
  --panelBg     : #eff1f5

  // SHADOW -----
  --shadow0: 0 0.5px 2px rgba(0,0,0, .18), 0 1.5px 6px rgba(0,0,0, .08)
  --shadow1: 0 1.5px 4px rgba(0,0,0, .24), 0 1.5px 6px rgba(0,0,0, .12)
  --shadow2: 0 3px 12px rgba(0,0,0, .23), 0 3px 12px rgba(0,0,0, .16)
  --shadow3: 0 6px 12px rgba(0,0,0, .23), 0 10px 40px rgba(0,0,0, .19)
  --shadow4: 0 10px 20px rgba(0,0,0, .19), 0 6px 6px rgba(0,0,0, .23)
  
  // TEXT -----
  --fontFamily : "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  --fontWeight : 400
  --lineHeight : 1.65
  --letterSpacing  : 0

  --fontSize       : 16px
  --xsmallFontSize : 12px
  --smallFontSize  : 14px
  --mediumFontSize : 20px
  --largeFontSize  : 24px
  --hugeFontSize   : 32px

  // HEADING -----
  --hFontFamily    : "Noto Serif", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif
  --hFontStyle     : normal
  --hFontWeight    : 700
  --hLineHeight    : 1.25
  --hLetterSpacing : 0.05em
  --hTextTransform : initial
  --hColor         : inherit

  --h1Size : 46px
  --h2Size : 38px
  --h3Size : 30px
  --h4Size : 24px
  --h5Size : 20px
  --h6Size : var(--fontSize)

  // PREFORMATTED -----
  --codeFontFamily : SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace
  --codeFontSize   : var(--smallFontSize)

  // LINK -----
  --linkColor      : inherit
  --linkColorHover : var(--main)


  // GRID -----
  --siteWidth : #{ $size-large }
  --blogWidth : 650px
  --gridGap   : 20px
  --gridRim   : 10px
  --tileGap   : 20px

  
  // GLOBAL
  --gRadius: 4px
  --gTransition: all .25s ease-in-out

  // WP
  --adminBarHeight : 0px
  --blockSpacing   : 1.5rem
  --groupSpacing   : 3rem


body.admin-bar
  --adminBarHeight : 32px


// RESPONSIVE
@media ($below-m)
  \:root
    --h1Size : 40px
    --h2Size : 32px
    --h3Size : 26px
    --h4Size : 22px
    --h5Size : 18px
    --h6Size : var(--fontSize)


@media ($below-adminbar)
  \:root
    --adminBarHeight: 0px


@media ($below-s)
  \:root
    --h1Size : 32px
    --h2Size : 26px
    --h3Size : 22px
    --h4Size : 20px
    --h5Size : 18px
    --h6Size : var(--fontSize)

    --groupSpacing: 2.5rem

@media ($below-xs)
  \:root
    --blockSpacing: 1rem


///// FONT FACES
  
@font-face
  src: font-url('sourcesanspro-regular.woff2')
  font-family: 'Source Sans Pro'
  font-weight: 400

@font-face
  src: font-url('sourcesanspro-italic.woff2')
  font-family: 'Source Sans Pro'
  font-weight: 400
  font-style: italic

@font-face
  src: font-url('sourcesanspro-bold.woff2')
  font-family: 'Source Sans Pro'
  font-weight: 700

@font-face
  src: font-url('notoserif-regular.woff2')
  font-family: 'Noto Serif'
  font-weight: 400

@font-face
  src: font-url('notoserif-bold.woff2')
  font-family: 'Noto Serif'
  font-weight: 700


