/*!
  EDJE Functional Sass v3.1.0
  Documentation: https://github.com/hrsetyono/edje/wiki
*/
@charset "UTF-8";
@import "_edje-v4/mixins";
@import "_edje-v4/functions";

// Commented colors are already applied using WP CUSTOMIZER
$root-colors: (
  // '--main'      : #1976d2,
  // '--mainDark'  : #0d47a1,
  // '--mainLight' : #bbdefb,
  // '--sub'       : #4caf50,
  // '--subLight'  : #c8e6c9,
  // '--text'       : #2c3e50,
  // '--textDim'    : #90A4AE,
  // '--textInvert' : #ffffff,

  '--red'    : #d32f2f,
  '--orange' : #fB8c00,
  '--yellow' : #ffee58,
  '--green'  : #4caf50,
  '--blue'   : #1976d2,
  '--gray'   : #b0bec5,
);


///// MEDIA QUERY

$size-xsmall : 480px;
$size-small  : 768px;
$size-medium : 960px;
$size-large  : 1120px;

$below-xs: "max-width:#{ $size-xsmall }";
$above-xs: "min-width:#{ $size-xsmall + 1px }";
$below-s: "max-width:#{ $size-small }";
$above-s: "min-width:#{ $size-small + 1px }";
$below-m: "max-width:#{ $size-medium }";
$above-m: "min-width:#{ $size-medium + 1px }";
$below-l: "max-width:#{ $size-large }";
$above-l: "min-width:#{ $size-large + 1px }";

$below-nav: $below-s; // small navigation breakpoint
$above-nav: $above-s;

$below-adminbar: "max-width:782px";
$above-adminbar: "min-width:783px";

$portrait: "orientation: portrait";
$landscape: "orientation: landscape";
$retina: "min-resolution: 192dpi";

// ASSET PATH - Relative to the /css folder
//   for image-url() and font-url()
$image-url: '../images/';
$font-url: '../fonts/';