///// CART

.woocommerce-cart-form
  +h( mv2 )

.shop_table
  +h( w100p )
  max-width: $size-m
  border: 1px solid $wc-panel-dark
  
  th
    +h( p1 ta-left )
    background-color: $wc-panel-dark

  td
    +h( pv0_5 ph1 )

  tr
    border-bottom: 1px solid $wc-panel
  
  tr:nth-child(even)
    background-color: $wc-panel
  
  .product-name a
    +h( fw-header )

  .variation
    dt, dd
      +h( d-inline-block )

  .product-remove a
    +h( d-inline-block bg-red  w1 h1 )
    +h( c-white fs-m fw-header ta-center brad-circle )
    line-height: 0.9

    &:hover
      background-color: darken($red, 20%)
  
  img
    +h( h-auto )
    width: 60px

  label.screen-reader-text
    +h( d-none )

  input[type="number"]
    +h( w3_5 )
  
  // footer
  .actions
    +h( ta-right )

  .hoo-subtotal-note
    +h( fs-s )

  button[name="update_cart"]
    +h( float-left )


// Cross sells
.cross-sells
  +h( mt3 mb2 )

  > h3
    +h( mb1 ta-center )


///// NAV CART /////

.nav-item-cart
  +h( relative )


// cart button
#cart-button
  b
    +h( d-inline-block ph0_5 bg-black_25 fs-s brad )
    line-height: 1.4


.cart-dialog
  +h( absolute v-hidden o0 top100p right0 bg-gray-light )
  +h( p0_25 ta-center brad shadow1 transition )
  width: 340px
  transform: translateY(-1.5em)

  .has-active-cart &
    +h( v-visible o100 )
    transform: none
  
  h3
    +h( pt0_5 pb0_75 fs-s tt-uppercase ta-center )
    letter-spacing: 2px

  .blockOverlay
    +h( bgp-cc bgr-no )
    background-color: rgba(white, 0.8) !important
    background-image: url("../../../../../wp-admin/images/spinner.gif")

  .widgettitle
    +h( d-none )

  //
  @media ($below-nav)
    top: calc(100% + 10px)


.widget_shopping_cart_content
  +h( d-flex fw-wrap )


// Item list
.woocommerce-mini-cart
  +h( bg-white ovy-auto list-none ta-left )
  max-height: 311px


.woocommerce-mini-cart-item
  +clearfix
  +h( relative p0_5 )
  border-bottom: 1px solid $wc-panel-dark
  line-height: 1.5

  img
    +h( float-left mr0_5 w22p )
  
  figure
    +h( relative )

  a
    +h( d-block c-inherit fw600 )

  a:hover
    +h( td-u )
    img
      +h( o70 )

  .variation
    +h( mb0_5 )

  dt, dd
    +h( d-inline-block )

// Quantity
.woocommerce-mini-cart-item .quantity
  +h( fs-s c-passive )

// Cart Total
.woocommerce-mini-cart__total
  +h( flex1 pv1 ph0_5 )
  line-height: 1.25
  
  .woocommerce-Price-amount
    +h( fs-m )
  
  strong
    +h( fs-s )

  
.woocommerce-mini-cart__buttons
  +h( flex1 as-center ta-right ph0_5 )
 
  // Hide VIEW CART button because we want to go directly to Checkout
  a:first-child
    +h( d-none )
  
  .button
    +h( tt-uppercase )

  .button::after
    content: " »"


// Remove item button on Cart dialog
a.remove_from_cart_button
  +h( absolute bg-gray )
  +h( c-white ta-center lh1  brad )
  top: 0.25rem
  right: 0.25rem
  width: 1.5rem
  height: 1.5rem
  font-size: 1.5rem

  &:hover
    +h( bg-red c-white td-none )

// Empty Cart
.woocommerce-mini-cart__empty-message
  +h( pt1_5 ph1_5 pb4 w100p ta-center fs-m )