
// WARNING: This file is not yet upgraded to Edje v4 and has error when rendering
// Mostly due to the removed h() mixin and removed Sass variables

@import "abstracts/vars"
@import "abstracts/functions"
@import "abstracts/mixins"

$wc-panel: #f3f6f8
$wc-panel-dark: #e3eaee
$wc-panel-border: #d3dee5

///// GENERAL

// all woocommerce page become alignwide
.the-content > .woocommerce
  margin-right: auto
  margin-left: auto
  max-width: $grid-max-width

.price
  del
    display: block
    opacity: .5
    font-size: var(--smallFontSize)
  ins
    display: block
    text-decoration: none

.woocommerce-Price-currencySymbol // Change currency to be smaller
  font-weight: 400
  font-size: var(--smallFontSize)


@import "shop/toast"
@import "shop/archive"
@import "shop/my-account"
@import "shop/single"
@import "shop/cart"