@import "settings"
  
.site-footer
  background-color: var(--subLight)


// Credit
.footer-credit
  +h( d-flex ai-center  pv0_5 c-white_50 fs-s )

  strong
    +h( c-white_75 )

.copyright
  a
    +h( mr0_5 )

.partners
  +h( d-flex fw-wrap ai-center  ml-auto )

  img
    +h( p0_25 )
    width: 32px
  a
    +h( d-block relative mh0_25 bg-main_50 brad transition )
  a:hover
    +h( bg-main_50 c-white )

.partner-caption
  +h( v-hidden o0 absolute right0 pv0_5 ph1 bg-main )
  +h( c-white ta-center brad transition )
  bottom: calc(100% + 8px)
  transform: translateY(20px)

  &::after
    content: ""
    +h( absolute top100p )
    right: 10px
    +triangle( s, var(--main), 12px, 5px)

  a:hover &
    +h( v-visible o100 )
    transform: none

  h5
    +h( fs-s ff-body c-white nowrap )

  p
    +h( nowrap )
    font-size: 12px