/* EDJE Framework 4.0 - hrsetyono.github.io/edje */

@import "settings"

@import "_edje-v4/output-normalize"
@import "_edje-v4/output-grid"
@import "_edje-v4/output-typography"

// @import "framework/blog"
// @import "framework/jetpack"
// @import "framework/cf7"


\:root
  // COLOR
  +root-colors() // output $root-colors from _settings.scss

  // SHADOW
  --shadow0: 0 0.5px 2px rgba(black, .18), 0 1.5px 6px rgba(black, .08)
  --shadow1: 0 1.5px 4px rgba(black, .24), 0 1.5px 6px rgba(black, .12)
  --shadow2: 0 3px 12px rgba(black, .23), 0 3px 12px rgba(black, .16)
  --shadow3: 0 6px 12px rgba(black, .23), 0 10px 40px rgba(black, .19)

  // TYPOGRAPHY
  --fontFamily : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  --fontSize   : 16px
  --fontWeight : 400
  --lineHeight : 1.65

  --smallFontSize  : 14px
  --mediumFontSize : 18px
  --largeFontSize  : 22px
  --hugeFontSize   : 32px

  // HEADING
  --hFontFamily    : "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif
  --hFontWeight    : 700
  --hLineHeight    : 1.25
  --hLetterSpacing : 0.05em
  --hTextTransform : initial

  --h1Size : 46px
  --h2Size : 38px
  --h3Size : 30px
  --h4Size : 24px
  --h5Size : 20px
  --h6Size : var(--fontSize)

  // GRID
  --siteWidth : 1120px
  --blogWidth : 650px
  --gridGap   : 20px
  --gridRim   : 10px

  // OTHER
  --gRadius: 4px
  --gTransition: all .25s ease-in-out

  // BUTTON
  --buttonBg: var(--main)
  --buttonBgHover: var(--mainDark)
  --buttonColor: var(--textInvert)
  --buttonColorHover: var(--textInvert)
  --buttonBorder: none
  --buttonFontSize: 18px

// RESPONSIVE
@media ($below-m)
  --h1Size : 40px
  --h2Size : 32px
  --h3Size : 26px
  --h4Size : 22px
  --h5Size : 18px
  --h6Size : var(--fontSize)

@media ($below-s)
  --h1Size : 32px
  --h2Size : 26px
  --h3Size : 22px
  --h4Size : 20px
  --h5Size : 18px
  --h6Size : var(--fontSize)


///// BUTTON /////

.button,
[type="submit"],
[type="reset"],
.wp-block-file__button,
.wp-block-button__link
  display: flex
  align-items: center
  cursor: pointer
  overflow: hidden
  
  padding: 0.5em 1em
  background-color: var(--buttonBg)
  border: var(--buttonBorder)
  border-radius: var(--gRadius)

  font-size: var(--buttonFontSize)
  color: var(--buttonColor)
  vertical-align: top
  line-height: 1
  
  transition: $g-transition

  // Image or SVG inside a button
  img,
  svg
    margin-left: -0.25em
    margin-right: 0.5em
    max-height: 1.25em
  img:only-child,
  svg:only-child
    margin-left: 0
    margin-right: 0
  svg
    height: var(--buttonFontSize)
  path,
  circle
    fill: var(--buttonColor)

  &:hover
    background-color: var(--buttonBgHover)
    color: var(--buttonColorHover)
    transform: translateY(-2px)

    path,
    circle
      fill: var(--buttonColorHover)

  &:active
    transition: none
    transform: none

  &[disabled],
  &.disabled
    cursor: not-allowed
    opacity: .5

  
// Button size
.button--small
  --buttonFontSize: 14px
.button--normal
  // default is normal
.button--large
  --buttonFontSize: 22px


// Button style
.button--solid
  --buttonBorder: none
.button--outline
  --buttonBg: transparent
.button--transparent
  --buttonBg: transparent
  --buttonBorder: none


// passive button
.button.button--passive,
.button.button--loading
  --buttonBg: var(--grayLight)
  --buttonBorder: #{ rgba(black, .1) }
  --buttonColor: var(--text)

// loading button
.button.button--loading
  cursor: not-allowed
  background-position: center center
  background-repeat: no-repeat
  background-image: url("../../../../../wp-admin/images/spinner.gif")
  color: transparent !important

  
///// INPUT /////

[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
[type="date"],
[type="time"],
textarea,
select
  +h( d-block w100p pv0_75 ph0_5 b2-solid bc-black_10 bg-white )
  +h( lh-normal transition brad )
  
  &:focus
    +h( bc-main )
    box-shadow: 0 0 0 2px h-rgba(--main, .3)

select
  border-width: 2px 2px 3px

[type="radio"],
[type="checkbox"]
  +h( cursor-pointer b1-solid bc-black_25  w1 h1 )
  +h( va-bottom transition appearance-none )
  
  &:hover
    +h( bc-main )
  &:checked
    +h( bc-main )
    box-shadow: inset 0 0 0 4.5px var(--main)

[type="checkbox"]
  +h( brad )
[type="radio"]
  +h( brad-circle )


///// ADMIN BAR

@media ( below(782px) )
  html[lang]
    margin-top: 0 !important

  #wpadminbar
    +h( d-none )


///// VISIBILITY

@media ($below-s)
  [data-visible="desktop"]
    display: none !important

@media ($above-s)
  [data-visible="mobile"]
    display: none !important
