// Put styles that you might reuse in other projects here

// Framework output settings
$include-normalize: true
$include-grid: true
$include-tile: true
$include-visibility: true

$output-framework: true // this will output the Normalizer, Grid, etc
@import "settings"

// @import "framework/blog"
// @import "framework/jetpack"
// @import "framework/cf7"

@import "framework/core"
@import "framework/grid"
@import "framework/footer"


.the-content
  max-width: var(--siteWidth)
  margin: 0 auto

  .post &
    --siteWidth: var(--blogWidth)


///// BUTTON /////

.button,
[type="submit"],
[type="reset"],
.wp-block-file__button,
.wp-block-button__link
  +h( cursor-pointer ov-hidden d-iblock )
  +h( va-top brad-pill )
  
  padding: var(--buttonPadding)
  background-color: var(--buttonBg)
  border: var(--buttonBorder)
  color: var(--buttonColor)
  box-shadow: inset 0 1px 0 rgba(white, .5)

  &:hover
    --buttonBg: var(--buttonBgHover)
    --buttonColor: var(--buttonColorHover)

  &:active
    +h( transition-none )
    box-shadow: inset 0 1px 0 rgba(black, .3)

  &[disabled],
  &.disabled
    +h( cursor-not-allowed o50 )


// passive button
.button.--passive,
.button.--loading
  +h( bg-gray-light bc-black_10 c-text )
  &:hover
    +h( bc-black_25 c-text )

// loading button
.button.--loading
  +h( cursor-not-allowed bgp-cc bgr-no )
  background-image: url("../../../../../wp-admin/images/spinner.gif")
  color: transparent !important

  
///// INPUT /////

[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
[type="date"],
[type="time"],
textarea,
select
  +h( d-block w100p pv0_75 ph0_5 b2-solid bc-black_10 bg-white )
  +h( lh-normal transition brad )
  
  &:focus
    +h( bc-main )
    box-shadow: 0 0 0 2px h-rgba(--main, .3)

select
  border-width: 2px 2px 3px

[type="radio"],
[type="checkbox"]
  +h( cursor-pointer b1-solid bc-black_25  w1 h1 )
  +h( va-bottom transition appearance-none )
  
  &:hover
    +h( bc-main )
  &:checked
    +h( bc-main )
    box-shadow: inset 0 0 0 4.5px var(--main)

[type="checkbox"]
  +h( brad )
[type="radio"]
  +h( brad-circle )


///// ADMIN BAR

@media ( below(782px) )
  html[lang]
    margin-top: 0 !important

  #wpadminbar
    +h( d-none )