@import "vars"
@import "functions-mixins"
  
%figcaption
  display: inline-block
  padding: 0.5rem
  margin-right: auto
  margin-left: auto
  border-bottom: 1px solid var(--textDim)
  font-size: var(--smallFontSize)

@import "gutenberg/text"
@import "gutenberg/media"
@import "gutenberg/design"
@import "gutenberg/widgets"
@import "gutenberg/custom"