@import "settings"


// ROWS & COLUMNS
.header-row
  --rowPadding: 0.75rem
  display: flex
  align-items: center
  position: relative
  
  background: var(--rowBackground )
  padding-top: var(--rowPadding)
  padding-bottom: var(--rowPadding)

  // Item gap
  [data-id] + [data-id]
    margin-left: 1rem

// Row padding size
.header-row--none
  --rowPadding: 0
.header-row--small
  --rowPadding: 0.25rem
.header-row--large
  --rowPadding: 1.25rem

// Columns
.header-columns,
.header-columns--1
  grid-template-columns: auto

.header-columns--2
  grid-template-columns: auto auto

.header-columns--3
  grid-template-columns: 1fr auto 1fr

.header-column
  display: flex
  align-items: center

[data-column="start"]
  order: 1

[data-column="middle"]
  order: 2
  text-align: center

[data-column="end"]
  margin-left: auto
  order: 3
  text-align: right

///// OFFCANVAS /////

.offcanvas
  display: flex
  flex-direction: column

  position: fixed
  z-index: 100
  top: 0
  bottom: 0
  background: var(--offcanvasBackground)
  box-shadow: var(--shadow3)

  &.offcanvas--from-right
    right: 0
    transform: translateX(100%)
  &.offcanvas--from-left
    left: 0
    transform: translateX(-100%)

  &.offcanvas--align-right
    align-items: flex-end
    text-align: right
  &.offcanvas--align-center
    align-items: center
    text-align: center
  &.offcanvas--align-left
    align-items: flex-start


body.has-active-offcanvas
  cursor: pointer
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)

  .offcanvas
    transform: none
    transition: var(--gTransition)


.offcanvas-inner-wrapper
  overflow-y: auto
  min-width: 300px
  max-width: 340px
  max-height: 100vh
  padding-bottom: 3rem

  > *
    padding: 1rem 2rem

  > *:first-child
    padding-top: 3rem

  //
  @media ($below-xs)
    min-width: 240px
    max-width: 300px

    > *
      padding-right: 1.5rem
      padding-left: 1.5rem
  

[data-close-offcanvas]
  position: absolute
  z-index: 10
  top: 0.5rem
  right: 1rem
  width: 2rem
  height: 2rem
  border-radius: var(--gRadius)

  path
    fill: var(--closeButtonColor)
  &:hover
    background-color: h-rgba(--textInvert, .2)
  &:hover path
    fill: var(--closeButtonColorHover)


///// LOGO

.header-logo
  h3, picture, svg
    display: inline-block
    transition: var(--gTransition)

  // logo text
  h3
    text-transform: uppercase
    letter-spacing: -0.5px
    font-size: var(--textSize)
    color: var(--logoColor)

  // logo image
  img
    max-height: var(--logoMaxHeight)

  // logo svg
  svg
    width: var(--logoMaxWidth)
    height: var(--logoMaxHeight)
    max-height: var(--logoMaxHeight)

  path,
  circle
    fill: var(--logoColor)

.header-logo a
  display: inline-block
  line-height: 1

  &:hover
    h3,
      color: var(--logoColorHover)
    path,
    circle
      fill: var(--logoColorHover)
    picture
      opacity: .8


.logo-tagline
  font-size: var(--taglineSize)
  color: var(--taglineColor)


///// MENU NAV /////

.nav
  display: flex
  flex: 1
  flex-wrap: wrap

  margin-top: calc(-1 * var(--rowPadding))
  margin-bottom: calc(-1 * var(--rowPadding))

  transition: var(--gTransition)

.nav-item
  position: relative

  > a
    display: flex
    align-items: center
    height: 100%
    padding: calc(0.5rem + var(--rowPadding)) 0.5rem
    background-color: var(--parentBg, transparent)
    line-height: 1
    letter-spacing: 0.025em
    text-transform: uppercase
    font-size: var(--parentFontSize)
    color: var(--parentColor)

  > a span
    display: flex
    align-items: center
    padding: 0.25rem 0.5rem
    line-height: 1
    border-radius: var(--gRadius)
    transition: var(--gTransition)

  > a:hover span
    background-color: var(--parentBgHover)
    color: var(--parentColorHover)

  > a:active
    transform: translateY(1px)
    transition: none
  
  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_parent
    > a span
      background-color: var(--parentBgHover)


.menu-item-has-children
  > a span::after
    content: ""
    display: inline-block
    margin-left: 0.5rem
    transform: translateY(1px)
    +triangle( s, inherit, 10px, 6px )


// Dropdown
.nav-dropdown
  --dropdownColumns: 1

  position: absolute
  z-index: 10
  top: calc(100% - 4px)
  left: 50%
  visibility: hidden
  opacity: 0

  min-width: calc(180px * var(--dropdownColumns))
  max-width: calc(220px * var(--dropdownColumns))
  padding: 0.75em 0.5em
  border-radius: var(--gRadius)
  background-color: var(--dropdownBg)

  text-align: left
  font-size: var(--dropdownFontSize)
  list-style-type: none

  transition: var(--gTransition)
  transform: translateX(-50%)
  box-shadow: var(--shadow2)

  &::before
    content: ""
    position: absolute
    top: 1px
    left: 50%
    width: 0.75em
    height: 0.75em
    background-color: var(--dropdownBg)
    transform: translateY(-50%) translateX(-50%) rotate(45deg)
    border-radius: var(--gRadius)

  .nav-item:hover &
    visibility: visible
    opacity: 1

.nav-dropdown--wide
  display: grid
  grid-template-columns: repeat(var(--dropdownColumns), minmax(0,1fr))
  grid-column-gap: 0.5rem
  grid-row-gap: 0.5rem

  max-width: var(--siteWidth)

  li
    grid-column: span 1
    
  &[data-children="2"]
    --dropdownColumns: 2
  &[data-children="3"]
    --dropdownColumns: 3
  &[data-children="4"]
    --dropdownColumns: 4
  &[data-children="5"]
    --dropdownColumns: 5


.nav-dropdown a
  display: block
  padding: 0.375em 0.5em
  border-radius: var(--gRadius)
  white-space: nowrap
  font-size: var(--dropdownFontSize)
  color: var(--dropdownColor)

  &:hover
    background-color: var(--dropdownBgHover)
    color: var(--dropdownColorHover)

  &:active
    transform: translateY(1px)
    transition: none

  // 3rd level item
  + a
    padding: 0.375em


.nav-dropdown--wide a:first-child
  font-weight: var(--hFontWeight)
  text-transform: uppercase
  letter-spacing: 0.05em


///// MOBILE NAV /////

.mobile-nav-item
  --linkColor: var(--mobileMenuColor)
  --linkColorHover: var(--mobileMenuColorHover)

  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: stretch
  margin-top: 0.5rem

  > a
    flex: 1
    display: block
    margin-right: 1rem

    font-size: var(--parentFontSize)
    font-weight: 700
    letter-spacing: 0.025em
  
  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_parent
    > a
      color: var(--linkColorHover)


[data-mobile-dropdown-toggle]
  display: flex
  margin-left: auto
  border: 1px solid var(--linkColor)
  border-radius: var(--gRadius)
  padding: 0 0.75rem
  background-color: transparent

  transition: var(--gTransition)

  svg
    width: 1rem
    height: 1rem
    transition: var(--gTransition)

    .mobile-nav-item--toggled &
      transform: rotate(180deg)

  path
    fill: var(--parentColor)
    transition: var(--gTransition)
  
  &:hover
    border-color: var(--linkColorHover)
    path
      fill: var(--linkColorHover)


// MOBILE DROPDOWN

.mobile-nav-dropdown
  overflow-y: hidden
  visibility: hidden
  opacity: 0
  max-height: 0
  padding-left: 1.5rem
  width: 100%
  color: var(--dropdownColor)
  
  transition: var(--gTransition)

  .mobile-nav-item--toggled &
    visibility: visible
    opacity: 1
    margin-top: 0.5rem
    max-height: none

  a
    display: block
    padding: 0.25rem 0
    font-size: var(--dropdownFontSize)
    color: var(--dropdownColor)

  a:hover
    color: var(--dropdownColorHover)
  
  ul
    padding-left: 1rem
    a
      opacity: .6
      font-size: 90%  
    a:hover
      opacity: 1


// COMPACT MOBILE NAV
.mobile-nav--compact
  display: grid
  grid-template-columns: repeat(2, minmax(0, 1fr))
  grid-column-gap: 0
  grid-row-gap: 0

  a,
  select
    display: block
    padding: 0.5rem 0.25rem
    color: var(--parentColor)
    font-size: var(--smallFontSize)
    text-transform: uppercase

    &:hover
      background-color: h-rgba(--textInvert, .1)
      color: var(--parentColorHover)


  select
    padding-left: 0
    border: 0
    background-color: transparent
    box-shadow: none
  option
    background-color: var(--offcanvasBackgroundColor)
    text-transform: initial
    color: var(--parentColor)


///// SOCIAL BUTTONS /////

.socials
  display: flex
  align-items: center


.social-link
  display: flex
  align-items: center
  padding: 0.25rem
  line-height: 1

  + .social-link
    margin-left: 0.5rem

  &:hover
    opacity: .75
    transform: translateY(-2px)

  
  path,
  circle
    fill: var(--iconColor)
  span
    display: inline-block
    white-space: nowrap
    margin-left: 0.25rem
    line-height: 1
    font-size: var(--smallFontSize)
    color: var(--iconColor)

    transform: translateY(-1px)

  // SHAPE TYPE
  .socials--circle &,
  .socials--square &
    padding: 0.375rem
    background-color: var(--iconBackground)
    
    svg
      width: 1rem
      height: 1rem

  .socials--circle &
    border-radius: 20px

  .socials--square &
    border-radius: var(--gRadius)


// COLOR TYPE
.socials--official
  a
    --iconColor: white
    --iconBackground: var(--officialColor)

  &.socials--icon-only a
    --iconColor: var(--officialColor)
    --iconBackground: transparent



///// SEARCH HEADER

.header-search
  display: flex
  position: relative

  input
    position: absolute
    visibility: hidden
    opacity: 0
    top: -0.25rem
    right: -0.25rem
    bottom: -0.25rem
    width: 160px

    background-color: var(--searchBg)
    border: 1px solid var(--submitBg)
    border-radius: var(--gRadius)
    padding-top: 0
    padding-bottom: 0
    outline: none

    &:focus
      background-color: var(--searchBgFocus)
      box-shadow: var(--shadow1)

  // Make it full width
  @media ($below-xs)
    position: static

    input
      width: 100%
      +absolute-fill
      border-radius: 0


.header-search--full
  @media ($above-xs)    
    input
      visibility: visible
      opacity: 1
      position: static
      padding: 0.5rem
      padding-right: 3rem
    button
      position: absolute
      top: 0.25rem
      right: 0.25rem
      bottom: 0.25rem
      padding: 0.25rem 0.5rem


.header-search--active
  input
    visibility: visible
    opacity: 1


.submit-search
  --buttonBg: var(--submitBg)
  --buttonBgHover: var(--submitBgHover)
  --buttonColor: var(--submitColor)
  --buttonColorHover: var(--submitColorHover)
  position: relative
  z-index: 10
  padding: 0.5rem
  font-size: 14px
  transition: background-color .25s ease-in-out
  
  &:hover
    transform: none

  svg
    width: 1rem
  path,
  circle
    fill: var(--buttonColor)

  
  .header-row--small &
    padding-top: 0.25rem
    padding-bottom: 0.25rem

  //
  @media ($below-xs)
    .header-search--active &
      position: absolute
      top: 50%
      right: 0.5rem
      transform: translateY(-50%)


  

///// FREE TEXT

.header-text
  max-width: var(--textMaxWidth)

  *
    color: var(--textColor)
    font-size: var(--textSize)
  a
    color: var(--linkColor)


///// TRIGGER /////

.menu-trigger
  cursor: pointer
  width: 40px // 10:7 ratio
  height: 28px

  path,
  circle
    fill: var(--triggerColor)

  &:hover
    path,
    circle
      fill: var(--triggerColorHover)