@import "settings"


// ROWS & COLUMNS
.header-row
  --rowPadding: 0.75rem 0
  display: flex
  align-items: center
  position: relative
  
  background: var(--rowBackground )
  padding: var(--rowPadding)

.header-row--small
  --rowPadding: 0.25rem 0
.header-row--large
  --rowPadding: 1.25rem 0


.header-columns
  grid-template-columns: 1fr auto auto auto 1fr

.header-column
  display: flex
  align-items: center

[data-column="start"]
  order: 1

[data-column="start-middle"]
  order: 2

[data-column="middle"]
  order: 3

[data-column="end-middle"]
  order: 4

[data-column="end"]
  margin-left: auto
  order: 5

// Item gap
[data-id] + [data-id]
  margin-left: 1rem


///// LOGO
.logo
  img
    max-height: 80px

// BUTTON



// SEARCH
.header-search
  input
    background-color: var(--background)
  input:focus
    --background: var(--backgroundFocus)


///// SOCIALS /////

.social-buttons
  display: flex
  align-items: center
  
  a
    display: flex
    align-items: center
    padding: 0.25rem
    line-height: 1
  a + a
    margin-left: 0.5rem
  a:hover
    opacity: .75
    transform: translateY(-2px)
  
  path,
  circle
    fill: var(--iconColor)
  span
    display: inline-block
    white-space: nowrap
    margin-left: 0.25rem
    line-height: 1
    font-size: var(--smallFontSize)
    color: var(--iconColor)

    transform: translateY(-1px)


// SHAPE TYPE
.social-buttons--circle,
.social-buttons--square
  a
    padding: 0.375rem
    background-color: var(--iconBackground)
  svg
    width: 1rem
    height: 1rem


.social-buttons--circle
  a
    border-radius: 20px
  a.--has-text
    padding-right: 0.5rem
    padding-left: 0.5rem


.social-buttons--square
  a
    border-radius: var(--gRadius)

// COLOR TYPE
.social-buttons--official
  &.social-buttons--circle a,
  &.social-buttons--square a
    --iconColor: white
    --iconBackground: var(--officialColor)
  &.social-buttons--none a
    --iconColor: var(--officialColor)



///// SEARCH HEADER

.header-search
  display: flex
  position: relative

  input
    position: absolute
    visibility: hidden
    opacity: 0
    top: -0.25rem
    right: -0.25rem
    bottom: -0.25rem
    width: 160px

    background-color: var(--searchBg)
    border: 1px solid var(--submitBg)
    border-radius: var(--gRadius)
    padding-top: 0
    padding-bottom: 0
    outline: none

    &:focus
      background-color: var(--searchBgFocus)
      box-shadow: var(--shadow1)

  button
    --buttonBg: var(--submitBg)
    --buttonBgHover: var(--submitBgHover)
    --buttonColor: var(--submitColor)
    --buttonColorHover: var(--submitColorHover)
    position: relative
    z-index: 10
    padding: 0.5rem
    font-size: 14px
    transition: background-color .25s ease-in-out
    
    &:hover
      transform: none

  svg
    width: 1rem
  path,
  circle
    fill: var(--buttonColor)


  // Make it full width
  @media ($below-xs)
    position: static

    input
      width: 100%
      +absolute-fill
      border-radius: 0

    &.header-search--active button
      position: absolute
      top: 50%
      right: 0.5rem
      transform: translateY(-50%)



.header-search--full
  @media ($above-xs)    
    input
      visibility: visible
      opacity: 1
      position: static
      padding: 0.5rem
      padding-right: 3rem
    button
      position: absolute
      top: 0.25rem
      right: 0.25rem
      bottom: 0.25rem
      padding: 0.25rem 0.5rem


.header-search--active
  input
    visibility: visible
    opacity: 1


///// FREE TEXT

.header-text
  max-width: var(--textMaxWidth)

  *
    color: var(--textColor)
    font-size: var(--textSize)
  a
    color: var(--linkColor)