// This styling is applied to WP Admin
$output-framework: false
@import "settings"

// LAYER TOGGLE
.ct-layer-content
  padding-bottom: 0

  .ct-control
    margin-top: 0
    padding: 12px !important

  [data-design="inline"] .ct-option-input
    max-width: 150px

  .ct-image-picker:not([data-columns])
    grid-column-gap: 12px

// NUMBER with design block

.ct-control[data-design="block"] .ct-option-number
  margin-left: auto