// This styling is applied to WP Admin
$output-framework: false
@import "settings"

// LAYER TOGGLE
.ct-layer-content
  padding-bottom: 0

  .ct-control
    margin-top: 0
    padding: 12px !important

  [data-design="inline"] .ct-option-input
    max-width: 150px