// This styling is applied to Gutenberg editor
@import "vars"
@import "vars-root"
@import "functions-mixins"
@import "components/fonts"

.wp-block
  max-width: var(--blogWidth)

.wp-block[data-align="wide"]
  max-width: calc(var(--siteWidth) - 100px)

.editor-styles-wrapper
  background-color: var(--siteBg)


///// TYPOGRAPHY

.editor-styles-wrapper > *
  font-family: var(--fontFamily)
  font-weight: var(--fontWeight)
  line-height: var(--lineHeight)

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter
  font-family: var(--hFontFamily)
  font-weight: var(--hFontWeight)
  text-transform: var(--hTextTransform)

.editor-styles-wrapper
  h1
    font-size: var(--h1Size)
  h2
    font-size: var(--h2Size)
  h3
    font-size: var(--h3Size)
  h4
    font-size: var(--h4Size)
  h5
    font-size: var(--h5Size)
  h6
    font-size: var(--h6Size)


///// QUOTE

.wp-block-quote.has-text-align-center
  padding-top: 1rem
  
  &::before
    content: ""
    position: absolute
    top: 0
    width: 100px
    height: 3px
    background-color: var(--text)
    transform: translateX(-50%)

.wp-block-quote.is-style-large
  padding: 1rem 0
  border-top: 3px solid var(--text)
  border-bottom: 3px solid var(--text)
  text-align: center

  p
    font-style: normal


///// TABLE

.wp-block-table
  --tableHeader: #{ rgba(black, .1) }
  --tableBg: white
  --tableBorder: black

  thead tr,
  tfoot tr
    background-color: var(--tableHeader)
    font-weight: 700
    text-align: left
  tbody
    background-color: var(--tableBg)
  thead tr
    border-bottom: 3px solid var(--tableBorder)
  tfoot tr
    border-top: 3px solid var(--tableBorder)
  th, td
    border: 1px solid rgba(black, .2)
    
  .has-subtle-light-gray-background-color
    --tableHeader: #{ rgba(--textDim, .1) }
    --tableBg: #{ rgba(--textDim, .05) }
    --tableBorder: var(--textDim)

  .has-subtle-pale-green-background-color
    --tableHeader: var(--mainLight)
    --tableBg: var(--mainLight)
    --tableBorder: var(--main)

  .has-subtle-pale-blue-background-color
    --tableHeader: var(--subLight)
    --tableBg: var(--subLight)
    --tableBorder: var(--sub)

  .has-subtle-pale-pink-background-color
    --tableHeader: var(--extraLight)
    --tableBg: var(--extraLight)
    --tableBorder: var(--extra)


// Table stripes
.wp-block-table.is-style-stripes
  --tableBg: #{ rgba(--textDim, .05) }
  border-collapse: collapse

  tbody tr:nth-child(odd)
    background-color: white
  th, td
    border: 1px solid rgba(black, .2)

// Change Table's color palette
.components-circular-option-picker__option
  &[aria-label*="Color: Subtle"]
    background-color: var(--color) !important
    color: var(--color) !important

  &[aria-label*="Subtle light gray"]
    --color: var(--textDim)
  &[aria-label*="Subtle pale green"]
    --color: var(--mainLight)
  &[aria-label*="Subtle pale blue"]
    --color: var(--subLight)
  &[aria-label*="Subtle pale pink"]
    --color: var(--extraLight)

.component-color-indicator
  &[style*="rgb(243, 244, 245);"]
    background-color: var(--textDim) !important
  &[style*="rgb(233, 251, 229);"]
    background-color: var(--mainLight) !important
  &[style*="rgb(231, 245, 254);"]
    background-color: var(--subLight) !important
  &[style*="rgb(252, 240, 239);"]
    background-color: var(--extraLight) !important
    


///// BUTTON

.wp-block-button__link
  background-color: var(--main)

  .is-style-outline &
    background-color: transparent !important
    border-color: auto
    color: var(--main)

  .is-style-h-transparent &
    background-color: transparent !important
    border: none
    color: var(--main)
    text-transform: uppercase
    letter-spacing: 0.05em

    &:focus
      box-shadow: none


///// CODE

pre.wp-block-code
  background-color: rgba(black, 0.05)

  code
    background-color: transparent


///// EMBEDS

// Hide all except Embed, Youtube, and Twitter
.block-editor-inserter__panel-content [aria-label="Embeds"]
  > div:nth-child(n+2)
    display: none


///// LATEST POSTS

.edit-post-visual-editor ul.wp-block-latest-posts
  display: grid
  grid-template-columns: repeat(var(--postsColumns, 1), 1fr)
  column-gap: var(--postsGap, 1.5rem)
  row-gap: var(--postsGap, 1.5rem)

  list-style-type: none
  padding-left: 0
  clear: both

  // the top spacing should follow Group sizing
  &.alignwide,
  &.alignfull
    --blockSpacing: var(--groupSpacing)

  li
    clear: both
    width: 100%
    margin: 0

  a
    display: block
    pointer-events: none

  li > a
    font-family: var(--hFontFamily)
    font-size: var(--postsFontSize, var(--h5Size))

  &.columns-1
    --postsColumns: 1
  &.columns-2
    --postsColumns: 2
  &.columns-3
    --postsColumns: 3
  &.columns-4
    --postsColumns: 4
  &.columns-5
    --postsColumns: 5
  &.columns-6
    --postsColumns: 6

  &.columns-4,
  &.columns-5,
  &.columns-6
    --postsGap: 1rem
    --postsFontSize: var(--h6Size)

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date
  display: inline-block
  color: var(--textDim)
  font-size: var(--smallFontSize)

.wp-block-latest-posts__post-author
  margin-right: 1rem

.wp-block-latest-posts__featured-image
  margin-bottom: 0.5rem

  a:hover
    opacity: .75

  &.alignleft,
  &.alignright
    max-width: 50%

    .is-grid &
      max-width: 40%

  &.alignleft
    float: left
    margin-right: 1rem

  &.alignright
    float: right
    margin-left: 1rem
  
  &.aligncenter,
  .is-grid &
    max-width: none

    img
      width: 100%
      max-height: 150px
      object-fit: cover