// This styling is applied to Gutenberg editor
@import "vars"
@import "vars-root"
@import "functions-mixins"
@import "components/fonts"

.wp-block
  max-width: var(--blogWidth)

  &.is-reusable
    max-width: none

.wp-block[data-align="wide"]
  max-width: calc(var(--siteWidth) - 100px)

.editor-styles-wrapper
  background-color: var(--siteBg)

[class*="-background-color"]
  background-color: var(--bgColor)

.has-text-color,
.has-inline-color
  color: var(--textColor, var(--text))

.has-background-dim
  position: relative

  &::before
    content: ""
    +absolute-fill
    z-index: 1
    opacity: .5
    background-color: inherit

///// TYPOGRAPHY

.editor-styles-wrapper > *
  font-family: var(--fontFamily)
  font-weight: var(--fontWeight)
  line-height: var(--lineHeight)

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter
  font-family: var(--hFontFamily)
  font-weight: var(--hFontWeight)
  text-transform: var(--hTextTransform)

.editor-styles-wrapper
  h1
    font-size: var(--h1Size)
  h2
    font-size: var(--h2Size)
  h3
    font-size: var(--h3Size)
  h4
    font-size: var(--h4Size)
  h5
    font-size: var(--h5Size)
  h6
    font-size: var(--h6Size)

///// LIST

[data-type="core/list"]
  ol
    list-style-type: lower-alpha

  &.has-background
    padding: 1rem 1.5rem
    padding-left: 2.5rem

///// HEADING

[data-type="core/heading"]
  &.has-background
    padding: 1rem 1.5rem

  strong
    font-weight: var(--fontWeight)

  sub,
  sup
    text-transform: uppercase
    letter-spacing: 0.05em
    font-size: 50%
    font-weight: 400


///// QUOTE

.wp-block-quote.has-text-align-center
  padding-top: 1rem
  
  &::before
    content: ""
    position: absolute
    top: 0
    width: 100px
    height: 3px
    background-color: var(--text)
    transform: translateX(-50%)

.wp-block-quote.is-style-large
  padding: 1rem 0
  border-top: 3px solid var(--textDim)
  border-bottom: 3px solid var(--textDim)
  font-size: var(--h5Size)

  &::before
    display: none

  p
    font-size: 1em
    font-style: normal

  cite
    text-align: right
    font-size: var(--sFontSize)

  &.has-text-align-center cite
    text-align: center

  &.has-text-align-right cite
    text-align: left


///// TABLE

.wp-block-table
  margin-top: var(--blockSpacing)
  margin-bottom: var(--blockSpacing)

  table
    --theadBg: var(--bgColor, #eef2f7)
    --theadColor: var(--textColor, var(--text))
    --tbodyBg: var(--textInvert)
    --tbodyColor: var(--text)
    border-collapse: collapse
    border-spacing: 0

  &.is-style-h-full-color table
    --tbodyBg: var(--theadBg)
    --tbodyColor: var(--theadColor)

  &.is-style-stripes
    th, td
      border: 1px solid rgba(black, .5)
    tbody tr:nth-child(odd)
      background: none
    tbody tr:nth-child(even)
      background-color: var(--theadBg)
      color: var(--theadColor)

  thead,
  tfoot
    background-color: var(--theadBg)
    color: var(--theadColor)
    font-weight: 700
    text-align: left
  thead
    border-bottom: 2px solid var(--text)
  tfoot
    border-top: 2px solid var(--text)

  tbody
    background-color: var(--tbodyBg)
    color: var(--tbodyColor)

  tr
    border: none

  th, td
    border: 1px solid rgba(black, .5)
    
    


///// BUTTON

.wp-block-button__link
  background-color: var(--color1)
  text-transform: uppercase
  font-weight: var(--hFontWeight)

  .is-style-outline &
    border: 2px solid currentColor
    color: var(--color1)

    &:not(:hover)
      background-color: transparent !important

  .is-style-h-transparent &
    border: none
    color: var(--textColor, var(--text))

    &:not(:hover)
      background-color: transparent !important


///// COLUMN

.wp-block-column.has-background
  padding: 1rem
  border-radius: var(--gRadius)


///// cover

.wp-block-cover.has-custom-content-position.has-custom-content-position
  .wp-block-cover__inner-container
    min-width: var(--blogWidth)
    width: 100%

///// CODE

pre.wp-block-code
  background-color: rgba(black, 0.05)

  code
    background-color: transparent


///// EMBEDS

// Hide all except Embed, Youtube, and Twitter
.block-editor-inserter__panel-content [aria-label="Embeds"]
  > div:nth-child(n+2)
    display: none


///// LATEST POSTS

.edit-post-visual-editor ul.wp-block-latest-posts
  display: grid
  grid-template-columns: repeat(var(--postsColumns, 1), 1fr)
  column-gap: var(--postsGap, 1.5rem)
  row-gap: var(--postsGap, 1.5rem)

  list-style-type: none
  padding-left: 0
  clear: both

  // the top spacing should follow Group sizing
  &.alignwide,
  &.alignfull
    --blockSpacing: var(--groupSpacing)

  li
    clear: both
    width: 100%
    margin: 0

  a
    display: block
    pointer-events: none

  li > a
    font-family: var(--hFontFamily)
    font-size: var(--postsFontSize, var(--h5Size))

  &.columns-1
    --postsColumns: 1
  &.columns-2
    --postsColumns: 2
  &.columns-3
    --postsColumns: 3
  &.columns-4
    --postsColumns: 4
  &.columns-5
    --postsColumns: 5
  &.columns-6
    --postsColumns: 6

  &.columns-4,
  &.columns-5,
  &.columns-6
    --postsGap: 1rem
    --postsFontSize: var(--h6Size)

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date
  display: inline-block
  color: var(--textDim)
  font-size: var(--smallFontSize)

.wp-block-latest-posts__post-author
  margin-right: 1rem

.wp-block-latest-posts__featured-image
  margin-bottom: 0.5rem

  a:hover
    opacity: .75

  &.alignleft,
  &.alignright
    max-width: 50%

    .is-grid &
      max-width: 40%

  &.alignleft
    float: left
    margin-right: 1rem

  &.alignright
    float: right
    margin-left: 1rem
  
  &.aligncenter,
  .is-grid &
    max-width: none

    img
      width: 100%
      max-height: 150px
      object-fit: cover