@import "settings"

$wc-panel: var(--gray-light)
$wc-panel-dark: h-darken( --gray-light, 5%)

///// GENERAL

// all woocommerce page become alignwide
.the-content > .woocommerce
  margin-right: auto
  margin-left: auto
  max-width: $grid-max-width

.price
  del
    display: block
    opacity: .5
    font-size: var(--smallFontSize)
  ins
    display: block
    text-decoration: none

.woocommerce-Price-currencySymbol // Change currency to be smaller
  font-weight: 400
  font-size: var(--smallFontSize)


@import "shop/toast"
@import "shop/archive"
@import "shop/single"
@import "shop/cart"