@import "settings"

$wc-panel: var(--gray-light)
$wc-panel-dark: h-darken( --gray-light, 5%)

///// GENERAL

// all woocommerce page become alignwide
.the-content > .woocommerce
    +h( mh-auto )
    max-width: $grid-max-width

.price
  del
    +h( d-block o50 fs-s )
  ins
    +h( d-block td-none )

.woocommerce-Price-currencySymbol // Change currency to be smaller
  +h( fw-text fs-s )


@import "shop/toast"
@import "shop/archive"
@import "shop/single"
@import "shop/cart"