@import "../../assets/sass/vars"
@import "../../assets/sass/helpers"

@import "shop-gutenberg"


.editor-styles-wrapper
  ul.wc-block-review-list,
  ul.wc-block-grid__products,
  ul.wc-block-product-categories-list
    padding-left: 0
    list-style-type: none

.editor-styles-wrapper
  .wc-block-featured-category,
  .wc-block-featured-product
    h2
      margin: 0