// Styles for core Gutenberg blocks

%figcaption
  display: inline-block
  padding: 0.5rem
  margin-right: auto
  margin-left: auto
  border-bottom: 1px solid var(--textDim)
  font-size: var(--smallFontSize)



///// PARAGRAPH

p.has-background
  padding: 1rem
  border-radius: var(--gRadius)

.has-drop-cap:first-letter
  float: left
  margin-right: 0.25rem
  font-family: var(--hFontFamily)
  font-weight: 700
  font-size: 3.25rem
  line-height: 3.25rem

.has-small-font-size
  font-size: var(--smallFontSize)

.has-medium-font-size
  font-size: var(--mediumFontSize)

.has-large-font-size
  font-size: var(--largeFontSize)
  line-height: var(--hLineHeight)

.has-huge-font-size
  font-size: var(--hugeFontSize)
  line-height: var(--hLineHeight)



///// HEADING

h1, h2, h3, h4, h5, h6
  &.has-background
    padding: 1rem 2rem

    @media ($below-s)
      padding: 0.5rem 1rem


///// BUTTONS

.wp-block-buttons
  display: flex
  align-items: center
  flex-wrap: wrap

  &.aligncenter
    justify-content: center

  &.alignright
    justify-content: flex-end

  &.alignleft
    justify-content: flex-start

.wp-block-button
  a
    text-decoration: none

  + .wp-block-button
    margin-left: 1rem



///// IMAGE

.wp-block-image
  text-align: center

  .alignleft,
  .alignright
    max-width: 50%
    margin-bottom: 1.5rem

  .alignleft
    float: left
    margin-right: 1.5rem
    text-align: left

  .alignright
    float: right
    margin-left: 1.5rem
    text-align: right

  &.alignfull
    img
      border-radius: 0

  figcaption
    @extend %figcaption



// hover effect
.wp-block-image > a,
.wp-block-gallery figure > a
  display: block
  overflow: hidden
  border-radius: var(--gRadius)

  img
    transition: var(--gTransition)

  &:hover img
    opacity: .8
    backface-visibility: hidden
    transform: scale(1.1)



///// GALLERY

.wp-block-gallery
  display: flex
  flex-direction: column

  figure
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-start

    height: 100%
    margin-bottom: 0
    border-radius: var(--gRadius)

  a
    height: 100%
    width: 100%

  .blocks-gallery-item__caption
    @extend %figcaption
    border-bottom: 0
    padding-bottom: 0
    border-radius: var(--gRadius)

  .blocks-gallery-caption
    @extend %figcaption


ul.blocks-gallery-grid
  display: flex
  flex-wrap: wrap
  padding-left: 0
  margin-right: -0.5rem
  margin-left: -0.5rem
  list-style-type: none
  max-width: calc(var(--siteWidth) + 1rem)

  .alignwide &
    max-width: calc(var(--siteWidth) + 1rem)


.wp-block-gallery.is-cropped
  img
    flex: 1
    height: 100%
    width: 100%
    object-fit: cover

  .blocks-gallery-item__caption
    position: absolute
    bottom: 0
    width: 100%
    padding: 0.5rem
    background-image: linear-gradient( 0deg, rgba(black,.7), rgba(black,.5) 50%,transparent)

    text-align: center
    color: white

  .blocks-gallery-item__caption a:hover
    opacity: .6
    color: inherit
  

.blocks-gallery-item
  flex-grow: 1
  padding: 0 0.5rem 1rem
  
  @media ($above-s)
    .columns-2 &
      width: 50%
    .columns-3 &
      width: calc(100% / 3)
    .columns-4 &
      width: 25%
    .columns-5 &
      width: 20%
    .columns-6 &
      width: calc(100% / 6)
    .columns-7 &
      width: calc(100% / 7)
    .columns-8 &
      width: 12.5%
    .columns- &
      width: 20%

  @media ($below-s)
    width: 33.33%

    .columns-2 &
      width: 50%

    .columns-1 &
      width: 100%
  
  @media ($below-xs)
    width: 50%




///// COVER

.wp-block-cover
  --bgColor: black
  --alignX: center
  --alignY: center

  display: flex
  align-items: stretch
  justify-content: center

  background-size: cover
  background-position: center center
  background-color: var(--bgColor)
  min-height: 400px
  padding: var(--blockSpacing) 0

  &[class*="is-position-top-"]
    --alignY: flex-start

  &[class*="is-position-bottom-"]
    --alignY: flex-end

  &[class$="-right"]
    --alignX: flex-end

  &[class$="-left"]
    --alignX: flex-start


.wp-block-cover__inner-container
  display: flex
  flex-direction: column
  align-items: var(--alignX)
  justify-content: var(--alignY)

  position: relative
  z-index: 2
  width: var(--siteWidth)
  color: white

  > *
    max-width: var(--blogWidth)
    width: 100%

  .alignwide
    max-width: var(--siteWidth)


.has-parallax
  background-attachment: fixed

.has-background-dim
  position: relative

  &::before
    content: ""
    +absolute-fill
    z-index: 1
    opacity: .5
    background-color: inherit

.has-background-dim-10::before
  opacity: .1
.has-background-dim-20::before
  opacity: .2
.has-background-dim-30::before
  opacity: .3
.has-background-dim-40::before
  opacity: .4
.has-background-dim-60::before
  opacity: .6
.has-background-dim-70::before
  opacity: .7
.has-background-dim-80::before
  opacity: .8
.has-background-dim-90::before
  opacity: .9
.has-background-dim-100::before
  opacity: 1


///// QUOTE

.wp-block-quote
  position: relative
  padding: 0.5rem 2rem
  border-left: 3px solid var(--text)

  > * + *
    margin-top: 1rem

  cite
    display: block
    font-size: var(--smallFontSize)
    color: var(--textDim)
  
  &.is-style-large
    padding-top: 1rem
    padding-bottom: 1rem
    margin-top: 2.5rem
    margin-bottom: 2.5rem
    border-left: none
    border-top: 3px solid var(--text)
    border-bottom: 3px solid var(--text)

    font-size: var(--h4Size)
    text-align: center

    &::after
      left: 0
      right: 0
      margin-right: auto
      margin-left: auto
      width: 3rem
      transform: translateY(-50%)


  &.has-text-align-right
    border-left: none
    border-right: 3px solid var(--text)

  &.has-text-align-center
    padding-top: 1.5rem
    padding-bottom: 0
    border-left: none

    &::before
      content: ""
      position: absolute
      top: 0
      width: 100px
      height: 3px
      background-color: var(--text)
      transform: translateX(-50%)




///// MEDIA TEXT

.wp-block-media-text
  --mediaColumn: minmax(0,1fr)
  --contentColumn: minmax(0,1fr)
  --contentPadding: 0
  --columnGap: 2rem

  display: grid
  row-gap: var(--columnGap)
  column-gap: var(--columnGap)
  grid-template-areas: "media text"
  grid-template-columns: var(--mediaColumn) var(--contentColumn)

  &.has-media-on-the-right
    grid-template-areas: "text media"
    grid-template-columns: var(--contentColumn) var(--mediaColumn)

  &:not([class*="is-vertically-aligned-"])
    align-items: center

  &.is-style-h-larger-image
    --mediaColumn: 3fr
    --contentColumn: 2fr

  &.is-style-h-smaller-image
    --mediaColumn: 2fr
    --contentColumn: 3fr 

  @media ($below-s)
    --columnGap: 1rem

  @media ($below-xs)
    &.is-stacked-on-mobile
      grid-template-areas: "media" "text"
      grid-template-columns: minmax(0, 1fr)
    


.wp-block-media-text.has-background
  --contentPadding: 2rem
  border-radius: var(--gRadius)

  @media ($below-m)
    --contentPadding: 1.5rem

  @media ($below-s)
    --contentPadding: 1rem

  @media ($below-xs)
    --contentPadding: 0 1rem 1rem 1rem




.wp-block-media-text__media
  grid-area: media
  margin-bottom: 0

  @media ($above-xs)
    .is-image-fill &
      align-self: stretch
      background-repeat: no-repeat
      background-size: cover
      border-radius: var(--gRadius)
      min-height: 150px

      img
        display: none

  @media ($below-xs)
    .is-image-fill &
      background-image: none !important


.wp-block-media-text__content
  grid-area: text
  padding: var(--contentPadding)
    


///// TABLE
  
.wp-block-table
  --tableHeader: #{ rgba(black, .1) }
  --tableBg: white
  --tableBorder: black

  display: flex
  flex-direction: column
  overflow: hidden

  table
    width: 100%
    border: 1px solid rgba(black, .1)

  tbody
    background-color: var(--tableBg)

  thead tr,
  tfoot tr
    background-color: var(--tableHeader)
    font-weight: 700
    text-align: left

  thead tr
    border-bottom: 2px solid var(--tableBorder)
  tfoot tr
    border-top: 2px solid var(--tableBorder)

  th,
  td
    padding: 0.5rem 1rem
    border: 1px solid rgba(black, .1)

  figcaption
    @extend %figcaption

  //
  @media ($below-s)
    overflow-x: auto

    td
      padding: 0.25rem 0.5rem


// Table styles
.wp-block-table
  &.is-style-stripes
    --tableBg: #{ rgba(--textDim, .05) }

    tbody
      background-color: transparent
    tbody tr:nth-child(even)
      background-color: var(--tableBg)

  .has-fixed-layout
    width: 100%
    table-layout: fixed

  .has-subtle-light-gray-background-color
    --tableHeader: #{ rgba(--textDim, .1) }
    --tableBg: #{ rgba(--textDim, .05) }
    --tableBorder: var(--textDim)

  .has-subtle-pale-green-background-color
    --tableHeader: #{ rgba(--green, .2) }
    --tableBg: #{ rgba(--green, .1) }
    --tableBorder: var(--green)

  .has-subtle-pale-blue-background-color
    --tableHeader: #{ rgba(--blue, .4) }
    --tableBg: #{ rgba(--blue, .2) }
    --tableBorder: var(--blue)

  .has-subtle-pale-pink-background-color
    --tableHeader: #{ rgba(--red, .2) }
    --tableBg: #{ rgba(--red, .1) }
    --tableBorder: var(--red)