// Styles for core Gutenberg blocks
  
[class*="-background-color"]
  background-color: var(--bgColor)

.has-text-color
  color: var(--textColor, var(--text))


%figcaption
  display: inline-block
  padding: 0.5rem
  margin-right: auto
  margin-left: auto
  border-bottom: 1px solid var(--textDim)
  font-size: var(--smallFontSize)


///// WRAPPER

.the-content
  letter-spacing: calc(0.01 * var(--fontSize))

  > .alignfull.has-background:first-child
    margin-top: calc(-1 * var(--groupSpacing))

  ul, ol
    padding-left: 1.25rem

  h1, h2, h3, h4, h5, h6
    clear: both
    color: var(--textColor)
  
  img
    border-radius: var(--gRadius)
  
  a
    text-decoration: underline


.the-content,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
  > *
    margin: 0 auto
    max-width: var(--blogWidth)

.the-content,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column
  > * + *
    margin-top: var(--blockSpacing)


.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content
  @media ($below-l)
    padding-right: var(--gridRim)
    padding-left: var(--gridRim)

.wp-block-group__inner-container
  body.single-post &
    padding-right: 1rem
    padding-left: 1rem


///// ALIGNMENT

.aligncenter
  text-align: center
.alignright
  text-align: right

.alignwide
  max-width: var(--siteWidth)

  .post-column--has-sidebar &

    @media ($above-l)
      margin-right: -2rem
      margin-left: -2rem

    // nested alignwide
    .alignwide
      padding-right: 0
      padding-left: 0
      margin-right: 0
      margin-left: 0


.alignfull
  max-width: none
  margin-top: var(--groupSpacing)

  + *
    margin-top: var(--groupSpacing)

  + .alignfull
    margin-top: 0

  .post-column--no-sidebar &
    width: 100vw
    margin-right: calc(-50vw + 50% + var(--gridRim))
    margin-left: calc(-50vw + 50% + var(--gridRim) - 2px)

  .post-column--has-sidebar &
    @media ($above-l)
      margin-right: -2rem
      margin-left: -2rem
      width: calc(100% + 4rem)

    // nested alignfull
    .alignfull
      padding-right: 0
      padding-left: 0

  &:last-child
    margin-bottom: 0


///// PARAGRAPH

.has-small-font-size
  font-size: var(--smallFontSize)

.has-medium-font-size
  font-size: var(--mediumFontSize)

.has-large-font-size
  font-size: var(--largeFontSize)
  line-height: var(--hLineHeight)

.has-huge-font-size
  font-size: var(--hugeFontSize)
  line-height: var(--hLineHeight)


///// IMAGE

.wp-block-image
  figcaption
    color: var(--textDim)
    font-size: var(--smallFontSize)
    text-align: center

  .alignleft figcaption
    text-align: left

  .alignright figcaption
    text-align: right


///// QUOTE

.wp-block-quote
  position: relative
  padding: 0 1.5rem
  border-left: 5px solid var(--text)

  > * + *
    margin-top: 1rem

  cite
    display: block
    font-size: var(--smallFontSize)
    color: var(--textDim)

  &.has-text-align-right
    border-left: none
    border-right: 5px solid var(--text)

  &.has-text-align-center
    padding-top: 1.5rem
    padding-bottom: 0
    border-left: none

    &::before
      content: ""
      position: absolute
      top: 0
      width: 100px
      height: 4px
      background-color: var(--text)
      transform: translateX(-50%)

  
.wp-block-quote.is-style-large
  padding-top: 1rem
  padding-bottom: 1rem
  margin: 2.5rem auto
  border-left: none
  border-top: 3px solid var(--text)
  border-bottom: 3px solid var(--text)

  font-size: var(--h4Size)
  text-align: center

  &::before
    display: none

  cite
    text-align: inherit


///// GALLERY

.wp-block-gallery
  justify-content: center

  .blocks-gallery-grid
    padding-left: 0

  .blocks-gallery-caption
    color: var(--textDim)
    font-size: var(--smallFontSize)


.wp-block-gallery.is-style-h-bottom-caption
  figure
    flex-wrap: wrap
  figure figcaption
    position: static
    width: 100%
    padding: 0.5rem 0.5rem 0
    background: transparent
    color: var(--text)


///// MEDIA TEXT

.wp-block-media-text
  column-gap: var(--gridGap)

  * + &
    margin-top: var(--groupSpacing)
    margin-bottom: var(--groupSpacing)

  .wp-block-media-text__content
    padding: 0


///// SEPARATOR

.wp-block-separator
  margin: 2.5rem auto

.wp-block-separator:not(.is-style-dots)
  display: block
  border-top: 1px solid var(--textDim)
  padding: 0
  width: 120px
  line-height: 1

  &.is-style-wide
    width: 100%


///// TABLE

  
.wp-block-table
  --tableBorder: black
  --tableHeader: #{ rgba(black, .1) }
  --tableBg: white
  --tableStripe: #{ rgba(black, .025) }

  display: flex
  flex-direction: column
  overflow: hidden

  table
    width: 100%

  thead tr,
  tfoot tr
    background-color: var(--tableHeader)
    font-weight: 700
    text-align: left
  thead tr
    border-bottom: 2px solid var(--tableBorder)
  tfoot tr
    border-top: 2px solid var(--tableBorder)

  th,
  td
    padding: 0.5rem 1rem
    border: 1px solid rgba(black, .1)

  figcaption
    @extend %figcaption

  //
  @media ($below-s)
    overflow-x: auto

    td
      padding: 0.25rem 0.5rem


// Table styles
.wp-block-table
  &.is-style-stripes
    tbody tr:nth-child(even)
      background-color: var(--tableStripe)
    tbody tr:nth-child(odd)
      background-color: var(--tableBg)

  .has-fixed-layout
    width: 100%
    table-layout: fixed

  .has-subtle-light-gray-background-color
    --tableBorder: var(--textDim)
    --tableHeader: rgba(--textDim, .1)

  .has-subtle-pale-green-background-color
    --tableBorder: var(--green)
    --tableHeader: rgba(--green, .2)
    --tableStripe: rgba(--green, .1)

  .has-subtle-pale-blue-background-color
    --tableBorder: var(--blue)
    --tableHeader: rgba(--blue, .2)
    --tableStripe: rgba(--blue, .1)

  .has-subtle-pale-pink-background-color
    --tableBorder: var(--red)
    --tableHeader: rgba(--red, .2)
    --tableStripe: rgba(--red, .1)


////// GROUP
  
.wp-block-group
  padding: var(--groupSpacing) 0

  &:not(.has-background)
    margin-top: 0

  &.has-background
    .post-column--has-sidebar &
      padding-right: 1rem
      padding-left: 1rem