// EDJE FAQ

.wp-block-h-faq
  --faqTitleBg: #e5e5e5
  --faqTitleColor: inherit

  border: 2px solid var(--faqTitleBg)
  border-radius: var(--gRadius)

  &:not([open])
    background-color: var(--faqTitleBg)

.h-faq-question
  position: relative
  cursor: pointer
  padding: 0.75rem 1rem 0.75rem 2rem
  background-color: var(--faqTitleBg)
  font-size: var(--h5Size)
  color: var(--faqTitleColor)
  line-height: 1.25

  transition: var(--gTransition)

  &:hover
    opacity: .8
  &:active
    transition: none
    box-shadow: var(--shadow0)
    transform: translateY(1px)

  &::-webkit-details-marker
    display: none

  &::before
    content: "+"
    position: absolute
    left: 0.75rem
    display: inline-block
    margin-right: 0.75rem
    font-family: var(--codeFontFamily)

    [open] &
      content: "-"
  
  [open] &
    opacity: 1


.h-faq-answer
  padding: 1rem 1.5rem

  p + p
    margin-top: 1rem

  
// Jetpack Contact Form
.contact-form

.grunion-field-wrap
  position: relative
  margin-bottom: 1rem

  .grunion-field-label
    cursor: pointer
    margin-bottom: 0.25rem
    font-weight: 700
    font-size: var(--smallFontSize)
    color: rgba(black, .5)
  span
    display: inline-block
    margin-left: 0.5rem
    text-transform: initial
    font-weight: 400
    color: var(--red)

  [type="text"],
  [type="email"],
  [type="tel"],
  [type="url"],
  textarea,
  select
    // custom style
  
  textarea
    max-height: 8rem