{% extends "layout.twig" %}
{% block content %}

<article class="the-content">
  
	<div class="wp-block-spacer" style="height:100px"></div>
	<h1 class="has-text-align-center has-blue-color">Page Not Found</h1>
	<p class="has-text-align-center">
		Sorry, the page you are looking for does not exist or has been deleted.
	</p>
  
</article>

{% endblock %}
