<footer class="site-footer">
  {% for row_id, row in rows %}
    <div data-row="{{ row_id }}" class="footer-row">
      <strong>{{ row_id }}</strong>
      {% for item_id, item in row %}
        {% include 'footer/_' ~ item_id ~ '.twig' with item only %}
      {% endfor %}
    </div>
  {% endfor %}
</footer>