<header class="site-header" data-visible="desktop">
  {{ _self.header_rows( desktop, placements ) }}
</header>

<div class="mobile-header" data-visible="mobile">
  {{ _self.header_rows( mobile, placements ) }}
</div>

{# Output header rows #}
{% macro header_rows( rows ) %}
  {% for row_id, columns in rows if columns | length > 0 %}  
    <div data-row="{{ row_id }}" class="header-row">

      {% for column_id, items in columns %}
        <div data-column="{{ column_id }}" class="header-column">
          
          {% for item_id, item in items %}
            {% include 'header/_' ~ item_id ~ '.twig' with item only %}
          {% endfor %}

        </div>
      {% endfor %}

    </div>
  {% endfor %}
{% endmacro %}