{% extends "layout.twig" %}
{% block content %}

<main role="main">
  <div class="wp-block-cover has-background-dim has-main-light-background-color alignfull" style="min-height:200px;">
    <div class="wp-block-cover__inner-container">
      <h1 class="has-color has-text-color has-text-align-center">{{ title }}</h1>
      {{ description | h_markdown }}
    </div>
  </div>

  {% if author %}
    {% include "_author-info.twig" with { author: author } %}
  {% endif %}

  {% include "_posts.twig" %}
  {% include "_pagination.twig" %}
</main>



{% endblock %}
