{% extends "layout.twig" %}
{% block content %}

<div class="the-content" id="content">

  <header class="post-header">
    <h1>{{ title }}</h1>
    {{ description | markdown }}
  </header>

  {# Blog Nav #}
  <nav class="blog-nav">
    {% for item in blog_nav.items %}
      <a href="{{ item.url }}" {% if "current-menu-item" in item.class %} class="active" {% endif %}>
        {{ item.title }}
      </a>
    {% endfor %}
  </nav>

  {% include "_posts.twig" %}
  {% include "_pagination.twig" %}

</div>

{% endblock %}
