{% extends "layout.twig" %}
{% block content %}

<h-grid>
  <main class="archive-column">
    {% if fn('function_exists', 'jetpack_breadcrumbs') %}
      {{ fn( 'jetpack_breadcrumbs' ) }}
    {% endif %}

    {% if title %}
      <header class="archive-header">
        <h1>{{ title }}</h1>
        {{ description | h_markdown }}
      </header>
    {% endif %}

    {% if author %}
      {% include "_author-info.twig" with { author: author } %}
    {% endif %}

    {% include "_posts.twig" %}
    {% include "_pagination.twig" %}
  </main>

</h-grid>



{% endblock %}
