{% extends "layout.twig" %}
{% block content %}

{# Content #}
<article class="the-content">
  <header class="post-header">
    <h1>{{ post.title }}</h1>
    {% include "_post-meta.twig" %}
  </header>

  {{ post.content }}  

  <address class="post-author">
    {% include "_author-info.twig" with { author: post.author } %}
  </address>
</article>

{# Related Posts & Comments #}
<section class="post-extra / wp-block-group alignfull has-background">
  <div class="wp-block-group__inner-container">
    {% include "_related-posts.twig" %}
    {% include "_comments.twig" %}
  </div>
</section>


{% endblock %}
