{% extends "layout.twig" %}
{% block content %}

{# Content #}
<article class="the-content">
  <header class="post-header">
    <h1>{{ post.title }}</h1>
    {% include "_post-meta.twig" %}
  </header>

  {{ post.content }}  

  <footer class="post-author">
    {% include "_author-info.twig" with { author: post.author } %}
  </footer>
</article>

{# Comments #}
<footer class="post-footer">
  <h-grid class="post-footer-grid"> <div class="large-4">
    {% include "_related-posts.twig" %}
    {% include "_comments.twig" %}
  </div> </h-grid>
</footer>

{% endblock %}
