// General class used in Gutenberg editor
  
// COLOR
[class*="-background-color"]
  background-color: var(--bgColor)

.has-text-color
  color: var(--textColor, var(--text))


// WRAPPER
article
  letter-spacing: calc(0.01 * var(--fontSize))

  ul, ol
    padding-left: 1.25rem
  h1, h2, h3, h4, h5, h6
    clear: both
    color: var(--textColor)
  img
    border-radius: var(--gRadius)
  a
    text-decoration: underline


.the-content,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column
  > *
    margin: 0 auto
    max-width: var(--siteWidth)

  > * + *
    margin-top: 1.5rem

  @media ($below-l)
    padding-right: var(--gridRim)
    padding-left: var(--gridRim)

    h-grid &
      padding-top: 0
      padding-bottom: 0
  

// ALIGNMENT
.has-text-align-right
  text-align: right

.has-text-align-left
  text-align: left

.aligncenter,
.has-text-align-center
  text-align: center

.alignwide
  margin-top: 2.5rem
  margin-bottom: 2.5rem
  max-width: var(--siteWidth)

  .alignfull &
    margin-top: 0

.alignfull
  max-width: none
  margin-top: 2.5rem
  margin-bottom: 2.5rem

  + .alignfull
    margin-top: -2.5rem

  &:last-child
    margin-bottom: 0

  @media ($below-l)
    margin-right: calc(-1 * var(--gridRim) )
    margin-left: calc(-1 * var(--gridRim) )

  
// VERTICAL ALIGNMENT
.is-vertically-aligned-top
  align-items: flex-start
  align-self: flex-start

.is-vertically-aligned-center
  align-items: center
  align-self: center

.is-vertically-aligned-bottom
  align-items: flex-end
  align-self: flex-end

%figcaption
  display: inline-block
  padding: 0.5rem
  margin-right: auto
  margin-left: auto
  border-bottom: 1px solid var(--textDim)
  font-size: var(--smallFontSize)
