////// GROUP
  
.wp-block-group
  padding-top: 2rem
  padding-bottom: 2rem

  &:not(.has-background)
    padding-top: 0
    padding-bottom: 0
  &:not(.has-background) + .alignfull
    margin-top: 0
  
///// BUTTON

.wp-block-button
  &.alignleft a
    float: left
    margin-right: 1.5rem
  &.alignright a
    float: right
    margin-left: 1.5rem

///// COLUMNS

.wp-block-columns
  display: flex

  @media ($below-s)
    flex-wrap: wrap

.wp-block-column
  flex: 1

  @media ($above-s)
    + .wp-block-column
      margin-left: 1.5rem

  @media ($below-s)
    width: 100%
    flex-basis: 100% !important

    + .wp-block-column
      margin-top: 1.5rem


///// MEDIA TEXT

.wp-block-media-text
  display: grid
  grid-row-gap: var(--gridGap)
  grid-column-gap: var(--gridGap)

  &[class*="-background-color"]
    padding: 1rem
    border-radius: var(--gRadius)

  @media ($above-xs)  
    grid-template-areas: "media text"
    grid-template-columns: 6fr 6fr

    &.has-media-on-the-right
      grid-template-areas: "text media"

    &.is-style-h-smaller-image,
    &.is-style-h-larger-image.has-media-on-the-right
      grid-template-columns: 4fr 8fr

    &.is-style-h-larger-image,
    &.is-style-h-smaller-image.has-media-on-the-right
      grid-template-columns: 8fr 4fr
  
  //
  @media ($below-xs)
    grid-template-areas: "media" "text"
    grid-template-columns: repeat(1, 1fr)


.wp-block-media-text__media
  grid-area: media
  margin-bottom: 0

  @media ($above-xs)
    .is-image-fill &
      align-self: stretch
      background-repeat: no-repeat
      background-size: cover
      border-radius: var(--gRadius)

      img
        display: none

  @media ($below-xs)
    .is-image-fill &
      background-image: none !important


.wp-block-media-text__content
  grid-area: text


///// SPACER

.wp-block-spacer
  margin-top: 0
  margin-bottom: 0


///// SEPARATOR

.wp-block-separator
  display: block
  border-top: 2px solid var(--bgColor)
  margin: 2.5rem auto
  padding: 0
  width: 120px
  line-height: 1

  &.is-style-wide
    width: var(--siteWidth)

  &.is-style-dots
    border: 0
    height: auto
    width: auto
    background-color: transparent
    text-align: center

    &::before
      content: "\00b7 \00b7 \00b7"
      padding-left: 2rem
      font-family: var(--codeFontFamily)
      font-size: var(--largeFontSize)
      letter-spacing: 1.5rem
      color: var(--bgColor, var(--text))

