///// PARAGRAPH

p.has-background
  padding: 1rem
  border-radius: var(--gRadius)

.has-drop-cap:first-letter
  float: left
  margin-right: 0.25rem
  font-family: var(--hFontFamily)
  font-weight: 700
  font-size: 3.5rem
  line-height: 3.5rem

.has-small-font-size
  font-size: var(--smallFontSize)
.has-medium-font-size
  font-size: var(--mediumFontSize)
.has-large-font-size
  font-size: var(--largeFontSize)
  line-height: var(--hLineHeight)
.has-huge-font-size
  font-size: var(--hugeFontSize)
  line-height: var(--hLineHeight)


///// IMAGE

.wp-block-image
  text-align: center

  .alignleft,
  .alignright
    max-width: 50%
    margin-bottom: 1.5rem
  .alignleft
    float: left
    margin-right: 1.5rem
  .alignright
    float: right
    margin-left: 1.5rem

  &.alignfull
    img
      border-radius: 0

  figcaption
    @extend %figcaption

// hover effect
.wp-block-image > a,
.wp-block-gallery figure > a
  display: block
  overflow: hidden
  border-radius: var(--gRadius)

  img
    transition: var(--gTransition)

  &:hover img
    opacity: .8
    backface-visibility: hidden
    transform: scale(1.1)


///// GALLERY

.wp-block-gallery 
  figure
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-start

    height: 100%
    margin-bottom: 0
    border-radius: var(--gRadius)
  a
    height: 100%
  
  figcaption
    @extend %figcaption
    border-bottom: none
    text-align: center


ul.blocks-gallery-grid
  display: flex
  flex-wrap: wrap
  padding-left: 0
  list-style-type: none
  max-width: calc(var(--siteWidth) + 1rem)

  .alignwide &
    max-width: calc(var(--siteWidth) + 1rem)


.wp-block-gallery:not(.is-cropped)
  figcaption
    border-bottom: 0
    margin-top: auto

.wp-block-gallery.is-cropped
  img
    flex: 1
    height: 100%
    width: 100%
    object-fit: cover
  figcaption
    position: absolute
    bottom: 0
    width: 100%
    padding: 0.5rem
    background-image: linear-gradient( 0deg, rgba(black,.7), rgba(black,.5) 50%,transparent)

    font-size: var(--smallFontSize)
    color: white

  figcaption a:hover
    opacity: .6
    color: inherit
  
.blocks-gallery-item
  flex-grow: 1
  padding: 0 0.5rem 1rem
  

  @media ($above-s)
    .columns-2 &
      width: 50%
    .columns-3 &
      width: calc(100% / 3)
    .columns-4 &
      width: 25%
    .columns-5 &
      width: 20%
    .columns-6 &
      width: calc(100% / 6)
    .columns-7 &
      width: calc(100% / 7)
    .columns-8 &
      width: 12.5%
    .columns- &
      width: 20%

  @media ($below-s)
    width: 33.33%

    .columns-2 &
      width: 50%
  
  @media ($below-xs)
    width: 50%


// Slider
.is-style-h-slider
  .blocks-gallery-item
    flex-grow: initial
  &.is-cropped .hSlider-slide
    align-items: stretch


///// COVER

.wp-block-cover
  --bgColor: black
  display: flex
  align-items: center
  justify-content: center

  background-size: cover
  background-position: center center
  background-color: var(--bgColor)
  min-height: 400px

  &.--for-featured-image
    align-items: flex-end

    .post-meta
      padding-top: 0.5rem
      padding-bottom: 0.5rem
      border-top: 1px solid
      border-bottom: 2px solid
      color: rgba(white, .6)

    .post-meta + p
      margin-top: 1.5rem

  &.--for-post-tease
    overflow: hidden
    align-items: flex-end
    padding: 0 2rem 2rem
    border-radius: var(--gRadius)
    max-width: calc(var(--siteWidth) + 4rem )

    a:hover h1
      text-decoration: underline

    .post-meta
      color: rgba(white, .6)


.wp-block-cover__inner-container
  position: relative
  z-index: 2
  width: var(--siteWidth)
  color: white

  @media ($below-l)
    padding-right: var(--gridRim)
    padding-left: var(--gridRim)

.has-parallax
  background-attachment: fixed

.has-background-dim
  position: relative

  &::before
    content: ""
    +absolute-fill
    z-index: 1
    opacity: .5
    background-color: inherit

.has-background-dim-10::before
  opacity: .1
.has-background-dim-20::before
  opacity: .2
.has-background-dim-30::before
  opacity: .3
.has-background-dim-40::before
  opacity: .4
.has-background-dim-60::before
  opacity: .6
.has-background-dim-70::before
  opacity: .7
.has-background-dim-80::before
  opacity: .8
.has-background-dim-90::before
  opacity: .9
.has-background-dim-100::before
  opacity: 1


///// QUOTE

.wp-block-quote
  position: relative
  padding: 0.5rem 2rem
  font-size: var(--mediumFontSize)
  border-left: 3px solid var(--text)

  > * + *
    margin-top: 1rem

  cite
    display: block
    font-size: var(--smallFontSize)
    color: var(--textDim)

  &::after
    content: "\f122"
    display: flex
    align-items: center
    justify-content: center

    position: absolute
    left: 0
    top: 0
    background-color: var(--siteBackgroundColor)
    width: 2rem
    height: 2rem
    color: var(--text)
    font-family: "dashicons"
    border-radius: var(--gRadius)
    transform: translateX(-50%)

  
  &.is-style-large
    padding-top: 1rem
    padding-bottom: 1rem
    margin-top: 2.5rem
    margin-bottom: 2.5rem
    border-left: none
    border-top: 3px solid var(--text)
    border-bottom: 3px solid var(--text)

    font-size: var(--h4Size)
    text-align: center

    &::after
      left: 0
      right: 0
      margin-right: auto
      margin-left: auto
      width: 3rem
      transform: translateY(-50%)


  &.has-text-align-right
    border-left: none
    border-right: 3px solid var(--text)

    &::after
      left: auto
      right: 0
      transform: translateX(50%)


  &.has-text-align-center
    padding-top: 0
    padding-bottom: 0
    border-left: none

    &::before
      content: ""
      display: block
      margin: 0 auto 2rem
      height: 3px
      width: 200px
      background-color: var(--text)
    &::after
      left: 0
      right: 0
      margin-right: auto
      margin-left: auto
      transform: translateY(-50%)
  

///// AUDIO

.wp-block-audio
  text-align: center

  audio
    width: 100%
  figcaption
    @extend %figcaption


///// FILE

.wp-block-file
  display: flex
  align-items: center
  justify-content: center
  padding: 1.25rem
  background-color: rgba(black, .05)
  border: 1px solid rgba(black, .2)
  border-radius: var(--gRadius)

  &.alignleft
    justify-content: flex-start
    float: left

  &.alignright
    justify-content: flex-end

.wp-block-file__button
  margin-left: 1rem


///// VIDEO

.wp-block-video
  width: 100%
  text-align: center

  video
    width: 100%

  figcaption
    @extend %figcaption