
///// EMBED

.wp-block-embed
  +h( mv2 ta-center )

  figcaption
    @extend %figcaption

.wp-block-embed__wrapper
  +h( d-flex jc-center relative )

  &::before
    .wp-has-aspect-ratio &,
    .wp-block-embed-wordpress &
      +h( content-empty d-block w100p )

    .wp-embed-aspect-21-9 &,
    .wp-block-embed-wordpress &
      padding-top: 42.85%
    .wp-embed-aspect-18-9 &
      padding-top: 50%
    .wp-embed-aspect-16-9 &
      padding-top: 56.25%
    .wp-embed-aspect-4-3 &
      padding-top: 75%
    .wp-embed-aspect-1-1 &
      padding-top: 100%
    .wp-embed-aspect-9-6 &
      padding-top: 66.667%
    .wp-embed-aspect-1-2 &
      padding-top: 200%
    

.wp-has-aspect-ratio,
.wp-block-embed-wordpress
  iframe
    +h( absolute-fill w100p h100p )


.wp-block-embed-wordpress
  blockquote
    +h( d-none )
  
  iframe
    clip: auto !important



///// SOCIAL MEDIA
ul.wp-block-social-links
  +h( d-flex jc-start fw-wrap pl0 list-none )

  &.aligncenter
    +h( jc-center )

.wp-social-link a
  +h( d-flex ai-center jc-center mr0_75 mb0_75  )
  +h( w42px h42px b1-solid bc-black_20 bbw2px  lh0  transition brad )
  background-color: var(--color)
  will-change: opacity

  &:hover
    +h( o70 )
  &:active
    +h( transition-none btw2px bbw1px )

  .is-style-logos-only &
    +h( bg-transparent bc-transparent mr0_5 )
    svg
      fill: var(--color)
    &:hover
      +h( bc-black_20 )

  .is-style-pill-shape &
    +h( brad-pill ph1 w-auto )

 
.wp-social-link svg
  +h( w28px h28px )
  fill: white
  

// color
@each $name, $color in $social-colors
  .wp-social-link-#{ $name }
    --color: #{ $color }

.wp-social-link-goodreads,
.wp-social-link-chain,
.wp-social-link-feed,
.wp-social-link-mail
  svg
    fill: #382110

.wp-social-link-snapchat
  stroke: black