///// PULLQUOTE

// Default CSS is queued by Edje
  
///// VERSE

.wp-block-verse
  font-family: var(--fontFamily)


///// TABLE

.wp-block-table
  --tableBorder: black
  --tableHeader: #{ rgba(black, .1) }
  --tableBg: white
  --tableStripe: #{ rgba(black, .05) }

  table
    width: 100%
  tr
    background-color: var(--tableBg)

  thead tr,
  tfoot tr
    background-color: var(--tableHeader)
    font-weight: 700
    text-align: left
  thead tr
    border-bottom: 2px solid var(--tableBorder)
  tfoot tr
    border-top: 2px solid var(--tableBorder)

  th,
  td
    padding: 0.5rem 1rem
    border: 1px solid rgba(black, .1)

  //
  @media ($below-s)
    td
      padding: 0.25rem 0.5rem


// Table styles
.wp-block-table
  &.is-style-stripes
    tbody tr:nth-child(odd)
      background-color: var(--tableStripe)

  .has-fixed-layout
    width: 100%
    table-layout: fixed

  [class*="-background-color"]
    --tableStripe: white

  .has-subtle-light-gray-background-color
    --tableBorder: var(--textDim)
    --tableHeader: #{ h-rgba(--textDim, .1) }
    --tableBg: #{ h-rgba(--textDim, .05) }

  .has-subtle-pale-green-background-color
    --tableBorder: var(--green)
    --tableHeader: #{ h-rgba(--green, .1) }
    --tableBg: #{ h-rgba(--green, .05) }

  .has-subtle-pale-blue-background-color
    --tableBorder: var(--blue)
    --tableHeader: #{ h-rgba(--blue, .1) }
    --tableBg: #{ h-rgba(--blue, .05) }

  .has-subtle-pale-pink-background-color
    --tableBorder: var(--red)
    --tableHeader: #{ h-rgba(--red, .1) }
    --tableBg: #{ h-rgba(--red, .05) }



///// CODE & PREFORMATTED

.wp-block-code,
.wp-block-preformatted
  padding: 1rem
  border: 1px solid rgba(black, .1)
  border-radius: var(--gRadius)
  background-color: rgba(black, .05)

  code
    padding: 0
    border: 0
    background-color: transparent

code
  padding: 0 0.5rem