// Jetpack Contact Form
.contact-form

.grunion-field-wrap
  position: relative
  margin-bottom: 1rem

  .grunion-field-label
    cursor: pointer
    margin-bottom: 0.25rem
    font-weight: 700
    font-size: var(--smallFontSize)
    color: rgba(black, .5)
  span
    display: inline-block
    margin-left: 0.5rem
    text-transform: initial
    font-weight: 400
    color: var(--red)

  [type="text"],
  [type="email"],
  [type="tel"],
  [type="url"],
  textarea,
  select
    // custom style
  
  textarea
    max-height: 8rem