// BACK TO TOP
.back-to-top
  --offset: 1rem

  position: fixed
  bottom: var(--offset)
  display: flex
  align-items: center

  width: 2.25rem
  height: 2.25rem
  padding: 0.5rem
  background-color: var(--text)
  border-radius: var(--gRadius)
  box-shadow: var(--shadow1)

  &:hover
    background-color: var(--main)
    box-shadow: var(--shadow2)

  path
    fill: var(--textInvert)

.back-to-top--align-right
  right: var(--offset)

.back-to-top--align-left
  left: var(--offset)


// VIEWPORT FRAME
body.has-frame
  &::before,
  &::after
    content: ""
    position: fixed
    left: 0
    z-index: 1000
    width: 100%
    height: var(--frameSize)
    background-color: var(--frameColor)
  
  &::before
    top: 0
  &::after
    bottom: 0

#main-container
  padding: var(--frameSize)

  &::before,
  &::after
    content: ""
    position: fixed
    top: 0
    z-index: 1000
    width: var(--frameSize)
    height: 100%
    background-color: var(--frameColor)

  &::before
    left: 0
  &::after
    right: 0