// Visibility
@media ($below-s)
  [data-visible="desktop"]
    display: none !important

@media ($above-s)
  [data-visible="mobile"]
    display: none !important


// Header Rows & Columns
.header-row
  background: var(--rowBackground )
  border-top: var(--borderTop)
  border-bottom: var(--borderBottom)
  padding: var(--padding)

.header-columns
  grid-template-columns: 1fr auto auto auto 1fr

.header-column
  display: flex
  align-items: center

[data-column="start"]
  order: 1

[data-column="start-middle"]
  order: 2

[data-column="middle"]
  order: 3

[data-column="end-middle"]
  order: 4

[data-column="end"]
  margin-left: auto
  order: 5


// LOGO
.logo
  img
    max-height: 80px

// BUTTON
.header-button
  background-color: var(--background)
  color: var(--color)

  &:hover
    --background: var(--backgroundHover)