body
  +h( ovx-hidden mt1 )
  
.main-nav
  +h( relative bg-white mb2  z100 )

  @media ($below-nav)
    +h( sticky top0 )

.nav-wrapper
  +h( d-flex relative  shadow0 brad )
  border-top: 3px solid var(--main)


// make body clickable to close the NAV when it's active
body.has-active-nav,
body.has-active-cart
  +h( cursor-pointer )
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)


// NAV ITEMS WRAPPER
.nav-items
  +h( d-flex flex1 jc-start fw-wrap list-none transition )

  body.has-active-nav &
    +h( v-visible o100 )
    transform: none

  //
  @media ($below-nav)
    +h( fd-column v-hidden fixed o0 z100 )
    +h( absolute top100p left0 right0 )
    +h( pv0_5 bg-white transition shadow1 )

    border-bottom: 3px solid var(--main)
    border-radius: 0 0 var(--gRadius) var(--gRadius)


// NAV ITEM
.nav-item
  +h( relative br1-solid bc-black_05 )

  > a
    +h( d-flex ai-center h100p pv0_75 ph1  lh1 c-text )
  > a:hover
    +h( bg-main_10 )
  > a:active
    +h( bg-main_20 transition-none )


  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_parent
    > a
      +h( c-main )

  //
  @media ($above-nav)
    &.menu-item-has-children > a::after
      content: ""
      +h( d-iblock ml0_5 )
      +triangle( s, inherit, 10px, 6px )

  //
  @media ($below-nav)
    > a
      +h( p0_75 fw700 tt-uppercase ls25 )
    > a:hover
      +h( bg-main_10 )


// NAV ITEM CHILDREN
.nav-children
  a
    +h( d-block p0_5 ph0_75 c-inherit )
  a:hover
    +h( bg-main_10 )
  a:active
    +h( bg-main_20 transition-none )

  //
  @media ($above-nav)
    +h( absolute v-hidden o0 top100p left0 bg-white nowrap )
    +h( shadow1 transition )
    width: 200px
    border-bottom: 3px solid var(--main)
    border-radius: 0 0 var(--gRadius) var(--gRadius)

    .nav-item:hover &,
    a:focus + &
      +h( v-visible o100 )
    &:focus-within // separated because not supported in IE
      +h( v-visible o100 )

  //
  @media ($below-nav)
    +h( d-flex fw-wrap  )
    a
      +h( w50p )
  //
  @media ($below-xs)


// NAV MOBILE TOGGLE
.nav-item.--mobile-toggle
  i
    +h( mr0_25 va-middle )
  i::before
    +h( fs-m )
    width: 18px
    height: 18px
  strong
    +h( tt-uppercase ls25 )

  // change toggle button to "Close"
  body.has-active-nav &
    i::before
      content: "\f158"
    strong
      font-size: 0
    strong::after
      content: "Close"
      +h( fs-body )

  //
  @media ($above-nav)
    +h( d-none )


// NAV EXTRA
.nav-extra
  +h( d-flex order2 ml-auto relative )

  a
    +h( d-flex ai-center bg-main ph1  lh1 c-white )
  a:hover
    +h( bg-main_80 )
  span
    +h( ml0_5 )
    line-height: 20px

  //
  @media ($below-m)
    a
      +h( ph0_5 )
  //
  @media ($below-nav)
    a
      +h( ph1 )
    span
      +h( d-none )
  