$below-related-s: "max-width:870px"

$output-author: true
$output-related: true
$output-comment: true
$output-password-form: false
$output-infinite-scroll: false

// WRAPPER

.the-content
  max-width: var(--siteWidth)
  margin: 0 auto

  .post &
    --siteWidth: var(--blogWidth)

///// PAGINATION

.pagination
  display: flex
  margin-top: 2rem
  margin-bottom: 2rem

  color: var(--textDim)
  font-size: var(--smallFontSize)
  text-align: center

  a,
  select
    cursor: pointer
    width: auto
    appearance: none
  a
    align-self: center
  a:first-child
    margin-right: auto  
  a:last-child
    margin-left: auto
  
  // no href
  a:not([href])
    visibility: hidden
    opacity: 0


///// POSTS LISTING

.post-tease
  display: flex
  flex-direction: row-reverse
  position: relative

  padding-bottom: 2rem
  margin-top: 2rem
  margin-bottom: 2rem
  border-bottom: 1px solid rgba(black, .2)
  
  a
    text-decoration: none
    color: inherit
  figure
    margin-bottom: 0
    margin-left: 0.75rem
  
  //
  @media ($below-s)
    display: block
    figure
      float: right
    img
      width: 150px

  @media ($below-m)
    img
      width: 100px

.tease-body
  flex: 1

  > a
    display: block
  > a:hover h3
    text-decoration: underline
  h3
    margin: 0
    margin-bottom: 0.5rem
  p
    margin-bottom: 1rem

  @media ($below-s)
    h3
      clear: none


///// BLOG NAV

.blog-nav
  display: flex
  flex-wrap: wrap
  margin-top: 2rem
  margin-bottom: 2rem
  padding: 0.5rem 0
  border-bottom: 2px solid var(--text)
  border-top: 1px solid var(--textDim)

  a
    display: inline-block
    padding: 0.25rem 0.5rem

    text-transform: uppercase
    text-decoration: none
    color: var(--text)
    font-size: var(--smallFontSize)
    letter-spacing: 0.025rem

    border-radius: var(--gRadius)
    transition: var(--gTransition)

    &:hover
      color: var(--main)
    &.active
      background-color: var(--main)
      color: var(--textInvert)


///// SINGLE POST

.post-header
  position: relative
  margin: 2rem 0

  h1, h2, p
    margin-bottom: 1rem
  a:hover
    text-decoration: underline

  .author &
    small
      display: block
      font-size: 1rem
      font-weight: var(--fontWeight)
    img
      float: right
      width: 70px
      border-radius: var(--gRadius)


///// POST META

.post-meta
  position: relative

  a
    color: inherit
    text-decoration: none
  a:hover
    text-decoration: underline
  .dashicons-before::before
    width: 1em
    height: 1em
    font-size: 1rem
    vertical-align: middle

  body.single &
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    border-top: 1px solid rgba(black, .2)
    border-bottom: 2px solid rgba(black, .2)

.meta-author
  padding-right: 0.5rem

.meta-category
  text-transform: uppercase
  
.meta-date,
.meta-comments
  display: inline-block
  padding: 0 0.5rem
  border-left: 1px solid var(--textDim)
  
  @media ($below-s)
    padding: 0 0.5rem
  
  @media ($below-xs)
    width: 100%


///// AUTHOR

@if $output-author
  .post-author
    display: flex
    padding: 2rem 0
    margin-top: 1rem
    border-top: 1px solid var(--textDim)

    h6
      margin: 0 0 0.5rem
    //
    @media ($below-xs)
      flex-direction: column
      text-align: center

  .banner-author
    padding: 2rem 0
    text-align: center

  // Author image
  .author-image
    img
      border: 1px solid var(--textDim)
      border-radius: var(--gRadius)
      padding: 0.25rem
      height: 4em
      width: 4em
    .banner-author &
      margin-bottom: 1rem
    //
    @media ($below-xs)
      margin-bottom: 1rem

  // Author text
  .author-text
    .post-author &
      flex: 1
      padding: 0 0.75rem
      p
        margin-bottom: 0
        font-size: var(--smallFontSize)

    .banner-author &
      margin-bottom: 1.5rem
    
    * + p
      margin-top: 0.5rem

    a
      color: inherit
      text-decoration: none
    a:hover
      color: inherit
      text-decoration: underline

    b
      text-transform: uppercase
      font-weight: var(--fontWeight)
      font-size: var(--smallFontSize)
      letter-spacing: 0.05em

      .post-author &
        display: none

    .author-url
      color: var(--textDim)

      .banner-author &
        color: var(--main)
    
    //
    @media ($below-xs)
      margin-bottom: 1rem


///// RELATED POSTS

section.post-extra
  margin-bottom: 0
  background-color: rgba(black, .05)

@if $output-related
  // heading
  div#jp-relatedposts h3.jp-relatedposts-headline,
  .post-comments h4
    display: block
    float: none
    margin-bottom: 1.5rem

    font-size: var(--h5Size)
    letter-spacing: 0.05em
    text-transform: uppercase


  ///// RELATED POSTS (Jetpack)
  div#jp-relatedposts
    display: block
    padding-top: 0
    margin-bottom: 3rem

    // list
    div.jp-relatedposts-items
      +clearfix
      display: flex
      margin: 0 -125px

      //
      @media ($below-related-s)
        margin: 0 -5px
      //
      @media ($below-s)
        flex-direction: column
        margin: 0

    // main title
    h3.jp-relatedposts-headline
      em
        font-style: normal
      em::before
        display: none

    // single item
    div.jp-relatedposts-items .jp-relatedposts-post
      overflow: hidden
      padding: 1rem
      margin-right: 0.75rem
      margin-left: 0.75rem
      width: 33.333%
      
      opacity: 1
      background-color: white
      box-shadow: var(--shadow1)
      border-radius: var(--gRadius)

      // hide underline when hovering the whole box
      &:hover .jp-relatedposts-post-title .jp-relatedposts-post-a
        text-decoration: none
      //
      @media ($below-related-s)
        margin-right: 0.25rem
        margin-left: 0.25rem
      //
      @media ($below-s)
        width: 100%
        margin: 0
        margin-bottom: 1rem

    // single image
    .jp-relatedposts-post > .jp-relatedposts-post-a
      overflow: hidden
      display: block
      max-height: 160px
      margin: -1em
      margin-bottom: 1em

      // underline title when hovering image
      &:hover + .jp-relatedposts-post-title
        text-decoration: underline

    // single title
    div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title
      clear: none
      font-size: var(--mediumFontSize)
      letter-spacing: 0
      line-height: var(--hLineHeight)

      &:hover
        text-decoration: underline
      a
        display: block
        font-weight: var(--hFontWeight)
        color: inherit
        text-decoration: none

      @media ($below-xs)
        font-size: 1rem

    // meta
    div.jp-relatedposts-items .jp-relatedposts-post
      p, span
        overflow: visible
        max-width: 100%
        font-size: var(--smallFontSize)

      .jp-relatedposts-post-excerpt,
      .jp-relatedposts-post-context
        display: none

      .jp-relatedposts-post-date
        display: inline-block
        opacity: 0.6
        
        //
        @media ($below-xs)
          font-size: var(--smallFontSize)

    // visual layout
    div.jp-relatedposts-items div.jp-relatedposts-post-thumbs
      //
      @media ($below-related-s)
        font-size: var(--smallFontSize)
      //
      @media ($below-s)
        padding-bottom: 0

        > .jp-relatedposts-post-a
          float: left
          margin-right: 0.75rem
          margin-bottom: 0
          max-width: 150px

    // next prev
    &.jp-next-prev
      div.jp-relatedposts-items
        flex-direction: row
        margin: 0 -10px

      div.jp-relatedposts-items .jp-relatedposts-post
        width: 50%
        margin: 0 10px

        //
        @media ($below-s)
          padding: 0.5rem
      
      //
      @media ($below-s)
        .jp-relatedposts-post > .jp-relatedposts-post-a
          margin: -0.5em
          margin-bottom: 0.5em

      // next prev no thumbnail
      div.jp-relatedposts-items .jp-relatedposts-nothumb
        display: flex
        flex-direction: column
        justify-content: center

        text-align: center

        .jp-relatedposts-post-title
          font-size: var(--h4Size)

        .jp-relatedposts-nothumb-excerpt
          margin-top: 1rem

          //
          @media ($below-s)
            display: none

        .jp-relatedposts-nothumb-excerpt a
          display: block

///// COMMENTS

@if $output-comment
  .post-comments
    ul
      list-style-type: none

  .comments-list
    padding-left: 0
    margin-top: 2rem

    > li
      padding: 1.25rem
      margin-bottom: 1.5rem
      background-color: white
      border: 1px solid rgba(black, .1)
      border-radius: var(--gRadius)

  // Single Comment
  .comment
    position: relative

    &.bypostauthor .comment-avatar
      padding: 1px

    .avatar
      margin-right: 0.75rem
      width: 2.5em
      height: 2.5em


  .comment-header
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 1rem

    time
      margin-left: 0.5rem
      font-size: var(--smallFontSize)
      color: var(--textDim)

  .comment-text
    p + p
      margin-top: 1rem


  // Child comments
  .replies-list
    margin-top: 1.5rem
    padding-left: 1.25rem
    border-left: 2px solid rgba(black , .1)
    
    .comment
      font-size: var(--smallFontSize)

    > li + li
      margin-top: 1.5rem
    header
      margin-bottom: 0.5rem
    p + p
      margin-top: 0.5rem


  // Reply link
  a.comment-reply-link
    position: absolute
    top: 5px
    right: 0

    padding-right: 0.5rem
    padding-left: 0.5rem
    border-radius: var(--gRadius)
    background-color: h-rgba(--main, .1)
    font-size: var(--smallFontSize)
    font-weight: var(--hFontWeight)
    letter-spacing: 0.05em
    text-transform: uppercase

    &:hover
      background-color: h-rgba(--main, .25)


  ///// COMMENT FORM /////

  .comment-reply-title
    display: none

  .comment-respond
    margin-bottom: 2rem

    .comments-list & // if reply
      width: 110%
      margin: 0 -5%

  .comment-form
    display: flex
    flex-wrap: wrap
    padding: 1rem
    background-color: white
    border-radius: var(--gRadius)
    box-shadow: var(--shadow1)

    .comments-list & // if reply
      margin-top: 1.25rem

    p
      display: flex
      flex-direction: column
      width: 100%
      margin-bottom: 1rem

    label
      cursor: pointer
      margin-bottom: 0.5rem
      text-transform: uppercase
      color: var(--textDim)
      letter-spacing: 0.05em
      font-size: var(--smallFontSize)

    .comment-notes,
    .logged-in-as
      display: block
      color: var(--textDim)
      font-size: var(--smallFontSize)
    
  // when not active, only show Textarea
  .comment-form:not(.--active)
    padding: 0

    \:not(.comment-form-comment)
      overflow: hidden
      height: 0
      margin: 0


  // Textarea
  .comment-form-comment
    label
      display: none

    textarea
      height: 9rem

    .comment-form:not(.--active) &
      margin: 0

      textarea
        cursor: pointer
        padding: 1.5rem
        border: 0
        background-color: h-rgba(--main, .1)
        height: 4.5rem
        box-shadow: none
      
      textarea:hover
        background-color: transparent


  p.comment-form-author,
  p.comment-form-email
    width: 50%

    @media ($below-xs)
      width: 100%

  p.comment-form-author
    padding-right: 0.5rem

  p.comment-form-email
    padding-left: 0.5rem

  p.comment-form-url
    display: none

  p.comment-form-cookies-consent
    flex-direction: row

    input
      margin-top: 2px
      margin-right: 0.5rem

    label
      display: inline-block
      text-transform: none

  p.form-submit
    align-items: center
    margin-bottom: 0

// if $output-comment


///// POST PASSWORD FORM
@if $output-password-form
  .post-password-form
    padding: 2rem 4rem
    background-color: rgba(black, .05)
    border-radius: var(--gRadius)

    p:last-child
      display: flex
      border-bottom: 1px solid var(--textDim)
      padding-bottom: 0.5rem

    label
      flex: 1
      color: var(--textDim)

    input[type="password"]
      background-color: transparent
      border: none
      margin-top: 1rem
      padding: 0

      font-size: var(--h3Size)
      color: var(--text)
      letter-spacing: 0.05em
      
      &:hover,
      &:focus
        border: none
        box-shadow: none

    input[type="submit"]
      align-self: flex-end
      background-color: white
      padding-right: 2rem
      padding-left: 2rem


///// INFINITE SCROLL (Jetpack)
@if $output-infinite-scroll
  body[class^="paged-"] #infinite-footer
    display: none // if infinite-footer is turned on (in theme_support), hide it in paged list.

  .infinite-loader
    margin-top: 2rem
    margin-bottom: 2rem

    .spinner
      left: 50% !important
      transform: translateX(-50%)