///// FONT FACES
  
@font-face
  src: url('../fonts/sourcesanspro-regular.woff2')
  font-family: 'Source Sans Pro'
  font-weight: 400

@font-face
  src: url('../fonts/sourcesanspro-italic.woff2')
  font-family: 'Source Sans Pro'
  font-weight: 400
  font-style: italic

@font-face
  src: url('../fonts/sourcesanspro-bold.woff2')
  font-family: 'Source Sans Pro'
  font-weight: 700

@font-face
  src: url('../fonts/notoserif-regular.woff2')
  font-family: 'Noto Serif'
  font-weight: 400

@font-face
  src: url('../fonts/notoserif-bold.woff2')
  font-family: 'Noto Serif'
  font-weight: 700