///// SHARING

$social-logos: ( twitter: '\f202', facebook: '\f203', pinterest: '\f210', jetpack-whatsapp: '\f608', skype: '\f220', pocket: '\f224', linkedin: '\f207', reddit: '\f222', tumblr: '\f607', telegram: '\f606', youtube: '\f213', instagram: '\f215', print: '\f469', more: '\f415' );


///// SHARING

.sharedaddy 
  margin-top: 2rem
  margin-bottom: 2rem
  padding-top: 2rem
  border-top: 1px solid var(--textDim)

  .share-end
    display: none
  .sd-title
    margin-bottom: 1rem
    white-space: nowrap
    font-size: var(--fontSize)
    letter-spacing: 0.05em
    text-transform: uppercase
    
    &::before
      display: none
  .sd-button
    text-decoration: none

.sharedaddy .sd-content 
  ul
    display: flex
    flex-wrap: wrap
    list-style-type: none
    padding-left: 0
    margin: 0 -4px
  li 
    display: flex
    align-items: center
    padding: 0 0.25rem
    margin-bottom: 0.5rem

// Button
.sd-button 
  --color: #333
  --colorHover: #{ rgba(#333, .2) }
  display: inline-block
  overflow: hidden
  border: 1px solid var(--color)
  border-bottom-width: 2px
  border-radius: var(--gRadius)
  color: var(--color)

  &:hover
    color: var(--color)
    background-color: var(--colorHover)
  &:active 
    border-top-width: 2px
    border-bottom-width: 1px
    transition: none

  .sd-social-icon-text &,
  .sd-social-text &
    padding: 0px 10px 2px

  .sd-social-icon & 
    padding: 4px 10px
    border-radius: 50%

    &.share-more 
      padding-top: 0
      padding-bottom: 0
      border-radius: var(--gRadius)
    &.share-more::before 
      margin-right: 0.25rem
      
  span
    vertical-align: middle
  .sharing-screen-reader-text 
    display: none


.sd-button::before
  content: ""
  display: inline-block
  position: relative
  top: 1px

  vertical-align: middle
  line-height: 1
  text-align: center
  font-family: 'social-logos'
  font-size: 18px

  .sd-social-official & 
    top: -2px
  .sd-social-icon & 
    top: 0
    font-size: 20px
  .sd-social-icon-text &
    margin-right: 0.25rem

// Social colors
@each $name, $value in $social-logos
  @if map-has-key( $social-colors, $name )
    .social-logo__#{ $name }:hover::before,
    .sd-button.share-#{ $name }
      --color: #{ map-get($social-colors , $name) }
      --colorHover: #{ rgba( map-get($social-colors, $name), .2 ) }

  .social-logo.social-logo__#{ $name }::before,
  .sd-social-icon-text .sd-button.share-#{ $name }::before,
  .sd-social-icon .sd-button.share-#{ $name }::before 
    content: $value


// Custom button
.share-custom 
  .sd-social-icon-text & 
    padding-left: 6px
  span
    padding-left: 1.25rem
    background: left no-repeat
    background-size: 1em


// SOCIAL LOGO
// Base CSS and Font are loaded with jetpack
.social-logo 
  font-size: 1.5em
  font-weight: 400
  line-height: 1
  vertical-align: top
  color: rgba(black, .4)

  .main-footer &
    color: rgba(white, .4)
