///// FONT FACES

@font-face
  src: url('../fonts/notoserif-regular.woff2')
  font-family: 'Noto Serif'
  font-weight: 400

@font-face
  src: url('../fonts/notoserif-bold.woff2')
  font-family: 'Noto Serif'
  font-weight: 700