///// FOOTER /////


.main-footer
  background-color: var(--text)
  margin-top: var(--groupSpacing)

.footer
  --footerPadding: 2rem
  --footerBg: transparent

  display: flex
  justify-content: center
  padding-top: var(--footerPadding)
  padding-bottom: var(--footerPadding)
  background: var(--footerBg)
  color: var(--textInvert)

  &.footer--top-row
    --footerPadding: 1.5rem
  &.footer--bottom-row
    --footerPadding: 0.5rem

  .widget + .widget
    margin-top: 1.5rem

  .widgettitle
    margin-bottom: 0.5rem
    font-size: var(--h4Size)

// GRID

.widget-row
  --footerGap: var(--gridGap)

  .footer &
    display: flex
    max-width: calc(var(--siteWidth) + var(--footerGap))

    @media ($below-l)
      --footerGap: 0.75rem
    
    @media ($below-s)
      flex-wrap: wrap


.widget-column
  .footer &
    flex-direction: column
    align-items: flex-start
    width: var(--columnSize)
    padding: 0 var(--footerGap)

    &:not([style])
      flex: 1

    @media ($above-s)
      &:last-child:not(:first-child)
        align-items: flex-end

    @media ($below-s)
      width: 100%
      align-items: center

      + .widget-column
        margin-top: var(--blockSpacing)

  .footer--bottom-row &
    justify-content: center      



////// WIDGET: Footer Navigation

.footer .widget_nav_menu
  --itemPadding: 0.25rem 0.5rem
  --itemBgHover: rgba(255,255,255, .1)
  --itemFontSize: var(--fontSize)

.footer .menu
  display: flex
  flex-wrap: wrap
  list-style-type: none

.footer .menu-item
  > a
    display: flex
    align-items: center
    height: 100%
    padding: var(--itemPadding)

    font-size: var(--itemFontSize)
    line-height: 1
    letter-spacing: 0.025em
    text-transform: uppercase
    color: inherit
    background-color: transparent

  > a:hover
    background-color: rgba(white, .2)
    text-decoration: underline

// hide children
.footer
  .child-indicator
    display: none
  .sub-menu
    display: none


// Bottom row is  Copyright
.footer--bottom-row
  font-size: var(--smallFontSize)


///// LOGO

.widget_h_logo
  .footer &
    justify-content: flex-start
    width: 100%