// The styling for the blocks below rarely changed
  
[class*="-background-color"]
  background-color: var(--bgColor)

.has-text-color
  color: var(--textColor, var(--text))

///// WRAPPER

.the-content
  letter-spacing: calc(0.01 * var(--fontSize))
  overflow-wrap: break-word

  ul, ol
    padding-left: 1.25rem

  h1, h2, h3, h4, h5, h6
    clear: both
    color: var(--textColor)
  
  img
    border-radius: var(--gRadius)
  
  a
    text-decoration: underline
  
.the-content,
.wp-block-group__inner-container
  > *
    margin: 0 auto
    max-width: var(--blogWidth)

// Add rim to the side
body:not(.single-post) .the-content,
.has-background .wp-block-group__inner-container,
.wp-block-cover__inner-container
  @media ($below-l)
    padding-right: var(--gridRim)
    padding-left: var(--gridRim)

  
.the-content,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column
  > * + *
    margin-top: var(--blockSpacing)



///// ALIGNMENT

.alignleft,
.has-text-align-right
  text-align: right
.alignright,
.has-text-align-left
  text-align: left
.aligncenter,
.has-text-align-center
  text-align: center

.alignwide
  max-width: var(--siteWidth)
  
  @media ($below-l)
    max-width: 100%


.alignfull
  max-width: none
  margin-top: var(--groupSpacing)

  @media ($below-l)
    margin-right: calc(-1 * var(--gridRim))
    margin-left: calc(-1 * var(--gridRim))

  &:first-child
    margin-top: 0

  + *
    margin-top: var(--groupSpacing)

  + .alignfull
    margin-top: 0

  &:last-child
    margin-bottom: 0


.is-vertically-aligned-top
  align-items: flex-start
  align-self: flex-start
.is-vertically-aligned-center
  align-items: center
  align-self: center
.is-vertically-aligned-bottom
  align-items: flex-end
  align-self: flex-end

// @since WP 5.7.0
.is-content-justification-left
  --flexAlign: flex-start
.is-content-justification-center
  --flexAlign: center
.is-content-justification-right
  --flexAlign: flex-end

[class*="is-content-justification-"]
  justify-content: var(--flexAlign)

  &.is-vertical
    justify-content: normal
    align-items: var(--flexAlign)

.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute !important
  width: 1px
  word-wrap: normal !important

///// COLUMNS

.wp-block-columns
  display: flex

  &.has-background
    padding: var(--blockSpacing)
    background-color: var(--bgColor)

  @media ($below-s)
    flex-wrap: wrap

.wp-block-column
  flex-basis: 0
  flex-grow: 1
  min-width: 0

  &[style*="flex-basis"]
    flex-grow: 0

  @media ($above-s)
    + .wp-block-column
      margin-left: 1.5rem

  @media ($below-s)
    flex-basis: 100% !important
    width: 100%

    + .wp-block-column
      margin-top: 1.5rem


////// GROUP
  
.wp-block-group
  &:not(.has-background)
    margin: var(--groupSpacing) 0

  &.has-background
    padding: var(--groupSpacing) 0


///// CODE & PREFORMATTED

.wp-block-code,
.wp-block-preformatted
  white-space: normal

.wp-block-code
  background-color: rgba(black, .05)
  padding: 1rem
  border: 1px solid rgba(black, .1)
  border-radius: var(--gRadius)

  code
    padding: 0 0.5rem


///// SPACER

.wp-block-spacer
  margin-top: 0
  margin-bottom: 0


///// SEPARATOR

.wp-block-separator
  display: block
  border-top: 2px solid var(--bgColor, var(--textDim))
  margin: 2.5rem auto
  padding: 0
  width: 120px
  line-height: 1
  clear: both

  &.is-style-wide
    width: var(--siteWidth)

  &.is-style-dots
    border: 0
    height: auto
    width: auto
    background-color: transparent
    text-align: center

    &::before
      content: "\00b7 \00b7 \00b7"
      padding-left: 2rem
      font-family: var(--codeFontFamily)
      font-size: var(--largeFontSize)
      letter-spacing: 1.5rem
      color: var(--bgColor, var(--text))


  
///// VERSE
  
.wp-block-verse
  font-family: var(--fontFamily)
  
///// AUDIO

.wp-block-audio
  text-align: center

  audio
    width: 100%
  figcaption
    @extend %figcaption


///// FILE

.wp-block-file
  display: flex
  align-items: center
  justify-content: center
  padding: 1.25rem
  background-color: rgba(black, .05)
  border: 1px solid rgba(black, .2)
  border-radius: var(--gRadius)

  &.alignleft
    justify-content: flex-start
    float: left

  &.alignright
    justify-content: flex-end

.wp-block-file__button
  margin-left: 1rem


///// VIDEO

.wp-block-video
  width: 100%
  text-align: center

  video
    width: 100%
  

  figcaption
    @extend %figcaption


///// EMBED

.wp-block-embed
  text-align: center

  iframe
    border-radius: var(--gRadius)

  figcaption
    @extend %figcaption

.wp-block-embed__wrapper
  display: flex
  justify-content: center
  position: relative

  &::before
    .wp-has-aspect-ratio &,
    .wp-block-embed-wordpress &
      content: ""
      display: block
      width: 100%

    .wp-embed-aspect-21-9 &,
    .wp-block-embed-wordpress &
      padding-top: 42.85%
    .wp-embed-aspect-18-9 &
      padding-top: 50%
    .wp-embed-aspect-16-9 &
      padding-top: 56.25%
    .wp-embed-aspect-4-3 &
      padding-top: 75%
    .wp-embed-aspect-1-1 &
      padding-top: 100%
    .wp-embed-aspect-9-6 &
      padding-top: 66.667%
    .wp-embed-aspect-1-2 &
      padding-top: 200%
    

.wp-has-aspect-ratio,
.wp-block-embed-wordpress
  iframe
    +absolute-fill
    width: 100%
    height: 100%


.wp-block-embed-wordpress
  blockquote
    display: none
  
  iframe
    clip: auto !important


///// SOCIAL LINKS
// By default it's disabled - you can enable it via filter `h_disallowed_blocks`

// ul.wp-block-social-links
//   display: flex
//   justify-content: flex-start
//   flex-wrap: wrap
//   padding-left: 0
//   list-style-type: none
//   &.aligncenter
//     justify-content: center
// .wp-social-link a
//   display: flex
//   align-items: center
//   justify-content: center
//   margin-right: 0.75rem
//   margin-bottom: 0.75rem
//   width: 42px
//   height: 42px
//   border: 1px solid rgba(black, .2)
//   border-bottom-width: 2px
//   border-radius: var(--gRadius)
  
//   background-color: var(--color)
//   line-height: 0
//   transition: var(--gTransition)
//   will-change: opacity
//   &:hover
//     opacity: .7
//   &:active
//     border-top-width: 2px
//     border-bottom-width: 1px
//     transition: none
//   .is-style-logos-only &
//     background-color: transparent
//     border-color: transparent
//     margin-right: 0.5rem
//     svg
//       fill: var(--color)
//     &:hover
//       border-color: rgba(black, .2)
//   .is-style-pill-shape &
//     border-radius: 50px
//     padding-left: 1rem
//     padding-right: 1rem
//     width: auto
// .wp-social-link svg
//   width: 28px
//   height: 28px
//   fill: white
  
// .wp-social-link-goodreads,
// .wp-social-link-chain,
// .wp-social-link-feed,
// .wp-social-link-mail
//   svg
//     fill: #382110
// $social-colors: (  amazon: #f90,  bandcamp: #1ea0c3,  behance: #0757fe,  chain: #f0f0f0,  codepen: #1e1f26,  deviantart: #02e49b,  dribbble: #e94c89,  dropbox: #4280ff,  etsy: #f45800,  facebook: #1977f2,  feed: #f0f0f0,  fivehundredpx: #000,  flickr: #0461dd,  foursquare: #e65678,  github: #24292d,  goodreads: #eceadd,  google: #ea4434,  instagram: #f00075,  lastfm: #e21b24,  linkedin: #0577b5,  line: #03c302,  mail: #f0f0f0,  mastodon: #3288d4,  medium: #02ab6c,  meetup: #f6405f,  pinterest: #e60122,  pocket: #ef4155,  reddit: #fe4500,  skype: #0478d7,  snapchat: #fefc00,  soundcloud: #ff5600,  spotify: #1bd760,  telegram: #08c,  tumblr: #011835,  twitch: #6440a4,  twitter: #21a1f3,  vimeo: #1eb7ea,  vk: #4680c2,  wordpress: #3499cd,  jetpack-whatsapp: #25d366,  yelp: #d32422,  youtube: #ff0100)
// @each $name, $color in $social-colors
//   .wp-social-link-#{ $name }
//     --color: #{ $color }
// .wp-social-link-goodreads,
// .wp-social-link-chain,
// .wp-social-link-feed,
// .wp-social-link-mail
//   svg
//     fill: #382110
// .wp-social-link-snapchat
//   stroke: black