///// MAIN HEADER /////

.subheader,
.header
  @media ($below-nav)
    display: none

.subheader-mobile,
.header-mobile
  @media ($above-nav)
    display: none

.header,
.header-mobile  
  position: sticky
  top: var(--adminBarHeight) 
  z-index: 100

  background-color: var(--siteBgColor)
  padding-top: 0
  padding-bottom: 0
  border-bottom: 1px solid rgba(--text, .1)
  transition: var(--gTransition)

  &.is-stuck
    box-shadow: var(--shadow1)

.subheader,
.subheader-mobile
  position: relative
  z-index: 100
  padding-top: 0.25rem
  padding-bottom: 0.25rem
  background-color: var(--text)

  font-size: var(--sFontSize)
  color: var(--textInvert)
  transition: var(--gTransition)


///// OFFCANVAS /////

.offcanvas
  cursor: default
  position: fixed
  z-index: 200
  top: 0
  bottom: 0
  right: 0

  visibility: hidden
  opacity: 0
  background: var(--text)
  width: 420px
  max-width: 420px

  color: var(--textInvert)

  box-shadow: var(--shadow3) 
  transform: translateX(100%)

  //
  @media ($below-xs)
    width: 320px
    max-width: 320px


body.has-active-offcanvas
  overflow-y: hidden
  cursor: pointer
  -webkit-tap-highlight-color: rgba(white, 0)

  &::before
    content: ""
    display: block
    +absolute-fill
    z-index: 190
    background-color: rgba(--text, .5)

    transition: var(--gTransition)

  .offcanvas
    visibility: visible
    opacity: 1
    transform: none
    transition: var(--gTransition)


.offcanvas__inner-wrapper
  display: flex
  flex-direction: column
  align-items: flex-start

  overflow-y: auto
  height: 100%
  max-height: 100vh
  padding: 2.5rem 2rem
  list-style-type: none

  -webkit-overflow-scrolling: touch

  @media ($below-s)
    padding-right: 1rem
    padding-left: 1rem
 

// Close button
.offcanvas > a[href="#menu"]
  position: absolute
  z-index: 10
  top: 0.5rem
  right: 1rem

  display: flex
  align-items: center
  justify-content: center

  width: 2rem
  height: 2rem
  border-radius: var(--gRadius)
  font-size: 0
  color: transparent

  path
    fill: var(--textInvert)
  &:hover
    background-color: rgba(--textInvert, .2)


///// FOOTER /////

.main-footer
  background-color: var(--text)
  margin-top: var(--groupSpacing)

.footer
  display: flex
  justify-content: center
  padding-top: 2rem
  padding-bottom: 2rem
  background-color: transparent
  color: var(--textInvert)

  @media ($below-l)
    padding-left: var(--gridRim)
    padding-right: var(--gridRim)


.footer-top
  padding-top: 1.5rem
  padding-bottom: 1.5rem

.footer-bottom
  padding-top: 0.25rem
  padding-bottom: 0.25rem
  font-size: var(--sFontSize)

  .textwidget p
    margin-bottom: 0
    opacity: .75


