///// COMMENTS

.post-comments
  padding: 0 calc( var(--gridGap) / 2 )
  max-width: var(--blogWidth)
  margin: var(--groupSpacing) auto

  h4
    margin-bottom: 1rem
    text-align: center

.comments-list,
.commentlist
  padding-left: 0
  margin-top: 2rem
  list-style-type: none

  > li
    padding: 1.25rem
    margin-bottom: 1.5rem
    background-color: white
    border: 1px solid rgba(--text, .1)
    border-radius: var(--gRadius)

// Single Comment
.comment
  position: relative

.comment-meta,
.h-review-header
  display: flex
  flex-wrap: wrap
  align-items: center

  line-height: 1

  .avatar
    margin-right: 0.5rem
    width: 2rem
    height: 2rem
    border-radius: 50%
    border: 1px solid rgba(--text, .1)

  b
    display: inline-block
    font-size: var(--sFontSize)

  br
    flex-basis: 100%
    height: 0

  time
    flex-grow: 1
    display: inline-block
    margin-left: 0.5rem
    
    font-size: var(--xsFontSize)
    color: var(--textDim)

// Reply link
a.comment-reply-link
  padding: 0.25rem 0.5rem
  background-color: rgba(--color1, .2)
  border-radius: var(--gRadius)
  
  font-size: var(--xsFontSize)
  letter-spacing: 0.05em
  text-transform: uppercase

  &:hover
    background-color: rgba(--color1, .35)
  &:active
    transition: none
    transform: translateY(1px)

.comment-content,
.review-text
  margin-top: 0.5rem

  > * + *
    margin-top: 0.75rem

  ul, ol
    padding-left: 1rem

  ul
    list-style-type: var(--ulStyle)
  ol
    list-style-type: var(--olStyle)
  a
    text-decoration: underline
  h1, h2, h3
    font-size: var(--h5Size)
  code
    background-color: rgba(black, .05)

  pre code
    display: block
    padding: 0.5rem


// Child comments
.comment .children
  margin-top: 1rem
  padding-left: 1rem
  border-left: 2px solid rgba(--text, .1)
  list-style-type: none
  
  .comment
    margin-bottom: 0
    font-size: var(--sFontSize)

  > li + li
    margin-top: 1.5rem


///// COMMENT FORM /////

.comment-reply-title
  display: none

.comment-respond
  margin-bottom: 2rem

  .comments-list & // if reply
    width: 110%
    margin: 0 -5%

.comment-form
  display: flex
  flex-wrap: wrap
  padding: 1rem
  border-radius: var(--gRadius)

  .comments-list & // if reply
    margin-top: 1.25rem
    background-color: var(--textInvert)
    border: 1px solid rgba(--text, .2)
    box-shadow: var(--shadow0)

  p
    display: flex
    flex-direction: column
    width: 100%
    margin-bottom: 0.5rem

  
  label
    cursor: pointer
    margin-bottom: 0.5rem
    color: var(--text)
    font-weight: 700
    font-size: var(--xsFontSize)
    text-transform: uppercase
    letter-spacing: 0.05em

  .comment-notes,
  .logged-in-as
    display: block
    color: var(--textDim)
    font-size: var(--sFontSize)

  .h-comment-notification-consent
    flex-direction: row

    input
      margin-right: 0.5rem
  

// Textarea
.comment-form-comment
  label
    display: none

  textarea
    height: 12rem
    border-radius: 0 var(--gRadius) var(--gRadius) 0

p.comment-form-author,
p.comment-form-email
  width: 50%

  @media ($below-xs)
    width: 100%

p.comment-form-author
  @media ($above-s)
    padding-right: 0.5rem

p.comment-form-email
  @media ($above-s)
    padding-left: 0.5rem

p.comment-form-url
  display: none

p.comment-form-cookies-consent
  flex-direction: row

  input
    margin-top: 1px
    margin-right: 0.5rem

  label
    display: inline-block
    text-transform: none

p.form-submit
  align-items: flex-end
  margin-bottom: 0