.button,
[type="submit"],
[type="reset"],
.wp-block-file__button,
.wp-block-button
  --bgColor: var(--main)
  --textColor: var(--textInvert)

.button,
[type="submit"],
[type="reset"],
.wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link
  display: inline-block
  cursor: pointer
  overflow: hidden
  
  padding: 0.75em 1em
  background-color: var(--bgColor)
  border: 2px solid transparent
  border-radius: 24px

  text-decoration: none
  text-transform: uppercase
  letter-spacing: 0.025em
  font-weight: var(--hFontWeight)
  color: var(--textColor)
  vertical-align: top
  line-height: 1
  
  transition: var(--gTransition)

  // Image or SVG inside a button
  img,
  svg
    margin-right: 0.5em
    max-height: 1.25em
  img:only-child,
  svg:only-child
    margin-left: 0
    margin-right: 0
  svg
    height: 1em
  path,
  circle
    fill: var(--buttonColor)

  &:hover
    opacity: .9
    transform: translateY(-2px)
    box-shadow: var(--shadow1)

  &:active
    transition: none
    transform: none
    box-shadow: var(--shadow0)

  &[disabled],
  &.disabled
    cursor: not-allowed
    opacity: .5

  
// Button size
.button--small
  --buttonFontSize: 14px
.button--normal
  // default is normal
.button--large
  --buttonFontSize: 22px

// Button style
.button--solid
  --buttonBorder: none

.button--outline,
.wp-block-button.is-style-outline
  --bgColor: transparent
  --textColor: var(--main)
  
  a
    border-color: inherit
    color: var(--textColor)

.button--transparent,
.wp-block-button.is-style-h-transparent a
  --bgColor: transparent
  
  margin-left: -0.5rem
  padding-right: 0.5rem
  padding-left: 0.5rem
  color: var(--textColor, var(--main))


// loading button
.button--passive,
.button--loading
  --buttonBg: var(--textDim)
  --buttonBorder: 1px solid
  --buttonColor: var(--textInvert)


.button--loading
  cursor: not-allowed
  background-position: center center
  background-repeat: no-repeat
  background-image: image-url("spinner.gif")
  
  color: transparent !important
