html
  font-size: var(--fontSize) // change the "rem" value

body
  position: relative
  overflow-x: hidden
  background: var(--siteBg)
  margin: 0
  font-family: var(--fontFamily)
  font-weight: var(--fontWeight)
  font-size: var(--fontSize)
  line-height: var(--lineHeight)
  letter-spacing: var(--letterSpacing)
  color: var(--text)

  // Webkit sibling selector fix
  -webkit-animation: bugfix infinite 1s

@-webkit-keyframes bugfix
  from
    padding: 0
  to
    padding: 0


h1, h2, h3, h4, h5, h6
  font-family: var(--hFontFamily)
  font-weight: var(--hFontWeight)
  font-size: var(--hFontSize)
  font-style: var(--hFontStyle)
  line-height: var(--hLineHeight)
  letter-spacing: var(--hLetterSpacing)
  text-transform: var(--hTextTransform)

  color: var(--hColor)

h1
  font-size: var(--h1Size)
h2
  font-size: var(--h2Size)
h3
  font-size: var(--h3Size)
h4
  font-size: var(--h4Size)
h5
  font-size: var(--h5Size)
h6
  font-size: var(--h6Size)

p
  margin-top: 0
  margin-bottom: 0

a
  color: var(--linkColor)
  transition: var(--gTransition)

  &:hover
    color: var(--linkColorHover)

ul
  list-style-type: disc
ol
  list-style-type: decimal

ul,
ol
  ul
    list-style-type: circle
  ol
    list-style-type: lower-alpha


pre,
code
  font-family: var(--codeFontFamily)
  font-size: var(--codeFontSize)