body
  +h( ovx-hidden )
  
.main-nav
  +h( relative bg-white bb1-solid bc-gray z100 pv0_75 )

  @media ($below-nav)
    +h( sticky top0 )

.nav-wrapper
  +h( d-flex ai-center relative )


// make body clickable to close the NAV when it's active
body.has-active-nav,
body.has-active-cart
  +h( cursor-pointer )
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)


// MAIN LOGO
.nav-logo
  img
    +h( w-auto )
    height: 2.5em

  @media ($below-nav)
    +h( order1 mv0 mh-auto )


// NAV ITEMS WRAPPER
.nav-items
  +h( d-flex flex1 jc-start fw-wrap transition )

  .has-active-nav &
    +h( v-visible o100 )
    transform: none

  @media ($below-nav)
    +h( fd-column v-hidden fixed o0 z100 )
    +h( absolute top100p left0 right0 )
    +h( pv0_5 bg-white transition shadow2 brad )

// NAV ITEM
.nav-item
  +h( relative )

  > a
    +h( d-block pv0_75 )
    +h( ph1 c-text fw700 tt-uppercase ls25 )
  > a:hover
    +h( bg-main_10 )
  > a:active
    +h( bg-main_20 transition-none )

  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_parent
    > a
      +h( c-main )

  //
  @media ($below-nav)
    > a
      +h( p0_75 )
    > a:hover
      +h( bg-main_10 )


// NAV ITEM CHILDREN
.nav-children
  a
    +h( d-block p0_5 ph0_75 c-inherit )
  a:hover
    +h( bg-main_10 )
  a:active
    +h( bg-main_20 transition-none )

  //
  @media ($above-nav)
    +h( absolute v-hidden o0 top100p left0 bg-white nowrap )
    +h( pv0_5 shadow1 brad transition )
    width: 200px

    .nav-item:hover &,
    a:focus + &
      +h( v-visible o100 )
    &:focus-within // separated because not supported in IE
      +h( v-visible o100 )

  //
  @media ($below-nav)
    +h( d-flex fw-wrap  )
    a
      width: calc(100% / 3)
  //
  @media ($below-xs)
    a
      +h( w50p )


// NAV MOBILE TOGGLE
.nav-toggle
  i
    +h( lh1 )
  i, b
    +h( d-inline-block va-middle )

  .dashicons-before::before
    +h( fs-m )
    width: 18px
    height: 18px

  @media ($above-nav)
    +h( d-none )


// NAV EXTRA
.nav-extra
  +h( d-flex order2 ai-center relative )

  .button
    +h( lh1 ml0_25 )
  span
    line-height: 20px

  //
  @media ($below-s)
    span
      +h( d-none )
  