body
  +h( d-flex fd-column ovx-hidden h100vh )
  
.main-nav
  +h( relative bg-white bb1-solid bc-gray z100 pv0_75 )

  .has-fixed-nav &
    +h( fixed w100p )

.nav-wrapper
  +h( d-flex ai-center )


// make body clickable to close the NAV when it's active
body.has-active-nav,
body.has-active-cart
  +h( cursor-pointer )
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)


// MAIN LOGO
.nav-logo
  img
    +h( w-auto )
    height: 2.5em

  @media ($below-nav)
    +h( order1 mv0 mh-auto )


// NAV ITEMS WRAPPER
.nav-items
  +h( d-flex flex1 jc-start fw-wrap transition )

  @media ($below-nav)
    +h( fd-column v-hidden fixed o0 z100 top0 left0 bottom0 )
    +h( pt3 pb2 ph0 bg-white transition shadow2 )
    width: 180px
    transform: translateX(-100%)

  .has-active-nav &
    +h( v-visible o100 )
    transform: none


// NAV ITEM
.nav-item
  +h( relative )

  > a
    +h( d-block pv0_75 ph1 c-text transition-none )

    &:hover
      +h( o70 )

  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_parent
    > a
      +h( c-main )


// NAV ITEM CHILDREN
.nav-children
  +h( absolute v-hidden o0 top100p left0 bg-gray-light nowrap )
  +h( p0_25 shadow1 brad transition )
  width: 200px

  .nav-item:hover &
    +h( v-visible o100 )

  a
    +h( d-block pv0_25 ph0_5 c-inherit brad )

  a:hover
    +h( bg-gray )

  //
  @media ($below-nav)
    +h( top0 left100p )
    transform: translateX(-10px)

    a
      +h( pv0_5 ph0_75 )


// NAV MOBILE TOGGLE
.nav-toggle
  i
    +h( lh1 )

  i, b
    +h( d-inline-block va-middle )

  .dashicons-before::before
    +h( fs-m )
    width: 18px
    height: 18px

  @media ($above-nav)
    +h( d-none )


// NAV EXTRA
.nav-extra
  +h( d-flex order2 ai-center relative )

  .button
    +h( lh1 ml0_25 )

  span
    line-height: 20px

  //
  @media ($below-s)
    span
      +h( d-none )
  