@import "vars"
@import "helpers"
  
%figcaption
  display: inline-block
  padding: 0.5rem
  margin-right: auto
  margin-left: auto
  border-bottom: 1px solid var(--textDim)
  font-size: var(--sFontSize)

@import "gutenberg/core-text"
@import "gutenberg/core-media"
@import "gutenberg/core-design"
@import "gutenberg/core-widget"
@import "gutenberg/plugin"
@import "gutenberg/custom"