// This styling is applied to WP Admin
@import "vars"
@import "helpers"

// ACF MENU ITEM

// Hide the columns field other than in parent item
.acf-field[data-name="mega_menu"]
  display: none

  .menu-item-depth-0 &
    display: block

// The warning that icon for Depth-0 only appear in Offcanvas
.menu-item:not(.menu-item-depth-0) .acf-field.acf-field-message.acf-field-62e0eebd17759
  display: none

.menu-item-depth-0
  .acf-field[data-name="style"]
    label:nth-child(2),
    label:nth-child(3)
      display: none

// Hide "has image" option in style
.menu-item-depth-1
  .acf-field[data-name="style"] label:nth-child(2)
    display: none

// Hide "has background" option in style
.menu-item-depth-2
  .acf-field[data-name="style"] label:nth-child(3)
    display: none