// This styling is applied to WP Admin
@import "vars"
@import "helpers"

// ACF MENU ITEM

.field-description
  display: block

  .menu-item-depth-0 &,
  .menu-item-depth-1.menu-item-under-mega-menu &
    display: none

.field-url
  .menu-item-depth-1.menu-item-under-mega-menu &
    display: none

// Hide the mega-menu columns field other than in parent item
.acf-field[data-name="mega_menu"]
  display: none

  .menu-item-depth-0 &
    display: block

// The warning that icon for Depth-0 only appear in Offcanvas
.acf-field.acf-field-message.acf-field-62e0eebd17759
  display: none

  .menu-item.menu-item-depth-0 &
    display: block

// Hide the notice about "Heading" having hidden URL and Description
.acf-field.acf-field-62e3ca7737ea9
  display: none

  .menu-item-depth-1.menu-item-under-mega-menu &
    display: block

.menu-item-depth-0
  .acf-field[data-name="style"]
    label:nth-child(2),
    label:nth-child(3)
      display: none

// Hide "has image" option in style
.menu-item-depth-1,
.menu-item-depth-2:not(.menu-item-under-mega-menu)
  .acf-field[data-name="style"] label:nth-child(2)
    display: none

// Hide "has background" option in style
.menu-item-depth-2,
.menu-item-depth-1:not(.menu-item-under-mega-menu)
  .acf-field[data-name="style"] label:nth-child(3)
    display: none

// Change the label for mega menu
.item-type
  .menu-item-is-mega-menu &
    font-size: 0
    line-height: 1

  .menu-item-depth-1.menu-item-under-mega-menu &
    font-size: 0
  
.item-type::before
  .menu-item-is-mega-menu &
    content: "Mega Menu"
    display: inline-block
    padding: 0.25rem
    border-radius: 2px
    background-color: rgba(black, .1)

    font-size: 12px

  .menu-item-depth-1.menu-item-under-mega-menu &
    content: "Heading"
    display: inline-block
    font-size: 12px

// Remove the "sub-item" label
.is-submenu
  .menu-item-depth-1.menu-item-under-mega-menu &
    display: none