// This styling is applied to WP Admin
@import "vars"
@import "helpers"

// ACF MENU ITEM

.field-description
  display: block

  .menu-item-depth-0 &,
  .menu-item-depth-1.menu-item-under-mega-menu &
    display: none

// Hide the mega-menu columns field other than in parent item
.acf-field[data-name="mega_menu"]
  display: none

  .menu-item-depth-0 &
    display: block

// The warning that icon for Depth-0 only appear in Offcanvas
.menu-item:not(.menu-item-depth-0) .acf-field.acf-field-message.acf-field-62e0eebd17759
  display: none

.menu-item-depth-0
  .acf-field[data-name="style"]
    label:nth-child(2),
    label:nth-child(3)
      display: none

// Hide "has image" option in style
.menu-item-depth-1,
.menu-item-depth-2:not(.menu-item-under-mega-menu)
  .acf-field[data-name="style"] label:nth-child(2)
    display: none

// Hide "has background" option in style
.menu-item-depth-2,
.menu-item-depth-1:not(.menu-item-under-mega-menu)
  .acf-field[data-name="style"] label:nth-child(3)
    display: none

// Change the item type for mega menu
.menu-item-is-mega-menu .item-type
  font-size: 0
  line-height: 1

  &::before
    content: "Mega Menu"
    display: inline-block
    padding: 0.25rem
    border-radius: 2px
    background-color: rgba(black, .1)

    font-size: 12px