// This styling is applied to Gutenberg editor
@import "helpers"
@import "colors"
@import "vars"

.wp-block
  max-width: var(--blogWidth)

  b, strong
    font-weight: 700

.wp-block[data-align="wide"]
  max-width: calc(var(--siteWidth) - 100px)

.editor-styles-wrapper
  background-color: var(--siteBg)

.has-text-color,
.has-inline-color
  color: var(--textColor, var(--text))

.has-background
  background-color: var(--bgColor)

///// TYPOGRAPHY

.editor-styles-wrapper > *
  font-family: var(--fontFamily)
  font-size: var(--fontSize)
  font-weight: var(--fontWeight)
  line-height: var(--lineHeight)
  color: var(--text)

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter
  font-family: var(--hFontFamily)
  font-weight: var(--hFontWeight)
  text-transform: var(--hTextTransform)
  line-height: var(--hLineHeight)
  margin-bottom: 0

.editor-styles-wrapper
  h1
    font-size: var(--h1Size)
  h2
    font-size: var(--h2Size)
  h3
    font-size: var(--h3Size)
  h4
    font-size: var(--h4Size)
  h5
    font-size: var(--h5Size)
  h6
    font-size: var(--h6Size)
  

///// HEADING

[data-type="core/heading"]
  // <strong> in heading become thin instead
  strong
    font-weight: var(--fontWeight)


///// QUOTE

.wp-block-quote.has-text-align-center
  padding-top: 1rem
  
  &::before
    content: ""
    position: absolute
    top: 0
    width: 100px
    height: 3px
    background-color: var(--text)
    transform: translateX(-50%)

.wp-block-quote.is-style-large
  padding: 1rem 0
  border-top: 3px solid var(--gray)
  border-bottom: 3px solid var(--gray)
  font-size: var(--h5Size)

  &::before
    display: none

  p
    font-size: 1em
    font-style: normal

  cite
    text-align: right
    font-size: var(--sFontSize)

  &.has-text-align-center cite
    text-align: center

  &.has-text-align-right cite
    text-align: left


///// TABLE

.wp-block-table
  --tableStripe: #eef2f7

  display: flex
  flex-direction: column
  overflow-x: auto
  margin-top: var(--blockSpacing)
  margin-bottom: var(--blockSpacing)

  @media ($below-s)
    font-size: var(--sFontSize)

  table
    border-collapse: collapse
    border-spacing: 0
    color: var(--text)

  thead,
  tfoot
    background-color: var(--bgColor, #eef2f7)
    color: var(--textColor, var(--text))
    font-weight: 700
    text-align: left

  thead
    border-bottom: 2px solid var(--text)
  tfoot
    border-top: 2px solid var(--text)
  tbody
    background-color: var(--textInvert)
    color: var(--text)

  th, td
    padding: 0.5rem 1rem
    border: 1px solid rgba(black, .5) !important

    @media ($below-s)
      padding: 0.25rem 0.5rem

  &.is-style-h-full-color
    tbody
      background-color: var(--bgColor)
      color: var(--textColor)

  &.is-style-stripes
    tbody tr:nth-child(odd)
      background: var(--textInvert)
    tbody tr:nth-child(even)
      background-color: var(--tableStripe)

  // hardcoded stripe color
  .has-color-1-background-color
    --tableStripe: #{rgba(--color1, .1)}

    thead,
    tfoot
      color: var(--textInvert)

  .has-color-2-background-color
    --tableStripe: #{rgba(--color2, .1)}
  .has-color-3-background-color
    --tableStripe: #{rgba(--color3, .1)}
    

///// BUTTON

.wp-block-button__link
  background-color: var(--color1)
  text-transform: uppercase
  font-weight: var(--hFontWeight)
  border-radius: var(--gRadius)

  .is-style-outline &
    border: 2px solid currentColor
    color: var(--color1)

    &:not(:hover)
      background-color: transparent !important

  .is-style-h-transparent &
    border: none
    color: var(--textColor, var(--text))

    &:not(:hover)
      background-color: transparent !important

///// COVER

.has-custom-content-position
  --alignX: center
  --alignY: center

  &[class*="is-position-top-"]
    --alignY: flex-start

  &[class*="is-position-bottom-"]
    --alignY: flex-end

  &[class*="-right"]
    --alignX: flex-end

  &[class*="-left"]
    --alignX: flex-start

.wp-block-cover
  display: flex
  align-items: stretch !important
  justify-content: center !important

.wp-block-cover.is-light .wp-block-cover__inner-container
  color: var(--textInvert)

// Change the custom position to be within --siteWidth
.wp-block-cover .wp-block-cover__inner-container
  display: flex
  flex-direction: column
  align-items: var(--alignX, center)
  justify-content: var(--alignY, center)
  width: var(--siteWidth) !important

  > *
    width: 100%
    max-width: var(--blogWidth)

  .alignwide
    max-width: var(--siteWidth)

  .wp-block-cover__inner-container
    min-width: var(--blogWidth)
    width: 100%


///// EMBEDS

// Hide all except Embed, Youtube, and Twitter
.block-editor-inserter__panel-content [aria-label="Embeds"]
  > div:nth-child(n+2)
    display: none


///// LATEST POSTS

.edit-post-visual-editor ul.wp-block-latest-posts
  display: grid
  grid-template-columns: repeat(var(--postsColumns, 1), 1fr)
  column-gap: var(--postsGap, 1.5rem)
  row-gap: var(--postsGap, 1.5rem)

  list-style-type: none
  padding-left: 0
  clear: both

  // the top spacing should follow Group sizing
  &.alignwide,
  &.alignfull
    --blockSpacing: var(--groupSpacing)

  li
    clear: both
    width: 100%
    margin: 0

  a
    display: block
    pointer-events: none

  li > a
    font-family: var(--hFontFamily)
    font-size: var(--postsFontSize, var(--h5Size))

  &.columns-1
    --postsColumns: 1
  &.columns-2
    --postsColumns: 2
  &.columns-3
    --postsColumns: 3
  &.columns-4
    --postsColumns: 4
  &.columns-5
    --postsColumns: 5
  &.columns-6
    --postsColumns: 6

  &.columns-4,
  &.columns-5,
  &.columns-6
    --postsGap: 1rem
    --postsFontSize: var(--h6Size)

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date
  display: inline-block
  color: var(--gray)
  font-size: var(--sFontSize)

.wp-block-latest-posts__post-author
  margin-right: 1rem

.wp-block-latest-posts__featured-image
  margin-bottom: 0.5rem

  a:hover
    opacity: .75

  &.alignleft,
  &.alignright
    max-width: 50%

    .is-grid &
      max-width: 40%

  &.alignleft
    float: left
    margin-right: 1rem

  &.alignright
    float: right
    margin-left: 1rem
  
  &.aligncenter,
  .is-grid &
    max-width: none

    img
      width: 100%
      max-height: 150px
      object-fit: cover