///// GENERAL

.widget
  .offcanvas &,
  .footer-widgets &
    width: 100%

  .offcanvas &
    flex: 1
  .offcanvas.is-center &
    display: flex
    justify-content: center
    text-align: center

.widget + .widget
  header &
    margin-left: 1rem

    @media ($below-xs)
      margin-left: 0.5rem

  footer &
    margin-top: 1.5rem

  .offcanvas &
    margin-top: 2rem

  .sidebar &
    margin-top: var(--blockGap)


.widgettitle
  header &
    font-size: var(--h5Size)

  footer &
    margin-bottom: 1rem
    font-size: var(--h5Size)

  .sidebar &
    margin-bottom: 1rem
    font-size: var(--h5Size)


  
///// WIDGET WRAPPER

.widget-row
  --headerGridTemplate: auto auto
  width: 100%
  max-width: var(--wideSize)
  margin: 0 auto

  header &
    display: grid
    grid-template-columns: var(--headerGridTemplate, auto)
    position: relative

    @media ($below-l)
      padding: 0 var(--gridRim)

  header[data-columns="2"] &
    --headerGridTemplate: auto auto

  header[data-columns="3"] &
    --headerGridTemplate: 1fr auto 1fr
    

  footer &
    display: flex
    column-gap: var(--blockGap)
    row-gap: var(--blockGap)
    max-width: var(--wideSize)
  
    @media ($below-s)
      flex-wrap: wrap

  .offcanvas &
    display: flex
    flex-direction: column

    overflow-y: auto
    max-height: 100vh
    padding: 0
    list-style-type: none

    -webkit-overflow-scrolling: touch


.widget-column
  display: flex
  flex-wrap: wrap
  align-items: center
  padding: 0
  list-style-type: none

  header &
    &:last-child:not(:first-child)
      justify-content: flex-end

  footer &
    flex-direction: column
    align-items: flex-start
    width: var(--columnSize)
    padding: 0 var(--footerGap)

    &:not([style])
      flex: 1

    @media ($above-s)
      &:last-child:not(:first-child)
        align-items: flex-end

    @media ($below-s)
      width: 100%
      justify-content: center

      + .widget-column
        margin-top: var(--blockGap)

  .footer-top &,
  .footer-bottom &
    justify-content: center

  .offcanvas &
    flex-direction: column
    width: 100%
    padding: 2rem

    &:last-child:not(:first-child)
      margin-top: auto
      background-color: rgba(black, .05)
      border-top: 1px solid rgba(black, .1)


///// WIDGET: Text

.widget_text
  width: 100%
   
.textwidget
  > * + *
    margin-top: 1rem
  path
    fill: currentColor
  p, ul, ol
    font-size: var(--textSize)
    color: var(--textColor)
  ul, ol
    padding-left: 1rem
  a
    text-decoration: underline


///// WIDGET: Categories

.widget_categories
  ul
    display: flex
    flex-wrap: wrap
    list-style-type: none

  li
    margin-right: 0.5rem
    margin-bottom: 0.5rem

  a
    display: inline-block
    padding: 0.25rem 0.5rem
    border: 1px solid rgba(black, .2)
    border-radius: var(--gRadius)

    text-transform: uppercase
    transition: var(--gTransition)

  a:hover
    border-color: var(--color1)
    background-color: var(--color1Light)

  a:active
    transform: translateY(1px)
    transition: none


///// WIDGET: Image

.widget_media_image
  position: relative

  .widgettitle
    position: absolute
    z-index: 1
    bottom: 1rem
    left: 1rem
    margin-bottom: 0
    color: var(--textInvert)

  img
    transition: var(--gTransition)

  a
    display: block
    overflow: hidden
    border-radius: var(--gRadius)
    will-change: box-shadow, transform

  .widgettitle + a::before
    +absolute-fill
    content: ""
    background-color: rgba(black, .3)
    border-radius: var(--gRadius)

  a:hover
    box-shadow: var(--shadow1)
    transform: translateY(-2px)
  a:active
    transition: none
    transform: none


///// WIDGET: Logo

.wp-block-site-logo
  display: flex
  flex-direction: column

  img
    width: auto
    height: 40px
    transition: var(--gTransition)
    will-change: transform

    @media ($below-xs)
      height: 30px

  &:hover
    img
      opacity: .75
      transform: translateY(-2px)

  // tagline
  span
    font-size: var(--sFontSize)
    color: var(--text)

  .footer-widgets &
    justify-content: flex-start
    width: 100%

///// WIDGET: BUTTONS

.widget_h_buttons
  .subheader &
    .wp-block-button
      --textColor: var(--textInvert)
      font-size: var(--xsFontSize)
    .wp-block-button__link
      padding: 0.25rem 0.5rem

  .subheader-mobile &,
  .header-mobile &
    font-size: var(--sFontSize)

    a
      padding: 0.5rem

  .footer-top &
    .wp-block-button
      --textColor: var(--color1)
      --bgColor: var(--textInvert)

    .is-style-outline
      --textColor: var(--textInvert)

///// WIDGET: Recent Posts

.widget_h_recent_posts .wp-block-latest-posts
  --postsFontSize: var(--fontSize)

  .wp-block-latest-posts__featured-image
    --postsImageWidth: 75px
    margin-top: 0.375rem

  a
    text-decoration: none
  a:hover
    text-decoration: underline

///// WIDGET: Nav Menu

.widget_nav_menu
  footer &
    width: 100%
  
///// WIDGET: Search

// FORM
.search-form
  display: flex
  
  label
    display: flex
    flex: 1


// INPUT
.search-field
  padding-top: 0.25rem
  padding-bottom: 0.25rem

  border-radius: var(--gRadius) 0 0 var(--gRadius)

  .sidebar &
    padding-top: 0.5rem
    padding-bottom: 0.5rem


// SUBMIT BUTTON
input.search-submit
  display: flex
  align-items: center
  padding: 0.25em 1em
  background: var(--color1) url('../svg/search.svg') no-repeat center center
  background-size: auto 65%

  color: transparent
  letter-spacing: -1em
  border-radius: 0 var(--gRadius) var(--gRadius) 0

  &:hover
    color: transparent
  
  .sidebar &
    padding: 0.25em 1.25em
    background-size: auto 50%


///// WIDGET: Toggle Offcanvas

.widget_h_toggle a
  --toggleColor: var(--text)

  display: flex
  align-items: center
  padding: 0.5rem
  border: 1px solid
  border-bottom-width: 2px
  color: var(--toggleColor)

  border-radius: var(--gRadius)

  &:hover
    transform: translateY(-2px)
    box-shadow: var(--shadow0)
  &:active
    transform: none
    transition: none
    box-shadow: none

  svg
    width: 1rem
    height: 1rem

  span
    margin-right: 0.25rem
    line-height: 1
    text-transform: uppercase
    font-weight: 700
    font-size: var(--sFontSize)
    letter-spacing: 0.05em

    @media ($below-xs)
      display: none

  path,
  circle
    fill: var(--toggleColor)
    transition: var(--gTransition)

  // alignment
  .widget-column:last-child:not(:first-child) &
    flex-direction: row-reverse

  // when transparent
  body.h-has-transparent-header &
    --toggleColor: var(--textInvert)

// WIDGET: GALLERY

.widget_media_gallery
  .gallery
    --columns: 3
    display: grid
    grid-template-columns: repeat(var(--columns), 1fr)
    column-gap: 0.5rem
    row-gap: 0.5rem
  
  .gallery-columns-2
    --columns: 2
  .gallery-columns-4
    --columns: 4
  .gallery-columns-5
    --columns: 5
  
  .gallery-item
    grid-column: span 1

  img[alt*="http"]
    cursor: pointer
    transition: var(--gTransition)

    &:hover
      opacity: .75
    &:active
      transform: translateY(1px)
      transition: none