:root {
  --text: #2c3e50;
  --textRGB: 44, 62, 80;
  --textFilter: invert(18%) sepia(12%) saturate(1870%) hue-rotate(169deg) brightness(94%) contrast(83%);
  --textInvert: #ffffff;
  --textInvertRGB: 255, 255, 255;
  --textInvertFilter: invert(100%) sepia(10%) saturate(7462%) hue-rotate(173deg) brightness(117%) contrast(108%);
  --gray: #888888;
  --grayRGB: 136, 136, 136;
  --grayFilter: invert(60%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(90%) contrast(88%);
  --grayDark: #5C5C5C;
  --grayDarkRGB: 92, 92, 92;
  --grayDarkFilter: invert(35%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(98%) contrast(89%);
  --grayLight: #E0E0E0;
  --grayLightRGB: 224, 224, 224;
  --grayLightFilter: invert(100%) sepia(2%) saturate(1493%) hue-rotate(171deg) brightness(114%) contrast(76%);
  --color1: #5C6BC0;
  --color1RGB: 92, 107, 192;
  --color1Filter: invert(59%) sepia(80%) saturate(2621%) hue-rotate(178deg) brightness(91%) contrast(87%);
  --color1Dark: #283167;
  --color1DarkRGB: 40, 49, 103;
  --color1DarkFilter: invert(17%) sepia(11%) saturate(5879%) hue-rotate(206deg) brightness(96%) contrast(93%);
  --color1Light: #D3D7EE;
  --color1LightRGB: 211, 215, 238;
  --color1LightFilter: invert(87%) sepia(18%) saturate(184%) hue-rotate(170deg) brightness(105%) contrast(95%);
  --color2: #2ecc71;
  --color2RGB: 46, 204, 113;
  --color2Filter: invert(64%) sepia(63%) saturate(493%) hue-rotate(92deg) brightness(90%) contrast(90%);
  --color2Dark: #26A65B;
  --color2DarkRGB: 38, 166, 91;
  --color2DarkFilter: invert(49%) sepia(22%) saturate(1352%) hue-rotate(92deg) brightness(103%) contrast(90%);
  --color2Light: #def7e8;
  --color2LightRGB: 222, 247, 232;
  --color2LightFilter: invert(98%) sepia(67%) saturate(213%) hue-rotate(65deg) brightness(100%) contrast(95%);
  --color3: #e74c3c;
  --color3RGB: 231, 76, 60;
  --color3Filter: invert(59%) sepia(98%) saturate(5598%) hue-rotate(343deg) brightness(99%) contrast(83%);
  --color3Light: #fbdedb;
  --color3LightRGB: 251, 222, 219;
  --color3LightFilter: invert(96%) sepia(66%) saturate(482%) hue-rotate(292deg) brightness(101%) contrast(97%);
  --siteBg: #f8f9fb;
  --siteBgColor: #f8f9fb;
  --panelBg: #eff1f5;
  --colorAlert: #e74c3c;
  --colorAlertLight: #f8cdc9;
  --main: var(--color1);
  --mainDark: var(--color1Dark);
  --mainLight: var(--color1Light);
  --sub: var(--color2);
  --subDark: var(--color2Dark);
  --subLight: var(--color2Light);
  --extra: var(--color3);
  --extraLight: var(--color3Light);
}

[class*=-background-color] {
  background-color: var(--bgColor);
}

.has-text-color,
.has-inline-color {
  color: var(--textColor, var(--text));
}

.has-text-base-background-color {
  --bgColor: var(--text);
  --bgColorRGB: var(--textRGB);
}

.has-text-base-color {
  --textColor: var(--text);
  --textColorRGB: var(--textRGB);
  --filterColor: invert(18%) sepia(12%) saturate(1870%) hue-rotate(169deg) brightness(94%) contrast(83%);
}

.has-text-invert-background-color {
  --bgColor: var(--textInvert);
  --bgColorRGB: var(--textInvertRGB);
}

.has-text-invert-color {
  --textColor: var(--textInvert);
  --textColorRGB: var(--textInvertRGB);
  --filterColor: invert(100%) sepia(10%) saturate(7462%) hue-rotate(173deg) brightness(117%) contrast(108%);
}

.has-gray-background-color {
  --bgColor: var(--gray);
  --bgColorRGB: var(--grayRGB);
}

.has-gray-color {
  --textColor: var(--gray);
  --textColorRGB: var(--grayRGB);
  --filterColor: invert(60%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(90%) contrast(88%);
}

.has-gray-dark-background-color {
  --bgColor: var(--grayDark);
  --bgColorRGB: var(--grayDarkRGB);
}

.has-gray-dark-color {
  --textColor: var(--grayDark);
  --textColorRGB: var(--grayDarkRGB);
  --filterColor: invert(35%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(98%) contrast(89%);
}

.has-gray-light-background-color {
  --bgColor: var(--grayLight);
  --bgColorRGB: var(--grayLightRGB);
}

.has-gray-light-color {
  --textColor: var(--grayLight);
  --textColorRGB: var(--grayLightRGB);
  --filterColor: invert(100%) sepia(2%) saturate(1493%) hue-rotate(171deg) brightness(114%) contrast(76%);
}

.has-color-1-background-color {
  --bgColor: var(--color1);
  --bgColorRGB: var(--color1RGB);
}

.has-color-1-color {
  --textColor: var(--color1);
  --textColorRGB: var(--color1RGB);
  --filterColor: invert(59%) sepia(80%) saturate(2621%) hue-rotate(178deg) brightness(91%) contrast(87%);
}

.has-color-1-dark-background-color {
  --bgColor: var(--color1Dark);
  --bgColorRGB: var(--color1DarkRGB);
}

.has-color-1-dark-color {
  --textColor: var(--color1Dark);
  --textColorRGB: var(--color1DarkRGB);
  --filterColor: invert(17%) sepia(11%) saturate(5879%) hue-rotate(206deg) brightness(96%) contrast(93%);
}

.has-color-1-light-background-color {
  --bgColor: var(--color1Light);
  --bgColorRGB: var(--color1LightRGB);
}

.has-color-1-light-color {
  --textColor: var(--color1Light);
  --textColorRGB: var(--color1LightRGB);
  --filterColor: invert(87%) sepia(18%) saturate(184%) hue-rotate(170deg) brightness(105%) contrast(95%);
}

.has-color-2-background-color {
  --bgColor: var(--color2);
  --bgColorRGB: var(--color2RGB);
}

.has-color-2-color {
  --textColor: var(--color2);
  --textColorRGB: var(--color2RGB);
  --filterColor: invert(64%) sepia(63%) saturate(493%) hue-rotate(92deg) brightness(90%) contrast(90%);
}

.has-color-2-dark-background-color {
  --bgColor: var(--color2Dark);
  --bgColorRGB: var(--color2DarkRGB);
}

.has-color-2-dark-color {
  --textColor: var(--color2Dark);
  --textColorRGB: var(--color2DarkRGB);
  --filterColor: invert(49%) sepia(22%) saturate(1352%) hue-rotate(92deg) brightness(103%) contrast(90%);
}

.has-color-2-light-background-color {
  --bgColor: var(--color2Light);
  --bgColorRGB: var(--color2LightRGB);
}

.has-color-2-light-color {
  --textColor: var(--color2Light);
  --textColorRGB: var(--color2LightRGB);
  --filterColor: invert(98%) sepia(67%) saturate(213%) hue-rotate(65deg) brightness(100%) contrast(95%);
}

.has-color-3-background-color {
  --bgColor: var(--color3);
  --bgColorRGB: var(--color3RGB);
}

.has-color-3-color {
  --textColor: var(--color3);
  --textColorRGB: var(--color3RGB);
  --filterColor: invert(59%) sepia(98%) saturate(5598%) hue-rotate(343deg) brightness(99%) contrast(83%);
}

.has-color-3-light-background-color {
  --bgColor: var(--color3Light);
  --bgColorRGB: var(--color3LightRGB);
}

.has-color-3-light-color {
  --textColor: var(--color3Light);
  --textColorRGB: var(--color3LightRGB);
  --filterColor: invert(96%) sepia(66%) saturate(482%) hue-rotate(292deg) brightness(101%) contrast(97%);
}

:root {
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontWeight: 400;
  --lineHeight: 1.65;
  --letterSpacing: 0;
  --fontSize: 16px;
  --xsFontSize: 12px;
  --sFontSize: 14px;
  --mFontSize: 18px;
  --lFontSize: 22px;
  --xlFontSize: 30px;
  --xsmallFontSize: var(--xsFontSize);
  --smallFontSize: var(--sFontSize);
  --mediumFontSize: var(--mFontSize);
  --largeFontSize: var(--lFontSize);
  --hugeFontSize: var(--xlFontSize);
  --hFontFamily: "Noto Serif", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
  --hFontStyle: normal;
  --hFontWeight: 700;
  --hLineHeight: 1.25;
  --hLetterSpacing: 0.025em;
  --hTextTransform: initial;
  --hColor: inherit;
  --h1Size: 46px;
  --h2Size: 38px;
  --h3Size: 30px;
  --h4Size: 24px;
  --h5Size: 20px;
  --h6Size: var(--fontSize);
  --codeFontFamily: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --codeFontSize: var(--sFontSize);
  --shadow0: 0 0.5px 2px rgba(0,0,0, .18), 0 1.5px 6px rgba(0,0,0, .08);
  --shadow1: 0 1.5px 4px rgba(0,0,0, .24), 0 1.5px 6px rgba(0,0,0, .12);
  --shadow2: 0 3px 12px rgba(0,0,0, .23), 0 3px 12px rgba(0,0,0, .16);
  --shadow3: 0 6px 12px rgba(0,0,0, .23), 0 10px 40px rgba(0,0,0, .19);
  --shadow4: 0 10px 20px rgba(0,0,0, .19), 0 6px 6px rgba(0,0,0, .23);
  --shadowThin: 0 10px 30px rgba(0,0,0, .08);
  --shadowThin2: 0 10px 30px rgba(0,0,0, .12);
  --linkColor: inherit;
  --linkColorHover: var(--color1);
  --siteWidth: 1120px;
  --blogWidth: 650px;
  --gridGap: 20px;
  --gridRim: 1rem;
  --tileGap: 20px;
  --gRadius: 4px;
  --gTransition: all .25s ease-in-out;
  --inputColor: var(--text);
  --inputPlaceholderColor: var(--gray);
  --inputBg: var(--textInvert);
  --inputBgFocus: var(--textInvert);
  --adminBarHeight: 0px;
  --headerHeight: 80px;
  --blockGap: 1.5rem;
  --wideGap: 3rem;
}
@media (max-width:960px) {
  :root {
    --h1Size: 40px;
    --h2Size: 32px;
    --h3Size: 26px;
    --h4Size: 22px;
    --h5Size: 18px;
    --h6Size: var(--fontSize);
  }
}
@media (max-width:768px) {
  :root {
    --h1Size: 32px;
    --h2Size: 26px;
    --h3Size: 22px;
    --h4Size: 20px;
    --h5Size: 18px;
    --h6Size: var(--fontSize);
    --headerHeight: 57px;
    --wideGap: 2.5rem;
  }
}
@media (max-width:480px) {
  :root {
    --blockGap: 1rem;
    --headerHeight: 52px;
  }
}

body.admin-bar {
  --adminBarHeight: 32px;
}
@media (max-width:782px) {
  body.admin-bar {
    --adminBarHeight: 0px;
  }
}

@font-face {
  src: url(5d8da75aca3a31f37c5f72b734ca8c49.woff2);
  font-family: "Noto Serif";
  font-weight: 400;
}
@font-face {
  src: url(f6e4737d8c2e16f0cec8c4f999d165a5.woff2);
  font-family: "Noto Serif";
  font-weight: 700;
}
.wp-block-button__link {
  background-color: var(--color1);
  text-transform: uppercase;
  font-weight: var(--hFontWeight);
  font-size: var(--fontSize);
  letter-spacing: 0.025em;
  border-radius: var(--gRadius);
}
.is-style-outline .wp-block-button__link {
  border: 2px solid currentColor;
  color: var(--color1);
}
.is-style-outline .wp-block-button__link:not(:hover) {
  background-color: transparent !important;
}
.is-style-h-transparent .wp-block-button__link {
  border: none;
  color: var(--textColor, var(--text));
}
.is-style-h-transparent .wp-block-button__link:not(:hover) {
  background-color: transparent !important;
}

[data-type="core/heading"] strong {
  font-weight: var(--fontWeight);
}

.wp-block-quote.has-text-align-center {
  padding-top: 1rem;
}
.wp-block-quote.has-text-align-center::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 3px;
  background-color: var(--text);
  transform: translateX(-50%);
}

.wp-block-quote.is-style-large {
  padding: 1rem 0;
  border-top: 3px solid var(--gray);
  border-bottom: 3px solid var(--gray);
  font-size: var(--h5Size);
}
.wp-block-quote.is-style-large::before {
  display: none;
}
.wp-block-quote.is-style-large p {
  font-size: 1em;
  font-style: normal;
}
.wp-block-quote.is-style-large cite {
  text-align: right;
  font-size: var(--sFontSize);
}
.wp-block-quote.is-style-large.has-text-align-center cite {
  text-align: center;
}
.wp-block-quote.is-style-large.has-text-align-right cite {
  text-align: left;
}

.wp-block-table {
  --tableStripe: #eef2f7;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-top: var(--blockGap);
  margin-bottom: var(--blockGap);
}
@media (max-width:768px) {
  .wp-block-table {
    font-size: var(--sFontSize);
  }
}
.wp-block-table table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--text);
}
.wp-block-table thead,
.wp-block-table tfoot {
  background-color: var(--bgColor, #eef2f7);
  color: var(--textColor, var(--text));
  font-weight: 700;
  text-align: left;
}
.wp-block-table thead {
  border-bottom: 2px solid var(--text);
}
.wp-block-table tfoot {
  border-top: 2px solid var(--text);
}
.wp-block-table tbody {
  background-color: var(--textInvert);
  color: var(--text);
}
.wp-block-table th, .wp-block-table td {
  padding: 0.5rem 1rem;
  border: 1px solid rgbA(0, 0, 0, 0.5) !important;
}
@media (max-width:768px) {
  .wp-block-table th, .wp-block-table td {
    padding: 0.25rem 0.5rem;
  }
}
.wp-block-table.is-style-h-full-color tbody {
  background-color: var(--bgColor);
  color: var(--textColor);
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background: var(--textInvert);
}
.wp-block-table.is-style-stripes tbody tr:nth-child(even) {
  background-color: var(--tableStripe);
}
.wp-block-table .has-color-1-background-color {
  --tableStripe: rgbA(var(--color1RGB), 0.1);
}
.wp-block-table .has-color-1-background-color thead,
.wp-block-table .has-color-1-background-color tfoot {
  color: var(--textInvert);
}
.wp-block-table .has-color-2-background-color {
  --tableStripe: rgbA(var(--color2RGB), 0.1);
}
.wp-block-table .has-color-3-background-color {
  --tableStripe: rgbA(var(--color3RGB), 0.1);
}

.block-editor-inserter__panel-content [aria-label=Embeds] > div:nth-child(n+2) {
  display: none;
}

.wp-block-image.is-style-h-thumbnail-wide,
.wp-block-image.is-style-h-thumbnail-tall {
  position: relative;
  height: 0;
}
.wp-block-image.is-style-h-thumbnail-wide .components-resizable-box__side-handle,
.wp-block-image.is-style-h-thumbnail-tall .components-resizable-box__side-handle {
  display: none;
}
.wp-block-image.is-style-h-thumbnail-wide > div,
.wp-block-image.is-style-h-thumbnail-tall > div {
  position: static !important;
}
.wp-block-image.is-style-h-thumbnail-wide > div > img,
.wp-block-image.is-style-h-thumbnail-tall > div > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.wp-block-image.is-style-h-thumbnail-wide figcaption,
.wp-block-image.is-style-h-thumbnail-tall figcaption {
  display: block;
  overflow-y: hidden;
  background-image: linear-gradient(0deg, rgbA(0, 0, 0, 0.7), rgbA(0, 0, 0, 0.5) 50%, transparent);
  grid-column: none;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-height: 75%;
  padding: 1rem;
  margin: 0;
  border: none;
  font-size: var(--sFontSize);
  text-align: left;
  color: white;
}
@media (max-width:768px) {
  .wp-block-image.is-style-h-thumbnail-wide figcaption,
.wp-block-image.is-style-h-thumbnail-tall figcaption {
    font-size: 0;
  }
}
.wp-block-image.is-style-h-thumbnail-wide strong,
.wp-block-image.is-style-h-thumbnail-tall strong {
  display: block;
  font-size: var(--mFontSize);
  font-family: var(--hFontFamily);
}

.editor-styles-wrapper .wp-block-image.is-style-h-thumbnail-wide {
  padding-bottom: calc(var(--blogWidth) / 2);
}
.editor-styles-wrapper .wp-block-image.is-style-h-thumbnail-tall {
  padding-bottom: var(--blogWidth);
  max-width: calc(var(--blogWidth) / 2);
}
