// Font Faces
@each $name, $files in $font-faces
  @each $file, $weight, $style in $files
    @font-face
      src: font-url($file)
      font-family: $name
      font-weight: $weight
      font-style: $style
  
html
  font-size: var(--fontSize) // change the "rem" value

body
  position: relative
  background: var(--siteBackground)
  margin: 0

*
  font-family: var(--fontFamily)
  font-weight: var(--fontWeight)
  font-size: var(--fontSize)
  line-height: var(--lineHeight)
  letter-spacing: var(--letterSpacing)
  
  --color: var(--text)
  color: var(--color)


h1, h2, h3, h4, h5, h6
  --fontFamily: var(--hFontFamily)
  --fontWeight: var(--hFontWeight)
  --fontStyle: var(--hFontStyle)
  
  --lineHeight: var(--hLineHeight)
  --letterSpacing: var(--hLetterSpacing)
  --textTransform: var(--hTextTransform)
  --color: var(--hColor)

h1
  --fontSize: var(--h1Size)
h2
  --fontSize: var(--h2Size)
h3
  --fontSize: var(--h3Size)
h4
  --fontSize: var(--h4Size)
h5
  --fontSize: var(--h5Size)
h6
  --fontSize: var(--h6Size)

p
  margin-top: 0
  margin-bottom: 0

a
  --color: var(--linkColor)
  transition: $g-transition

  &:hover
    --color: var(--linkColorHover)

ul
  list-style-type: var(--ulStyle)

ol
  list-style-type: var(--olStyle)

ul,
ol
  ul
    list-style-type: var(--ulChildStyle)
  ol
    list-style-type: var(--olChildStyle)


pre,
code
  font-family: var(--codeFontFamily)
  font-size: var(--codeFontSize)