h-grid
  display: -ms-grid
  display: grid
  grid-template-columns: repeat( 12, minmax(0, 1fr) )
  grid-column-gap: var(--gridGap)
  grid-row-gap: var(--gridGap)

  max-width: calc( var(--siteWidth) + var(--gridRim) * 2 )
  padding: 0 var(--gridRim)
  margin: 0 auto
  width: 100%

  &.collapse
    --gridGap: 0

  h-grid
    margin: 0
    padding: 0

// Column
@for $i from 1 through 12
  .large-#{$i}
    grid-column: span #{ $i }

// Small column
@media ($below-s)
  [class*="large-"]
    grid-column: span 12 // reset

  @for $i from 1 through $grid-columns
    .small-#{$i}
      grid-column: span #{ $i }


///// TILE

h-tile
  display: -ms-grid
  display: grid
  grid-column-gap: var(--gridGap)
  grid-row-gap: var(--gridGap)

  &.collapse
    --gridGap: 0
  > *
    grid-column: span 1

// Large tile
@for $i from 1 through 10
  .tile-#{$i}
    grid-template-columns: repeat($i, 1fr)

// Small tile
@media ($below-s)
  [class*="tile-"]
    grid-template-columns: repeat(1, 1fr) // reset

  @for $i from 1 through 5
    .small-tile-#{$i}
      grid-template-columns: repeat($i, 1fr)