{% set widgets = fn( ['Timber', 'get_widgets'], widget ) %}

<div class="footer-widgets {% if widgetBackground.default.color != 'CT_CSS_SKIP_RULE' %} footer-widgets--has-background {% endif %}"
  data-footer="{{ id ? id : 'widget1' }}">
  {{ widgets }}
</div>