{% extends "shop.twig" %}
{% block main %}

<header class="shop-header / wp-block-group alignwide" data-column="8">
  <div class="wp-block-group__inner-container">
    {{ title }}
    {{ content }}
  </div>
</header>

{% if categories %}
  {% include "shop/_categories.twig" with { categories: categories } %}
{% endif %}

{% if products %}
  {% include "shop/_products.twig" with { products: products } %}
{% endif %}

{% endblock %}
