<div class="logo" data-id="logo" data-shortcut="drop">
  {% if logo_type == 'text' %}
    
    <p>
      {{ site_title }}
    </p>

  {% elseif logo_type == 'image' %}

    <picture>
      {% if has_mobile_logo == 'yes' %}
        <source srcset="{{ mobile_logo.url }}" media="(max-width:767px)">
      {% endif %}
      <img src="{{ custom_logo.url }}" alt="{{ blogname }} Logo">
    </picture>

  {% endif %}
</div>