<div data-row="{{ row.id }}" class="header-row">
  <h-grid class="header-columns">
  
  {% for column in row.placements %}
    <div data-column="{{ column.id }}" class="header-column">
    {% for item_id in column.items %}

      {% include 'header/_' ~ item_id ~ '.twig' with header.items[item_id] only %}
    
    {% endfor %}
    </div>
  {% endfor %}

  </h-grid>
</div>