///// SINGLE PRODUCT

// The wrapper, need to be named "product" to make the gallery works
.product
  +h( mv2 mh0 )

.product_meta
  +h( mt0 fs-s )
  
  > span
    +h( d-block )


// Before product action
.before-product
  +h( mb2 )

  .sharedaddy  // Jetpack Sharing
    +h( pv05 ph0 m0 mt0_75 bb1-solid bc-gray )

  .sd-block
    +h( fd-row ai-center )
  
  .sd-content
    +h( d-iblock )

  .sd-content li
    +h( mb0 )

  .sd-block .sd-title
    +h( d-iblock mb0 mr1 )

    @media ($below-s)
      +h( d-block mb0_5 )



// product gallery
.product-figure
  +h( relative )
  
  .flex-viewport
    +h( mb0_25 b2-solid bc-black_05 brad )

  @media ($below-s)
    +h( mb2 )

.woocommerce-product-gallery
  +h( relative )

.woocommerce-product-gallery__image
  img
    +h( brad )

// full screen zoom
.woocommerce-product-gallery__trigger
  +h( absolute z10 )
  top: 0.5rem
  right: 0.5rem
  font-size: 0

  &::before
    content: "\f504"
    +h( d-inline-block bg-white p0_25 )
    +h( lh1 c-text brad shadow0 )
    font-family: "dashicons"
    font-size: 1.5rem

  &:hover::before
    +h( bg-gray )

// drag zoom
.zoomImg
  +h( cursor-zoom-in )

  &[style*="opacity: 1"]
    +h( cursor-zoom-out )

.flex-control-nav
  +h( d-flex fw-wrap list-none )
  margin: 1em -0.25em 0

  li
    +h( cursor-pointer w25p ph0_25 )

  li:hover img
    +h( o100 )
  
  img
    +h( o50 brad transition backface-hidden )

  .flex-active
    +h( o100 )
    box-shadow: 0 0 0 3px var(--main)

///// PRODUCT TABS

.wc-tabs-wrapper
  +h( mb1 )

ul.wc-tabs
  +h( d-flex fw-wrap pl0 mb0 list-none )

  a
    +h( d-inline-block pv0_25 ph0_5 b0 td-none fs-s )
    border-radius: var(--gRadius) var(--gRadius) 0 0

  .active a
    +h( bg-main_25 )


.wc-tab
  +h( p0_5 )
  border: 4px solid rgba(--main, .25)
  border-radius: 0 var(--gRadius) var(--gRadius) var(--gRadius)

  > h2:first-child
    +h( d-none )

  > *:last-child
    +h( mb0 )


// Attribute tab

table.woocommerce-product-attributes
  th, td
    +h( va-middle )
  th
    +h( pr1 tt-uppercase ls25 )
  p
    +h( mb0 )



// product purchase
.product-purchase
  +h( pv0 ph1 )

  form.cart
    +h( d-flex fw-wrap )

  .price
    +h( d-block bg-main_10 p0_75 b1-solid bc-main-light )
    +h( ta-center brad )
    line-height: 1.15

  > .price
    +h( mb1_5 )

  .quantity
    +h( flex1 mr1 )

  .amount
    +h( d-block fs-h5 fw-header )

  label
    +h( fs-s )
  label[for*="quantity"]
    +h( d-none )

  .single_add_to_cart_button
    +h( as-end )



  //
  @media ($below-s)
    +h( mb1_5 )


///// PRODUCT RATING

.woocommerce-Reviews
  h2
    +h( d-none )
  ol
    +h( list-none pl0 )

.comment-review
  +h( mb1 b1-solid bc-black_05 brad )

.review-header
  +h( d-flex ai-center bg-black_05 p0_5 )
  line-height: 1.25

  .meta
    +h( mb0 fs-s )

  time
    +h( d-inline-block c-passive fs-s )

.review-text
  +h( p05 )

  p
    +h( mb0_5 )


///// STAR RATING

.star-rating
  +h( d-inline-block relative lh1 )

  &::before,
  span::before
    content: '★★★★★'
    +h( c-text fs-body )

  &::before
    +h( o30 )

  span
    +h( ov-hidden absolute top0 left0 )
    font-size: 0

.comment-form-rating
  +h( mb1 )

  a
    +h( o30 d-inline-block lh1 td-none )
    font-size: 0

  a::before
    content: '★'
    font-size: 1.25rem

  .stars
    +h( d-inline-block )

  .stars:hover a,
  .selected a
    +h( o100 )

  a:hover ~ a,
  a.active ~ a
    opacity: .25 !important


// PRODUCT VARIATION
.single-variation-wrap
  +h( mb1_5 )

// Div that appears after selecting variation
.single_variation
  +h( d-flex fd-column )

  .out-of-stock
    +h( c-red fw700 )

  .woocommerce-variation-price
    +h( order1 mb1 )

  .woocommerce-variation-availability
    +h( order2 )

  .woocommerce-variation-description
    +h( order3 )    
    p
      +h( mb1 )


.woocommerce-variation-add-to-cart
  +h( d-flex )

table.variations
  +h( mt1_5 w100p )

  label,
  select
    +h( mb0_5 )

  // CLEAR button
  .reset_variations
    +h( d-iblock p0_25 ph1 bg-gray-light brad )
    +h( tt-uppercase fw700 fs-s ls25 )

    &:hover
      +h( bg-gray )


// Product Meta

.product_meta
  span
    +h( mb0_5 fw700 )
  a
    +h( d-iblock ph0_5 bg-gray-light brad fw400 c-text )
  a:hover
    +h( bg-main-light )


///// UPSELL PRODUCT

section.upsells
  > h2
    +h( mv1 fs-h5 )

ul.products
  +h( fw-wrap list-none p0 m0 )
  display: grid
  grid-template-columns: repeat( 1, 1fr )
  grid-column-gap: 0.5rem
  grid-row-gap: 0.5rem

  li
    +h( m0 )
    grid-column: span 1

  a
    +h( d-flex fd-column fw-wrap ai-start jc-center )
    +h( ov-hidden h80px b1-solid bc-black_10 brad )
  a:hover
    +h( bg-transparent shadow1 )

  a > *
    flex: 1rem 1rem

  h2
    +h( fs-h5 fw400 m0 ls25 )
    width: calc( 100% - 80px )

  img
    +h( h80px w-auto mr0_5 )

  span
    +h( fs-s fw700 c-main )

  .add_to_cart_button
    +h( d-none )


///// RELATED PRODUCT
.product-related
  +h( mt4 mb2 mh0 )

  h2
    +h( ta-center fw-text )