///// PRODUCT LIST
  
.product_list_widget
  list-style-type: none
  padding-left: 0

  li
    display: flex
    flex-wrap: wrap
    position: relative
    padding-left: 5.5rem

  li + li
    margin-top: 1rem

  img
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 4.5rem
    height: 100%
    object-fit: cover
    object-position: center center

  a
    display: block
    width: 100%
    font-family: var(--hFontFamily)
    font-weight: 700
  
  a:hover
    text-decoration: underline

  ins
    order: 1
    text-decoration: none
  del
    order: 2
    margin-left: 0.5rem
    color: var(--textDim)
    font-size: var(--smallFontSize)
  li::before
    content: ""
    order: 3
    flex-basis: 100%
  .star-rating
    order: 4

  .reviewer
    font-size: var(--smallFontSize)
    color: var(--textDim)
  

///// PRODUCT SEARCH

.woocommerce-product-search
  display: flex

  .search-field
    flex: 1
    width: auto

  button
    padding: 0 0.375rem
    border-radius: 0 var(--gRadius) var(--gRadius) 0
    font-size: var(--smallFontSize)


///// PRODUCT CATEGORIES

.widget_product_categories
  ul
    padding-left: 1.5rem

  a
    text-decoration: underline
  a:hover
    color: var(--color1)