<div class="wc-block-grid has-{{ woocommerce_catalog_columns }}-columns alignwide">
  {% if products %}
  <ul class="wc-block-grid__products">

    {% for p in products %}
    <li class="wc-block-grid__product">
      {{ fn("timber_set_product", p) }} {# set context #}

      <a class="wc-block-grid__product-link" href="{{ p.link }}"> 
        <figure class="wc-block-grid__product-image">
          {% do action( 'woocommerce_before_shop_loop_item_title' ) %}
        </figure>
        <h2 class="wc-block-grid__product-title"> {{ p.title }} </h2>
      </a>

      {% do action("woocommerce_after_shop_loop_item_title") %}
      {% do action("woocommerce_after_shop_loop_item") %}
    </li>
    {% endfor %}
  </ul>

  {# If empty #}
  {% else %}
  <div class="wp-block-group">
    <div class="wp-block-group__inner-container">
      <h1 class="has-text-align-center">Product Not Found</h1>
      <p class="has-text-align-center">
        Sorry, there is no product in this category
      </p>
    </div>
  </div>
  {% endif %}
</div>