{% extends "layout.twig" %}
{% block content %}

<main>
{% do action("woocommerce_before_main_content") %}

{{ post.content }}

{% do action("woocommerce_before_shop_loop") %}
{% include "shop/_products.twig" %}
{% do action("woocommerce_after_shop_loop") %}

{% do action("woocommerce_after_main_content") %}
</main>

{% endblock %}
