///// CART

body.woocommerce-cart main > .woocommerce
  max-width: var(--siteWidth)

.shop_table
  --cartBorder: 1px solid #{rgba(--text, .2)}

  thead
    border-bottom: var(--cartBorder)
  th
    padding: 0.5rem
    text-transform: uppercase
    color: var(--textDim)

  th.product-name
    text-align: left

  .product-price,
  .product-quantity,
  .product-subtotal
    width: 15%
    text-align: center

.woocommerce-cart-form
  overflow: auto

  table
    min-width: 760px

.cart_item
  border-bottom: var(--cartBorder)

  a
    text-decoration: none

  td
    padding: 0.5rem

td.product-quantity
  input
    padding: 0.5rem 0
    width: 5rem
    margin: 0 auto
    text-align: center

td.actions
  padding: 0.5rem
  text-align: right

  .hoo-subtotal
    padding: 0.5rem 0

  .button
    text-transform: uppercase

  [name="update_cart"]
    border: none
    background-color: transparent

  @media ($below-s)
    text-align: left

// delete from cart
td.product-remove a,
.widget_shopping_cart_content .remove_from_cart_button
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

  background-color: var(--textInvert)
  border: 2px solid var(--text)
  border-radius: 50%
  min-width: 1.5rem
  height: 1.5rem

  font-weight: 700
  font-size: var(--fontSize)
  line-height: 1
  color: var(--text)

  &:hover
    background-color: var(--red)
    color: inherit
    text-decoration: none
    transform: translateY(-1px)
    box-shadow: var(--shadow1)

  &:active
    transform: none
    box-shadow: var(--shadow0)

///// CART Widget

.widget_shopping_cart
  position: relative

.widget_shopping_cart .widgettitle
  .header &
    display: flex
    align-items: center
  
    cursor: pointer
    padding: 0.5rem 1rem
    padding-left: 2.5rem
    background-color: var(--color1)
    border-radius: var(--gRadius)

    color: var(--textInvert)
    font-family: var(--fontFamily)
    font-size: var(--fontSize)
    font-weight: var(--fontWeight)
    text-align: center
    letter-spacing: 0

    animation: bounce 4s 2s infinite

    &::before
      content: ""
      position: absolute
      top: 50%
      left: 0.5rem
      transform: translateY(-50%)

      display: inline-block
      background: url('../svg/shopping-cart.svg') center center no-repeat
      background-size: contain
      width: 1.5rem
      height: 1.5rem


.widget_shopping_cart_content
  .header &
    visibility: hidden
    opacity: 0
    will-change: opacity, transform
  
    position: absolute
    z-index: 10
    top: 100%
    right: 0
    transform: translateX(1rem)
    transition: none

    background-color: var(--textInvert)
    padding: 1rem
    width: 320px

    box-shadow: var(--shadow1)
    border-radius: var(--gRadius)

    @media ($below-xs)
      padding: 0.75rem
      width: calc(100vw - var(--gridRim) - var(--gridRim))

  .header .is-active &,
  .header .widget_shopping_cart:hover &
    visibility: visible
    opacity: 1
    transform: none
    transition: var(--gTransition)

  .remove_from_cart_button
    position: absolute
    z-index: 2
    top: 0
    left: 0

@keyframes bounce
  0%,10%,25%,40%,50%
    -webkit-transform: translateY(0)
    transform: translateY(0)
  20%
    -webkit-transform: translateY(-10px)
    transform: translateY(-10px)
  30%
    -webkit-transform: translateY(-5px)
    transform: translateY(-5px)

// empty message
.woocommerce-mini-cart__empty-message
  .header &
    padding: var(--blockSpacing) 0
    text-align: center

// total price
.woocommerce-mini-cart__total
  padding-top: 1rem
  text-align: center

  strong
    display: block
    line-height: 1
    text-transform: uppercase
    color: var(--textDim)
    font-size: var(--xsmallFontSize)
    letter-spacing: 0.05em

  .amount
    font-size: var(--mediumFontSize)

.woocommerce-mini-cart__buttons
  display: flex
  padding-top: 0.5rem

  a
    padding: 0.5rem 0.75rem

  a:first-child
    background-color: transparent
    border: none

  a:last-child
    margin-left: auto