$include-normalize: false !default;
$include-grid: false !default;
$include-tile: false !default;
$include-typography: false !default;
$include-visibility: false !default;
$include-colors: false !default;
$output-framework: false !default;


@if $output-framework {
  /* EDJE Framework 3.0 - hrsetyono.github.io/edje */
}

// ------------
// NORMALIZER
// ------------
// Based on https://necolas.github.io/normalize.css/8.0.1

@if $output-framework and $include-normalize {

} // include-normalize


// ------------
// GRID SYSTEM
// ------------

@mixin tile(
  $per_row: false,
  $per_row_s: false,
  $per_row_xs: false,
  $gap: false,
  $collapse: false ) {

  @if $per_row {
    grid-template-columns: repeat( $per_row, 1fr );

    @if $per_row_s {
      @media ($below-s) {
        grid-template-columns: repeat( $per_row_s, 1fr );
      }
    }

    @if $per_row_xs {
      @media ($below-xs) {
        grid-template-columns: repeat( $per_row_xs, 1fr );
      }
    }
  }

  @if $gap {
    grid-column-gap: $gap;
    grid-row-gap: $gap;
  }

  @if $collapse {
    grid-column-gap: 0;
  }

}



// ------------
// TYPOGRAPHY
// ------------

@if $output-framework and $include-typography {

// ----- LIST -----



// Create font-face declaration
@each $name, $files in $font-faces {
  @each $file, $weight, $style in $files {
    @font-face {
      src: font-url($file);
      font-family: $name;
      font-weight: $weight;
      font-style: $style;
    }
  }
}


} // include-typography



// -----------
// VISIBILITY
// -----------

@if $output-framework and $include-visibility {

  @media ($above-s) {
    .hide-for-l,
    .show-for-s {
      display: none !important;
    }
  }
  
  @media ($below-s) {
    .hide-for-s,
    .show-for-l {
      display: none !important;
    }
  }
  
  @media ($above-xs) {
    .show-for-xs {
      display: none !important;
    }
  }
  
  @media ($below-xs) {
    .hide-for-xs {
      display: none !important;
    }
  }
  
} // include-visibility