
// ARCHIVE LAYOUT

.archive-column
  grid-column: span 12

  padding: var(--groupSpacing) 0
  
  > * + *
    margin-top: 2rem



///// ARCHIVES (Post Listing)

.archive-header
  position: relative

  h1, h2, p
    margin-bottom: 1rem
  a:hover
    text-decoration: underline

  .author &
    small
      display: block
      font-size: 1rem
      font-weight: var(--fontWeight)
    img
      float: right
      width: 70px
      border-radius: var(--gRadius)


.post-archives
  --archiveBg: white
  --archivePadding: 1.5rem
  --archiveImageHeight: 50%

  padding-left: 0

  a:active
    transition: none
    transform: translateY(1px)

  //
  @media ($below-m)
    --archivePadding: 1rem


// SINGLE ARCHIVE

.post-archive
  overflow: hidden
  display: flex
  flex-direction: column
  flex-wrap: wrap
  position: relative
  background-color: var(--archiveBg)
  padding: var(--archivePadding)

  border-radius: var(--gRadius)
  box-shadow: var(--shadow0)

  > *
    margin-bottom: var(--archivePadding)
  > *:last-child
    margin-bottom: 0

  a
    text-decoration: none

  h3
    font-size: var(--h5Size)
  h3 a
    display: block
    color: var(--text)
  h3 a:hover
    text-decoration: underline
    color: var(--linkColorHover)
  
  p
    font-size: var(--smallFontSize)

  .button
    align-self: flex-start
    justify-self: flex-start


// ARCHIVE FIGURE
.archive-figure
  --margin: calc(-1 * var(--archivePadding))

  width: calc( 100% + var(--archivePadding) + var(--archivePadding) )
  margin-right: var(--margin)
  margin-left: var(--margin)

  &:first-child
    margin-top: var(--margin)

  &:hover
    img
      opacity: .8
      transform: scale(1.05)

  img
    transition: var(--gTransition)

  &[data-image-fit]
    --fitHeight: var(--archiveImageHeight)


///// PAGINATION

.pagination
  display: flex
  justify-content: center

  color: var(--text)
  font-size: var(--smallFontSize)

  a,
  select
    display: flex
    align-items: center
    cursor: pointer

    background-color: transparent
    border: 2px solid var(--text)
    border-radius: 0
    width: auto

    color: var(--text)
    -webkit-appearance: none
    appearance: none
    will-change: transform

    &:hover
      background-color: rgba(--text, .1)
      transform: translateY(-1px)
      box-shadow: var(--shadow1)
    &:active
      transition: none
      transform: none
      box-shadow: var(--shadow0)

  select
    padding-right: 1rem
    padding-left: 1rem
    font-weight: var(--hFontWeight)
    text-transform: uppercase

  a
    padding-right: 0.25rem
    padding-left: 0.25rem

  a:nth-of-type(1)
    border-right: 0
    border-top-left-radius: var(--gRadius)
    border-bottom-left-radius: var(--gRadius)

  a:nth-of-type(2)
    border-left: 0
    border-top-right-radius: var(--gRadius)
    border-bottom-right-radius: var(--gRadius)

  svg
    height: 1rem

  path
    fill: var(--text)

  // no href
  a:not([href])
    visibility: hidden
    opacity: 0