$output-password-form: false
$output-infinite-scroll: false

// SINGLE POST LAYOUT

.post-grid
  --blogWidth: auto
  column-gap: 5rem

  @media ($below-l)
    column-gap: 2.5rem
  @media ($below-m)
    column-gap: 1rem
  @media ($below-s)
    column-gap: 0

.post-column
  --fontSize: 1.125rem
  --lineHeight: 1.7
  --blockSpacing: 1.75rem
  
  padding-top: var(--groupSpacing)
  padding-bottom: var(--groupSpacing)

  > * + *
    margin-top: var(--groupSpacing)


///// TITLE

.post-title
  h1, h2
    margin-bottom: 0.5rem


// Banner Title

.post-hero
  display: flex
  align-items: flex-end

  position: relative
  min-height: 250px
  padding-bottom: 2rem
  background-color: var(--mainLight)

  picture
    +absolute-fill

  picture::after
    content: ""
    +absolute-fill
    z-index: 5
    background-color: rgba(white, .5)

.hero-column
  position: relative
  z-index: 10
  grid-column: span 8

  @media ($below-m)
    grid-column: span 12


.hero-column--narrow
  grid-column: span 12

  > *
    max-width: var(--blogWidth)
    margin-right: auto
    margin-left: auto


///// POST META

.post-meta
  --metaGap: 0.5rem

  display: flex
  flex-wrap: wrap
  align-items: center
  margin-top: 1rem
  
  color: var(--textDim)
  font-size: var(--smallFontSize)

  > *
    display: inline-block
    margin-right: 0.75rem
    margin-bottom: 0.25rem

  > *:last-child
    margin-right: 0

  a
    display: inline-block
    color: inherit
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    transition: none
    transform: translateY(1px)

  i::before
    content: ''
    display: inline-block
    opacity: .5
    background-image: var(--iconSVG)
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    width: 1rem
    height: 1rem
    vertical-align: sub

  .post-title &
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    border-top: 1px solid rgba(black, .2)
    border-bottom: 2px solid rgba(black, .2)

  .post-archive &
    &:last-child
      margin-top: auto


.meta-date
  --iconSVG: url('../svg/calendar-alt.svg')

.meta-comments
  --iconSVG: url('../svg/comments-alt.svg')


.meta-categories,
.meta-tags
  a
    display: inline-block
    padding: 0 0.375rem
    background-color: var(--buttonBg)
    border-radius: var(--gRadius)

    color: var(--buttonColor)
    will-change: transform

    .post-hero &
      background-color: var(--main)
      color: white

  a:hover
    transform: translateY(-2px)
    box-shadow: var(--shadow1)

  a:active
    transition: none
    transform: none
    box-shadow: var(--shadow0)

  
.meta-categories
  --buttonBg: var(--mainLight)
  --buttonBgHover: var(--mainLight)
  --buttonColor: var(--text)
  --buttonColorHover: var(--text)

  margin-right: 0.25rem
  
  a
    text-transform: uppercase
    letter-spacing: 0.025em


.meta-tags
  --buttonBg: rgba(--text, .075)
  --buttonBgHover: rgba(--text, .15)
  --buttonColor: var(--textDim)
  --buttonColorHover: var(--text)

  --iconSVG: url('../svg/tags.svg')


///// POST FEATURED IMAGE

.featured-image
  display: flex
  align-items: center
  padding: 0

  picture
    overflow: hidden
    width: 100%

  img
    margin-right: auto
    margin-left: auto
    border-radius: var(--gRadius)


///// SINGLE AUTHOR

.post-author
  padding: 1rem
  background-color: var(--textInvert)
  box-shadow: 0px 50px 90px rgba(210, 213, 218, 0.4)

  body.archive &
    background-color: transparent
    margin-bottom: 2rem
    box-shadow: none

  a:active
    transition: none
    transform: translateY(1px)

  //
  @media ($above-xs)
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: auto auto
    grid-column-gap: 1.5rem
    grid-row-gap: 0.5rem


// Avatar
.author-avatar
  grid-row: span 2

  img
    border-radius: 50%
    background-color: var(--siteBgColor)
    height: 4em
    width: 4em
    box-shadow: var(--shadow1)

  //
  @media ($below-xs)
    float: right


// Author text
.author-bio
  grid-column: 2 / span 1
  font-size: var(--smallFontSize)
  
  * + *
    margin-top: 0.5rem

  a
    display: inline-block
    color: inherit
    text-decoration: none

  a:hover
    color: inherit
    text-decoration: underline

  label
    margin-bottom: -0.5rem
    color: var(--textDim)

  h5, h6
    text-transform: uppercase
    letter-spacing: 0.025em


// Social media links
.author-links
  --linkColor: var(--textDim)

  display: flex
  flex-wrap: wrap
  grid-column: 2 / span 1

  margin: 0.5rem -0.5rem 0
  font-size: var(--smallFontSize)

  a
    display: flex
    align-items: center
    padding: 0 0.5rem

  a:hover
    --linkColor: var(--main)

  svg
    width: 1rem
    margin-right: 0.25rem
  path
    fill: var(--linkColor)
    transition: var(--gTransition)


///// POST NAV

.post-nav
  display: flex

  a
    display: flex
    flex: 1
    align-items: center
    padding: 0.5rem 0
    max-width: 50%
    color: var(--text)

  a:hover
    opacity: .75
    span
      text-decoration: underline
  a:active
    transition: none
    transform: translateY(1px)

  img
    width: 70px
    height: 70px
    margin-right: 0.5rem
    background-color: var(--textDim)
    border-radius: 50%

  p
    flex: 1
    font-weight: var(--hFontWeight)

  em
    display: block

    text-transform: uppercase
    font-size: var(--xsmallFontSize)
    font-style: normal
    font-weight: 400

  span
    font-family: var(--hFontFamily)

  //
  @media ($below-xs)
    flex-wrap: wrap

    a
      flex: auto
      width: 100%
      max-width: 100%

.nav-next
  flex-direction: row-reverse
  text-align: right

  img
    margin-right: 0
    margin-left: 0.5rem



///// RELATED POSTS

.related-posts
  --blogWidth: var(--siteWidth)
  --postsPerRow: 3 // always 3 no matter what the setting is

  padding-top: 2rem
  padding-bottom: 2rem
  background-color: var(--panelBg)

  .related-title
    margin-bottom: 2rem
    font-weight: var(--fontWeight)

  .post-archive
    background-color: var(--siteBgColor)

  //
  @media ($below-m)
    --postsPerRow: 2
  
  @media ($below-s)
    --padding: 2rem

  @media ($below-xs)
    --postsPerRow: 1

  

///// COMMENTS

.post-comments
  padding: 0 calc( var(--gridGap) / 2 )
  max-width: var(--blogWidth)
  margin: var(--groupSpacing) auto

  h4
    margin-bottom: 1rem
    text-align: center

.comments-list
  padding-left: 0
  margin-top: 2rem
  list-style-type: none

  > li
    padding: 1.25rem
    margin-bottom: 1.5rem
    background-color: white
    border: 1px solid rgba(black, .1)
    border-radius: var(--gRadius)

// Single Comment
.comment
  position: relative

  &.bypostauthor .comment-avatar
    padding: 1px

  .avatar
    margin-right: 0.75rem
    width: 2.5em
    height: 2.5em


.comment-header
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: 0.5rem

  time
    margin-left: 0.5rem
    font-size: var(--smallFontSize)
    color: var(--textDim)

.comment-text
  > * + *
    margin-top: 1rem

  ul, ol
    padding-left: 1.5rem

  ul
    list-style-type: var(--ulStyle)
  ol
    list-style-type: var(--olStyle)
  a
    text-decoration: underline

  h1, h2, h3
    font-size: var(--h5Size)

  code
    background-color: rgba(black, .05)

  pre code
    display: block
    padding: 0.5rem


  


// Child comments
.replies-list
  margin-top: 1.5rem
  padding-left: 1.25rem
  border-left: 2px solid rgba(black , .1)
  list-style-type: none
  
  .comment
    font-size: var(--smallFontSize)

  > li + li
    margin-top: 1.5rem
  header
    margin-bottom: 0.5rem
  p + p
    margin-top: 0.5rem


// Reply link
a.comment-reply-link
  position: absolute
  top: 5px
  right: 0

  padding-right: 0.5rem
  padding-left: 0.5rem
  border-radius: var(--gRadius)
  background-color: rgba(--main, .1)
  font-size: var(--smallFontSize)
  font-weight: var(--hFontWeight)
  letter-spacing: 0.05em
  text-transform: uppercase

  &:hover
    background-color: rgba(--main, .25)
  &:active
    transition: none
    transform: translateY(1px)


///// COMMENT FORM /////

.comment-reply-title
  display: none

.comment-respond
  margin-bottom: 2rem

  .comments-list & // if reply
    width: 110%
    margin: 0 -5%

.comment-form
  display: flex
  flex-wrap: wrap
  padding: 1rem
  background-color: white
  border-radius: var(--gRadius)
  box-shadow: var(--shadow0)

  .comments-list & // if reply
    margin-top: 1.25rem

  p
    display: flex
    flex-direction: column
    width: 100%
    margin-bottom: 1rem

  label
    cursor: pointer
    margin-bottom: 0.5rem
    text-transform: uppercase
    color: var(--textDim)
    letter-spacing: 0.05em
    font-size: var(--smallFontSize)

  .comment-notes,
  .logged-in-as
    display: block
    color: var(--textDim)
    font-size: var(--smallFontSize)

  .h-comment-notification-consent
    flex-direction: row

    input
      margin-right: 0.5rem
  

// Textarea
.comment-form-comment
  label
    display: none

  textarea
    height: 12rem
    border-radius: 0 var(--gRadius) var(--gRadius) 0

p.comment-form-author,
p.comment-form-email
  width: 50%

  @media ($below-xs)
    width: 100%

p.comment-form-author
  padding-right: 0.5rem

p.comment-form-email
  padding-left: 0.5rem

p.comment-form-url
  display: none

p.comment-form-cookies-consent
  flex-direction: row

  input
    margin-top: 1px
    margin-right: 0.5rem

  label
    display: inline-block
    text-transform: none

p.form-submit
  align-items: flex-end
  margin-bottom: 0


///// POST PASSWORD FORM
@if $output-password-form
  .post-password-form
    padding: 2rem 4rem
    background-color: rgba(black, .05)
    border-radius: var(--gRadius)

    p:last-child
      display: flex
      border-bottom: 1px solid var(--textDim)
      padding-bottom: 0.5rem

    label
      flex: 1
      color: var(--textDim)

    input[type="password"]
      background-color: transparent
      border: none
      margin-top: 1rem
      padding: 0

      font-size: var(--h3Size)
      color: var(--text)
      letter-spacing: 0.05em
      
      &:hover,
      &:focus
        border: none
        box-shadow: none

    input[type="submit"]
      align-self: flex-end
      background-color: white
      padding-right: 2rem
      padding-left: 2rem